<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-input
        @keyup.enter.native="handleFilter"
        style="width: 200px;"
        class="filter-item"
        placeholder="名称"
        v-model="listQuery.name"
      ></el-input>
      <el-input
        @keyup.enter.native="handleFilter"
        style="width: 200px;"
        class="filter-item"
        placeholder="规格型号"
        v-model="listQuery.model"
      ></el-input>
      <el-input
        @keyup.enter.native="handleFilter"
        style="width: 200px;"
        class="filter-item"
        placeholder="产品分类"
        v-model="listQuery.typeName"
      ></el-input>
      <el-button class="filter-item" type="primary" v-waves icon="search" @click="handleFilter">搜索</el-button>
      <el-button
        class="filter-item"
        v-if="goodsManager_btn_add"
        style="margin-left: 10px;"
        @click="handleCreate"
        type="primary"
        icon="edit"
      >添加</el-button>
    </div>
    <el-table
      :key="tableKey"
      :data="list"
      v-loading.body="listLoading"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <!-- <el-table-column align="center" label="ID" width="65">
        <template slot-scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>-->
      <el-table-column width="200px" align="center" label="名称">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="规格">
        <template slot-scope="scope">
          <span>{{scope.row.specName}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="产品长度">
        <template slot-scope="scope">
          <span>{{scope.row.goodsLength}}m</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="规格型号">
        <template slot-scope="scope">
          <span>{{scope.row.model}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="计量单位">
        <template slot-scope="scope">
          <span>{{scope.row.unitName}}</span>
        </template>
      </el-table-column>

      <el-table-column width="200px" align="center" label="销售单价">
        <template slot-scope="scope">
          <span>{{scope.row.salePrice}}元/吨</span>
        </template>
      </el-table-column>

      <el-table-column width="200px" align="center" label="产品类型">
        <template slot-scope="scope">
          <span>{{scope.row.typeName}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column width="200px" align="center" label="乐观锁">
        <template slot-scope="scope">
          <span>{{scope.row.revision}}</span>
        </template>
      </el-table-column>-->
      <!-- <el-table-column width="200px" align="center" label="创建人">
        <template slot-scope="scope">
          <span>{{scope.row.createdBy}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="创建时间">
        <template slot-scope="scope">
          <span>{{scope.row.createdTime}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="更新人">
        <template slot-scope="scope">
          <span>{{scope.row.updatedBy}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="更新时间">
        <template slot-scope="scope">
          <span>{{scope.row.updatedTime}}</span>
        </template>
      </el-table-column>-->
      <!-- <el-table-column width="200px" align="center" label="所属公司">
        <template slot-scope="scope">
          <span>{{scope.row.compId}}</span>
        </template>
      </el-table-column>-->
      <el-table-column align="center" label="操作" width="250">
        <template slot-scope="scope">
          <el-button
            v-if="goodsManager_btn_edit"
            size="small"
            type="success"
            @click="handleUpdate(scope.row)"
          >编辑</el-button>
          <el-button
            v-if="goodsManager_btn_del"
            size="small"
            type="danger"
            @click="handleDelete(scope.row)"
          >删除</el-button>
          <el-button size="mini" type="info" @click="handleChoose(scope.row)">选择</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[10,20,30, 50]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="form" label-width="100px">
        <el-form-item label="名称" prop="name">
          <el-input v-model="form.name" placeholder="请输入名称"></el-input>
        </el-form-item>
        <el-form-item label="规格" prop="specName">
          <el-input placeholder="请选择产品规格" v-model="form.specName">
            <el-button type="info" slot="append" @click="handleChooseGoodsSpec">选择</el-button>
          </el-input>
        </el-form-item>
        <el-form-item label="长度（m）" prop="goodsLength">
          <el-input v-model="form.goodsLength" placeholder="请输入产品长度"></el-input>
        </el-form-item>

        <el-form-item label="规格型号" prop="model">
          <el-input v-model="form.model" placeholder="请输入规格型号"></el-input>
        </el-form-item>

        <el-form-item label="计量单位" prop="unitName">
          <el-select v-model="form.unitName" placeholder="请选择单位">
            <el-option v-for="item in  units" :key="item" :label="item" :value="item"></el-option>
          </el-select>
        </el-form-item>
        <!-- <el-form-item label="生产产商" prop="supplierId">
          <el-input v-model="form.supplierId" placeholder="请输入生产产商"></el-input>
        </el-form-item>-->
        <el-form-item label="销售单价" prop="salePrice">
          <el-input v-model="form.salePrice" placeholder="请输入销售单价(元/吨)"></el-input>
        </el-form-item>

        <el-form-item label="产品类型" prop="typeName">
          <el-input v-model="form.typeName" placeholder="请输入产品类型" readonly></el-input>
        </el-form-item>
        <!-- <el-form-item label="乐观锁" prop="revision">
          <el-input v-model="form.revision" placeholder="请输入乐观锁"></el-input>
        </el-form-item>
        <el-form-item label="创建人" prop="createdBy">
          <el-input v-model="form.createdBy" placeholder="请输入创建人"></el-input>
        </el-form-item>
        <el-form-item label="创建时间" prop="createdTime">
          <el-input v-model="form.createdTime" placeholder="请输入创建时间"></el-input>
        </el-form-item>
        <el-form-item label="更新人" prop="updatedBy">
          <el-input v-model="form.updatedBy" placeholder="请输入更新人"></el-input>
        </el-form-item>
        <el-form-item label="更新时间" prop="updatedTime">
          <el-input v-model="form.updatedTime" placeholder="请输入更新时间"></el-input>
        </el-form-item>
        <el-form-item label="所属公司" prop="compId">
          <el-input v-model="form.compId" placeholder="请输入所属公司"></el-input>
        </el-form-item>-->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel('form')">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create('form')">确 定</el-button>
        <el-button v-else type="primary" @click="update('form')">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="产品规格选择" :visible.sync="dialogGoodsSpec" width="70%" top="15vh">
      <goods-spec v-on:chooseGoodsSpecCall="chooseGoodsSpecCall"></goods-spec>
    </el-dialog>
  </div>
</template>

<script>
import {
  page,
  addObj,
  getObj,
  delObj,
  putObj
} from "api/erp/storage/goods/index";
import goodsSpec from "views/erp/storage/goodsSpec/index";
import { mapGetters } from "vuex";
export default {
  name: "goods",
  components: {
    goodsSpec
  },
  props: ["index"],
  data() {
    return {
      form: {
        name: undefined,
        specId: undefined,
        unitName: undefined,
        supplierId: undefined,
        salePrice: undefined,
        goodsLength: undefined,
        typeId: undefined,
        specName: undefined,
        typeName: undefined,
        revision: undefined,
        createdBy: undefined,
        createdTime: undefined,
        updatedBy: undefined,
        updatedTime: undefined,
        compId: undefined,
        model: undefined
      },
      dialogGoodsSpec: false,
      units: ["支", "件"],
      rules: {
        model: [
          {
            required: true,
            message: "请输入规格型号",
            trigger: "blur"
          },
          {
            min: 1,
            max: 32,
            message: "长度在 1 到 32 个字符",
            trigger: "blur"
          }
        ],
        name: [
          {
            required: false,
            message: "请输入名称",
            trigger: "blur"
          },
          {
            min: 1,
            max: 20,
            message: "长度在 1 到 20 个字符",
            trigger: "blur"
          }
        ],
        specName: [
          {
            required: true,
            message: "请输入规格",
            trigger: "blur"
          },
          {
            min: 1,
            max: 20,
            message: "长度在 1 到 20 个字符",
            trigger: "blur"
          }
        ],
        unitName: [
          {
            required: true,
            message: "请输入单位 支、件",
            trigger: "blur"
          },
          {
            min: 1,
            max: 5,
            message: "长度在 1 到 5 个字符",
            trigger: "blur"
          }
        ],
        supplierId: [
          {
            required: true,
            message: "请输入生产产商",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        salePrice: [
          {
            required: false,
            message: "请输入销售单价",
            trigger: "blur"
          }
        ],
        goodsLength: [
          {
            required: true,
            message: "请输入产品长度",
            trigger: "blur"
          }
        ],
        typeName: [
          {
            required: true,
            message: "请输入产品类型",
            trigger: "blur"
          },
          {
            min: 1,
            max: 20,
            message: "长度在 1 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        name: undefined,
        model: undefined,
        typeName: undefined
      },
      dialogFormVisible: false,
      dialogStatus: "",
      goodsManager_btn_edit: false,
      goodsManager_btn_del: false,
      goodsManager_btn_add: false,
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0
    };
  },
  created() {
    this.getList();
    this.goodsManager_btn_edit = this.elements["goodsManager:btn_edit"];
    this.goodsManager_btn_del = this.elements["goodsManager:btn_del"];
    this.goodsManager_btn_add = this.elements["goodsManager:btn_add"];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    handleChoose(row) {
      row.index = this.index;
      this.$emit("chooseGoodsCall", row);
    },

    chooseGoodsSpecCall(msg) {
      this.form.typeName = msg.typeName;
      this.form.typeId = msg.typeId;
      this.form.specId = msg.id;
      this.form.specName = msg.name;
      this.dialogGoodsSpec = false;
    },
    handleChooseGoodsSpec() {
      this.dialogGoodsSpec = true;
    },
    getList() {
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.rows;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
    },
    handleUpdate(row) {
      getObj(row.id).then(response => {
        this.form = response.data;
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
      });
    },
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    create(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          addObj(this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    cancel(formName) {
      this.dialogFormVisible = false;
      const set = this.$refs;
      set[formName].resetFields();
    },
    update(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          this.dialogFormVisible = false;
          this.form.password = undefined;
          putObj(this.form.id, this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    resetTemp() {
      this.form = {
        username: undefined,
        name: undefined,
        sex: "男",
        password: undefined,
        description: undefined
      };
    }
  }
};
</script>
