<template>

  <el-row style="margin-left:30px;">
    <el-tabs v-model="activeName" style="margin-top:2vh">
      <el-tab-pane label="部门管理" name="first"></el-tab-pane>
    </el-tabs>
    <el-col :span="24" style="margin-top:15px;">
        <el-button size="small" style="margin-right:5px;" type="primary" plain icon="el-icon-d-arrow-left" @click="$router.back(-1)">返回</el-button>
        <el-button size="small" style="margin-right:5px;" type="primary" v-if="departManager_btn_add" icon="plus" @click="handlerAdd">添加</el-button>
        <el-button size="small" style="margin-right:5px;" type="primary" v-if="departManager_btn_edit" icon="edit" @click="handlerEdit">编辑</el-button>
        <el-button size="small" type="primary" v-if="departManager_btn_del" icon="delete" @click="handleDelete">删除</el-button>
    </el-col>
    <el-col :span="8" style="margin-top:15px;">
      <el-card class="box-card">
      <el-input size="mini" placeholder="输入关键字进行过滤" v-model="filterText"></el-input>
      <el-tree
        class="filter-tree"
        :data="treeData"
        node-key="id"
        highlight-current
        :props="defaultProps"
        :filter-node-method="filterNode"
        ref="groupTree"
        @node-click="getNodeData"
        default-expand-all
        style="margin-top:15px;"
      ></el-tree>
      </el-card>
    </el-col>
    <el-col :span="15" style="margin-top:15px;margin-left:15px;">
      <el-card class="box-card">
        <el-form :label-position="labelPosition" label-width="80px" :model="form" ref="form">
          <el-form-item label="部门名称">
            <el-input size="small" v-model="form.name" ::disabled="formEdit" ></el-input>
          </el-form-item>
          <el-form-item label="部门编码">
            <el-input size="small" v-model="form.code" ::disabled="formEdit"></el-input>
          </el-form-item>
          <el-form-item label="描述">
            <el-input size="small" v-model="form.description" ::disabled="formEdit"></el-input>
          </el-form-item>
          <el-form-item v-if="formStatus == 'update'">
            <el-button size="small" type="primary" v-if="departManager_btn_edit" @click="update">更新</el-button>
            <el-button size="small" @click="onCancel">取消</el-button>
          </el-form-item>
          <el-form-item v-if="formStatus == 'create'">
            <el-button size="small" type="primary" v-if="departManager_btn_add" @click="create">保存</el-button>
            <el-button size="small" @click="onCancel">取消</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
import {
  fetchTree,
  getObj,
  addObj,
  delObj,
  putObj
} from "api/admin/depart/index";
import { mapGetters } from "vuex";
export default {
  name: "groupDetail",
  data() {
    return {
      activeName: "first",
      filterText: "",
      list: null,
      total: null,
      formEdit: true,
      formAdd: true,
      formStatus: "",
      listQuery: {
        name: undefined
      },
      treeData: [],
      defaultProps: {
        children: "children",
        label: "label"
      },
      labelPosition: "right",
      departManager_btn_edit: false,
      departManager_btn_del: false,
      departManager_btn_add: false,
      form: {
        code: undefined,
        name: undefined,
        description: undefined,
        groupType: this.type
      },
      currentId: -1
    };
  },
  watch: {
    filterText(val) {
      this.$refs.groupTree.filter(val);
    }
  },
  created() {
    this.getList();
    this.departManager_btn_edit = this.elements["departManager:btn_edit"];
    this.departManager_btn_del = this.elements["departManager:btn_del"];
    this.departManager_btn_add = this.elements["departManager:btn_add"];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    getList() {
      fetchTree(this.listQuery).then(data => {
        this.treeData = data;
      });
    },
    filterNode(value, data) {
      if (!value) return true;
      return data.label.indexOf(value) !== -1;
    },
    getNodeData(data) {
      if (!this.formEdit) {
        this.formStatus = "update";
      }
      getObj(data.id).then(response => {
        this.form = response.data;
      });
      this.currentId = data.id;
    },
    handlerEdit() {
      if (this.form.id) {
        this.formEdit = false;
        this.formStatus = "update";
      }
    },
    handlerAdd() {
      this.resetForm();
      this.formEdit = false;
      this.formStatus = "create";
    },
    handleDelete() {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(this.currentId).then(() => {
          this.getList();
          this.resetForm();
          this.onCancel();
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
        });
      });
    },
    update() {
      putObj(this.form.id, this.form).then(() => {
        this.getList();
        this.$notify({
          title: "成功",
          message: "创建成功",
          type: "success",
          duration: 2000
        });
      });
    },
    create() {
      addObj(this.form).then(() => {
        this.getList();
        this.$notify({
          title: "成功",
          message: "创建成功",
          type: "success",
          duration: 2000
        });
      });
    },
    onCancel() {
      this.formEdit = true;
      this.formStatus = "";
    },
    resetForm() {
      this.form = {
        parentId: this.currentId,
        code: undefined,
        name: undefined,
        description: undefined,
        groupType: this.type
      };
    }
  }
};
</script>
