<template>
  <div class="app-container calendar-list-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="参数设置" name="first"></el-tab-pane>
    </el-tabs>
		<div class="filter-container">
				<el-button size="small" class="filter-item" type="primary" plain icon="el-icon-arrow-left" @click="goBack()">返回</el-button>
				<el-button size="small" class="filter-item" type="primary" style="margin-left:10px" icon="el-icon-document" @click="handleFormSubmit()">保存</el-button>
		</div>
		<el-form :model="settings" label-position="left" label-width="200px">
			<el-form-item>
				<template slot="label">
					<span class="form-lable">消息通知提醒</span>
				</template>
				<div class="settings-item">
					<span class="settins-item-title">短信通知开关</span>
					<el-switch v-model="settings.messageSms"></el-switch>
				</div>
				<div class="settings-item">
					<span class="settins-item-title">邮件通知开关</span>
					<el-switch v-model="settings.messageEmail"></el-switch>
				</div>
			</el-form-item>
			<hr>
			<el-form-item>
				<template slot="label">
					<span class="form-lable">采购流程</span>
				</template>
				<div class="settings-item">
					<span class="settins-item-title">负差警戒值</span>
					<el-input v-model="settings.purchaseDeviation" style="width: 250px;" placeholder="请输入数值"></el-input>
				</div>
			</el-form-item>
		</el-form>
  </div>
</template>

<script>
import { save, load } from "api/admin/company/settings"

export default {
	name: "param",
	data() {
		return {
      activeName: "first",
			settings: {
				id: undefined,
				messageSms: false,
				messageEmail: false,
				purchaseDeviation: undefined
			}
		}
	},
	methods: {
		goBack() {
			this.$router.history.go(-1);
		},
		loadSettings() {
			load().then(res => this.settings = res);
		},
		handleFormSubmit() {
			save(this.settings).then(res => {
				this.$notify({
          title: "成功",
          message: "保存成功",
          type: "success",
          duration: 2000
				});
				this.loadSettings();
			});
		}
	},
	created() {
		this.loadSettings();
	}
}
</script>

<style scoped>
.form-lable {
	font-size: 16px;
}
.settins-item-title {
	margin-right: 10px;
}
hr {
	background: none repeat scroll 0 0 gray;
	border: thin none;
	height: 1px;
}
</style>

