<template>
  <div class="app-container calendar-list-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="港口管理" name="first"></el-tab-pane>
    </el-tabs>
    <div class="filter-container">
      <el-input
        size="small"
        @keyup.enter.native="handleFilter"
        style="width: 200px;"
        class="filter-item"
        placeholder="港口名称"
        v-model="listQuery.name"
      ></el-input>
      <el-input
        size="small"
        @keyup.enter.native="handleFilter"
        style="width: 200px;"
        class="filter-item"
        placeholder="港口地址"
        v-model="listQuery.location"
      ></el-input>
      <el-button
        size="small"
        class="filter-item"
        style="margin-left:10px"
        type="primary"
        v-waves
        icon="el-icon-search"
        @click="handleFilter"
      >搜索</el-button>
      <el-button
        size="small"
        class="filter-item"
        v-if="invenPortManager_btn_add"
        style="margin-left: 10px;"
        @click="handleCreate"
        type="primary"
        icon="edit"
      >添加</el-button>
      <input name="file" type="file" @change="handleUpload($event)" hidden ref="fileInput">
      <el-button
        size="small"
        class="filter-item"
        type="primary"
        style="margin-left: 10px;"
        @click="$router.back(-1)"
        plain
        icon="el-icon-d-arrow-left"
      >返回</el-button>
    </div>
    <el-table
      :key="tableKey"
      :data="list"
      v-loading.body="listLoading"
      :header-cell-style="tableClass"
      :cell-style="tableColumnClass"
      border
      fit
      :stripe="true"
      highlight-current-row
      style="width: 100%"
      height="52vh"
      size="mini"
    >
      <el-table-column width="200px" align="center" label="港口名称">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="港口地址">
        <template slot-scope="scope">
          <span>{{scope.row.location}}</span>
        </template>
      </el-table-column>
      <el-table-column width="180px" align="center" label="负责人">
        <template slot-scope="scope">
          <span>{{scope.row.contact}}</span>
        </template>
      </el-table-column>
      <el-table-column width="180px" align="center" label="联系方式1">
        <template slot-scope="scope">
          <span>{{scope.row.tel1}}</span>
        </template>
      </el-table-column>
      <el-table-column width="180px" align="center" label="联系方式2">
        <template slot-scope="scope">
          <span>{{scope.row.tel2}}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="操作" width="150">
        <template slot-scope="scope">
          <el-button
            v-if="invenPortManager_btn_edit"
            size="mini"
            type="success"
            @click="handleUpdate(scope.row)"
          >编辑</el-button>
          <el-button
            v-if="invenPortManager_btn_del"
            size="mini"
            type="danger"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[12,24,36, 48]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="form" label-width="100px">
        <el-form-item label="港口名称" prop="name">
          <el-input size="small" v-model="form.name" placeholder="请输入港口名称"></el-input>
        </el-form-item>
        <el-form-item label="港口地址" prop="location">
          <el-input size="small" v-model="form.location" placeholder="请输入港口地址"></el-input>
        </el-form-item>
        <el-form-item label="负责人" prop="contact">
          <el-input size="small" v-model="form.contact" placeholder="请输入负责人"></el-input>
        </el-form-item>
        <el-form-item label="联系方式1" prop="tel1">
          <el-input size="small" v-model="form.tel1" placeholder="请输入联系方式1"></el-input>
        </el-form-item>
        <el-form-item label="联系方式2" prop="tel2">
          <el-input size="small" v-model="form.tel2" placeholder="请输入联系方式2"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="small" @click="cancel('form')">取 消</el-button>
        <el-button size="small" v-if="dialogStatus=='create'" type="primary" @click="create('form')">确 定</el-button>
        <el-button size="small" v-else type="primary" @click="update('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  page,
  addObj,
  getObj,
  delObj,
  putObj
} from "api/erp/base-data/invenport/index";
import { mapGetters } from "vuex";
export default {
  name: "invenport",
  data() {
    return {
      tableClass: {
        'background-color': '#F8F8FF',
        "font-size": "1vw",
        padding: "5px"
      },
      tableColumnClass: {
        "font-size": "1vw",
        "padding": "1vh 0",
      },
      activeName: "first",
      form: {
        name: undefined,
        location: undefined,
        contact: undefined,
        tel1: undefined,
        tel2: undefined,
        revision: undefined,
        createdBy: undefined,
        createdTime: undefined,
        updatedBy: undefined,
        updatedTime: undefined
      },
      rules: {
        name: [
          {
            required: true,
            message: "请输入港口名称",
            trigger: "blur"
          },
          {
            min: 2,
            max: 20,
            message: "长度在 2 到 20 个字符",
            trigger: "blur"
          }
        ],
        location: [
          {
            required: true,
            message: "请输入港口地址",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        contact: [
          {
            required: true,
            message: "请输入负责人",
            trigger: "blur"
          },
          {
            min: 2,
            max: 20,
            message: "长度在 2 到 20 个字符",
            trigger: "blur"
          }
        ],
        tel1: [
          {
            required: true,
            message: "请输入联系方式1",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 8 到 20 个字符",
            trigger: "blur"
          }
        ],
        tel2: [
          {
            required: false,
            message: "请输入联系方式2",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 8 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 12,
        name: undefined,
        location: undefined
      },
      dialogFormVisible: false,
      dialogStatus: "",
      invenPortManager_btn_edit: false,
      invenPortManager_btn_del: false,
      invenPortManager_btn_add: false,
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0
    };
  },
  created() {
    this.getList();
    this.invenPortManager_btn_edit = this.elements["invenportManager:btn_edit"];
    this.invenPortManager_btn_del = this.elements["invenportManager:btn_del"];
    this.invenPortManager_btn_add = this.elements["invenportManager:btn_add"];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    getList() {
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.rows;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
    },
    handleUpdate(row) {
      getObj(row.id).then(response => {
        this.form = response.data;
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
      });
    },
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    create(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          addObj(this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    cancel(formName) {
      this.dialogFormVisible = false;
      const set = this.$refs;
      set[formName].resetFields();
    },
    update(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          this.dialogFormVisible = false;
          this.form.password = undefined;
          putObj(this.form.id, this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    resetTemp() {
      this.form = {
        username: undefined,
        name: undefined,
        sex: "男",
        password: undefined,
        description: undefined
      };
    }
  }
};
</script>
