<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>AG-Admin</title>
  </head>
  <body>
    <script src="<%= htmlWebpackPlugin.options.path %>/jquery.min.js"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/tinymce/tinymce.min.js"></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
