<template>
  <div class="app-container calendar-list-container">
		<div class="filter-container">
				<el-button size="small" class="filter-item" type="primary" plain icon="el-icon-d-arrow-left" @click="goBack()">返回</el-button>
				<el-button size="small" v-if="btn_save" class="filter-item" type="primary" @click="showCreateDialogForm()">新建定时任务</el-button>
		</div>
		<el-dialog :title="dialogFormProperty.title" :visible.sync="dialogFormVisible">
			<el-form :model="form" :rules="rules" label-width="100px">
				<el-form-item label="任务名称" prop="jobName">
					<el-input v-model="form.jobName" placeholder="请输入任务名称"></el-input>
				</el-form-item>
				<el-form-item label="任务分组" prop="jobGroup">
					<el-input v-model="form.jobGroup" placeholder="请输入任务分组"></el-input>
				</el-form-item>
				<el-form-item label="执行类" prop="jobClassName">
					<el-input v-model="form.jobClassName" placeholder="请输入执行类"></el-input>
				</el-form-item>
				<el-form-item label="执行时间" prop="cronExpression">
					<el-input v-model="form.cronExpression" placeholder="请输入执行时间"></el-input>
				</el-form-item>
				<el-form-item label="任务描述" prop="description">
					<el-input v-model="form.description" type="textarea" rows="3" placeholder="请输入任务描述"></el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="hiddenDialogForm()">取 消</el-button>
				<el-button type="primary" @click="handleFormSending()">{{dialogFormProperty.commitBtn}}</el-button>
			</div>
		</el-dialog>
		<el-table :data="list" style="width: 100%" v-loading.body="loading" border>
			<el-table-column align="center" label="任务名称">
        <template slot-scope="scope">
          <span>{{scope.row.jobName}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="任务分组">
        <template slot-scope="scope">
          <span>{{scope.row.jobGroup}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="执行类" width="500">
        <template slot-scope="scope">
          <span>{{scope.row.jobClassName}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="执行时间" width="150">
        <template slot-scope="scope">
          <span>{{scope.row.cronExpression}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="任务状态">
        <template slot-scope="scope">
          <span v-if="scope.row.triggerState == 'RUNNING'">运行中</span>
					<span v-if="scope.row.triggerState == 'COMPLETE'">完成</span>
					<span v-if="scope.row.triggerState == 'PAUSED'">已暂停</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="任务描述" width="500">
        <template slot-scope="scope">
          <span>{{scope.row.description}}</span>
        </template>
      </el-table-column>
			<el-table-column fixed="right" align="center" label="操作" width="400">
				<template slot-scope="scope">
					<el-button v-if="btn_pause" size="small" type="warning" @click="handlePauseClick(scope.row)">暂停</el-button>
					<el-button v-if="btn_trigger" size="small" type="primary" @click="handleTriggerClick(scope.row)">执行</el-button>
					<el-button v-if="btn_resume" size="small" type="primary" @click="handleResumeClick(scope.row)">启动</el-button>
					<el-button v-if="btn_save" size="small" type="success" @click="showUpdateDialogForm(scope.row)">编辑</el-button>
					<el-button v-if="btn_remove" size="small" type="danger" @click="handleRmoveClick(scope.row)">删除</el-button>
				</template>
			</el-table-column>
		</el-table>
		<div v-show="!loading" class="pagination-container">
      <el-pagination
        @size-change="handleListSizeChange"
        @current-change="handleListCurrentChange"
        :current-page.sync="query.page"
        :page-sizes="[10,20,30, 50]"
        :page-size="query.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total">
			</el-pagination>
    </div>
  </div>
</template>

<script>
import * as jobService from "api/admin/quartz/job";
import { mapGetters } from "vuex";

export default {
	name: "task",
	data() {
		return {
			form: Initor.newForm(),
			rules: {
				jobName: [{
					required: true,
					message: "请输入任务名称",
					trigger: "blur"
				}, {
					min: 0,
					max: 50,
					message: "长度不能超过50个字符",
					trigger: "blur"
				}],
				jobGroup: [{
					required: true,
					message: "请输入任务分组",
					trigger: "blur"
				}, {
					min: 0,
					max: 50,
					message: "长度不能超过50个字符",
					trigger: "blur"
				}],
				jobClassName: [{
					required: true,
					message: "请输入执行类",
					trigger: "blur"
				}, {
					min: 0,
					max: 100,
					message: "长度不能超过100个字符",
					trigger: "blur"
				}],
				cronExpression: [{
					required: true,
					message: "请输入执行时间",
					trigger: "blur"
				}, {
					min: 0,
					max: 100,
					message: "长度不能超过100个字符",
					trigger: "blur"
				}]
			},
			dialogFormVisible: false,
			dialogFormProperty: {
				title: undefined,
				commitBtn: undefined
			},
			dialogFormProperties: {
				isCreate: {
					title: "新建定时任务",
					commitBtn: "创 建"
				},
				isUpdate: {
					title: "更新任务信息",
					commitBtn: "更 新"
				}
			},
			list: [],
			total: undefined,
			query: {
				page: 1,
				limit: 20
			},
			loading: true,
			btn_remove: false,
			btn_resume: false,
			btn_save: false,
			btn_pause: false,
			btn_trigger: false,
			view_page: false
		}
	},
	methods: {
		goBack() {
			this.$router.history.go(-1);
		},
		showCreateDialogForm() {
			this.dialogFormProperty = this.dialogFormProperties.isCreate;
			this.dialogFormVisible = true;
			this.form = Initor.newForm();
		},
		showUpdateDialogForm(job) {
			this.dialogFormProperty = this.dialogFormProperties.isUpdate;
			this.dialogFormVisible = true;
			this.form = JSON.parse(JSON.stringify(job));
		},
		hiddenDialogForm() {
			this.dialogFormVisible = false;
			this.form = Initor.newForm();
		},
		handleFormSending() {
			jobService.save(this.form).then(res => {
				this.$notify({
          title: "成功",
          message: this.form.id ? "任务信息成功更新" : "任务成功创建",
          type: "success",
          duration: 2000
				});
				this.hiddenDialogForm();
				this.getList();
			});
		},
		getList() {
			this.loading = true;
			jobService.findPage(this.query).then(res => {
				this.list = res.rows;
				this.total = res.total;
				this.loading = false;
			});
		},
		handleListSizeChange(val) {
			this.query.limit = val;
			this.getList();
		},
		handleListCurrentChange(val) {
			this.query.page = val;
			this.getList();
		},
		handlePauseClick(job) {
			jobService.pause(job.jobName, job.jobGroup).then(res => {
				this.$notify({
          title: "成功",
          message: "任务已暂停",
          type: "success",
          duration: 2000
				});
				this.getList();
			});
		},
		handleTriggerClick(job) {
			jobService.trigger(job.jobName, job.jobGroup).then(res => {
				this.$notify({
          title: "成功",
          message: "任务成功执行了一次",
          type: "success",
          duration: 2000
				});
				this.getList();
			});
		},
		handleResumeClick(job) {
			jobService.resume(job.jobName, job.jobGroup).then(res => {
				this.$notify({
          title: "成功",
          message: "任务成功运行",
          type: "success",
          duration: 2000
				});
				this.getList();
			});
		},
		handleRmoveClick(job) {
			this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        jobService.remove(job.jobName, job.jobGroup).then(res => {
					this.$notify({
						title: "成功",
						message: "任务成功删除",
						type: "success",
						duration: 2000
					});
					this.getList();
				});
      });
		}
	},
	created() {
		this.getList();
		this.btn_remove = this.elements["quartz:btn_remove"];
		this.btn_resume = this.elements["quartz:btn_resume"];
		this.btn_save = this.elements["quartz:btn_save"];
		this.btn_pause = this.elements["quartz:btn_pause"];
		this.btn_trigger = this.elements["quartz:btn_trigger"];
		this.view_page = this.elements["quartz:view_page"];
	},
	computed: {
    ...mapGetters(["elements"])
  }
}

class Initor {
	static newForm() {
		return {
			id: undefined,
			jobName: undefined,
			jobGroup: undefined,
			description: undefined,
			jobClassName: undefined,
			cronExpression: undefined,
			triggerState: undefined,
			oldJobName: undefined,
			oldJobGroup: undefined
		}
	}
}
</script>

<style scoped>

</style>


