<template>
  <div class="app-container calendar-list-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="文件共享" name="first"></el-tab-pane>
    </el-tabs>
    <div class="filter-container">
      <el-button
        size="small"
        class="filter-item"
        type="primary"
        plain
        icon="el-icon-d-arrow-left"
        @click="$router.back(-1)"
      >返回</el-button>
      <el-button
        size="small"
        v-if="btn_folderAdd"
        class="filter-item"
        type="primary"
        @click="showFileInfoForm('新建文件夹', true, { name: '' })"
      >新建文件夹</el-button>
      <el-button
        size="small"
        v-if="btn_fileAdd"
        class="filter-item"
        type="primary"
        @click="showUploadForm()"
      >上传文件</el-button>
    </div>

    <el-table-column
      :data="tableData"
      stripe
      style="width: 100%"
      class="fileTree"
      v-for="(item, index) in fileInfoList"
      :key="index"
    >
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>{{item.title}}</span>
          <span style="font-size:14px;margin-left:20px;">( 文件上传最大值限制为{{maxSize}} )</span>
          <el-button style="float: right; padding: 3px 0" type="text">按钮操作</el-button>
        </div>
        <el-tree
          v-if="item.isMine"
          :data="item.treeData"
          :props="fileListProps"
          node-key="id"
          :render-content="renderMineFiles"
        ></el-tree>
        <el-tree
          v-else
          :data="item.treeData"
          :props="fileListProps"
          node-key="id"
          :render-content="renderShareFiles"
        ></el-tree>
      </el-card>
    </el-table-column>
    <!-- <el-table
      v-loading="isLoading"
      element-loading-text="正在拼命上传中..."
      element-loading-spinner="el-icon-loading"
      border
      fit
      highlight-current-row
      :data="tableData"
      style="width: 100%"
    ></el-table>-->
    <!-- 隐藏的弹出框 -->
    <el-dialog :title="fileInfoDialogTitle" :visible.sync="fileInfoDialogVisible">
      <el-form :model="fileInfo" :rules="rules" label-width="100px">
        <el-form-item label="名称" prop="name">
          <el-input v-model="fileInfo.name" placeholder="请输入名称"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="hiddenFileInfoForm()">取 消</el-button>
        <el-button v-if="isCreate" type="primary" @click="handleFileInfoCreate()">创 建</el-button>
        <el-button v-else type="primary" @click="handleFileInfoUpdate()">修 改</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as fileService from "api/file/index";
import * as userService from "api/admin/user/index";
import * as loginService from "api/login";
import * as authUtils from "utils/auth";
import fetch from "utils/fetch";
import { mapGetters } from "vuex";

export default {
  name: "file",
  data() {
    return {
      activeName: "first",
      maxSize: undefined,
      fileInfo: {
        id: undefined,
        name: undefined,
        createBy: undefined,
        companyId: undefined,
        updateDate: undefined,
        parentId: undefined,
        pwd: undefined,
        suffix: undefined,
        isFile: undefined,
        usersId: undefined
      },
      rules: {
        name: [
          {
            required: true,
            message: "请输入名称",
            trigger: "blur"
          },
          {
            min: 0,
            max: 64,
            message: "长度不能超过64个字符",
            trigger: "blur"
          }
        ]
      },
      fileInfoDialogTitle: undefined,
      fileInfoDialogVisible: false,
      isCreate: false,
      fileInfoList: [],
      fileListProps: {
        children: "childs",
        label: "name"
      },
      isLoading: false,
      btn_folderAdd: false,
      btn_fileAdd: false,
      btn_nameEdit: false,
      btn_del: false,
      btn_download: false,
      btn_share: false,
      view_one: false,
      view_all: false
    };
  },
  methods: {
    getMaxSize() {
      fileService.getFileMaxSize().then(res => (this.maxSize = res));
    },
    showFileInfoForm(title, isCreate, initData) {
      this.refreshFileInfo(initData);
      this.fileInfoDialogTitle = title;
      this.fileInfoDialogVisible = true;
      this.isCreate = isCreate;
    },
    hiddenFileInfoForm() {
      this.fileInfoDialogVisible = false;
    },
    handleFileInfoCreate() {
      if (this.fileInfo.name) {
        fileService.mkdir(this.fileInfo).then(res => {
          this.$notify({
            title: "成功",
            message: "创建成功",
            type: "success",
            duration: 2000
          });
          this.hiddenFileInfoForm();
          // 刷新列表
          this.getFileList();
        });
      }
    },
    handleFileInfoUpdate() {
      fileService.rename(this.fileInfo).then(res => {
        this.$notify({
          title: "成功",
          message: "修改成功",
          type: "success",
          duration: 2000
        });
        this.hiddenFileInfoForm();
        // 刷新列表
        this.getFileList();
      });
    },
    showUploadForm(initData) {
      this.refreshFileInfo(initData);
      this.fileInput.click();
    },
    handleFileInputChange(file) {
      let formData = new FormData();
      formData.append("file", file);
      if (this.fileInfo.parentId) {
        formData.append("parentId", this.fileInfo.parentId);
      }
      // 页面正在加载中
      this.isLoading = true;
      const loading = this.$loading({
        lock: true,
        text: "正在拼命上传中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });

      fileService.touch(formData).then(res => {
        this.$notify({
          title: "成功",
          message: "上传成功",
          type: "success",
          duration: 2000
        });
        // 刷新列表
        this.getFileList();
        // 停止页面加载中
        this.isLoading = false;
        loading.close();
      });
    },
    refreshFileInfo(initData) {
      this.fileInfo = initData || {};
    },
    getFileList() {
      this.fileInfoList = [];
      fileService.query().then(res => {
        res.forEach(item => {
          this.fileInfoList.push(new FileTreeInfo(item.createBy, item.files))
        });
      });
    },
    handleFileRemove(id) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        fileService.remove(id).then(res => {
          this.$notify({
            title: "成功",
            message: "删除成功，正在刷新...",
            type: "success",
            duration: 2000
          });
          // 刷新列表
          this.getFileList();
        });
      });
    },
    handleFileDownload(id) {
      fileService.getDownloadUrl(id).then(res => {
        // let aElement = document.createElement("a");
        // aElement.href = `${fetch.defaults.baseURL}${res}`;
        // aElement.setAttribute("download", "");
        // aElement.click();
        window.open(fetch.defaults.baseURL + res, "_blank");
      });
    },
    handleFilePreview(id) {
      fileService.getDownloadUrl(id).then(res => {
        let downloadUrl = encodeURIComponent(fetch.defaults.baseURL + res);
        window.open(`http://47.107.189.128:8012/onlinePreview?url=${downloadUrl}`);
      });
    },
    linkToFileSharePage(id) {
      this.$router.push({
        path: `/oaManager/fileShare/${id}`
      });
    },
    renderMineFiles(h, { node, data, store }) {
      return (
        <span class="custom-tree-node">
          <span>
            <icon-svg
              icon-class={data.isFile ? "icon_shiyongwendang" : "wenjianjia"}
            />
            <span>
              {data.fileName}
              {data.isFile ? data.suffix : ""}
            </span>
          </span>
          <span>
            {data.isFile && this.btn_download ?
              (
                <el-button size="mini" type="text" on-click={() => this.handleFilePreview(data.id)}>
                  在线文件预览
                </el-button>
              ) : ""
            }
            {!data.isFile && this.btn_folderAdd ?
              (
                <el-button size="mini" type="text"  on-click={() => this.showFileInfoForm("新建文件夹", true, { parentId: data.id, name: "" })}>
                  添加文件夹
                </el-button>
              ) : ""
            }
            {!data.isFile && this.btn_fileAdd ?
              (
                <el-button size="mini" type="text" on-click={() => this.showUploadForm({ parentId: data.id })}>
                  上传文件
                </el-button>
              ) : ""
            }
            {this.btn_share ?
              (
                <el-button size="mini" type="text" on-click={() => this.linkToFileSharePage(data.id)}>
                  分享
                </el-button>
              ) : ""
            }
            {this.btn_nameEdit?
              (
                <el-button size="mini" type="text" on-click={() =>
                    this.showFileInfoForm("重命名", false, {
                      id: data.id,
                      name: data.fileName
                    })
                  }>
                  重命名
                </el-button>
              ) : ""
            }
            {this.btn_download?
              (
                <el-button size="mini" type="text" on-click={() => this.handleFileDownload(data.id)}>
                  下载
                </el-button>
              ) : ""
            }
            {this.btn_del?
              (
                <el-button size="mini" type="text" on-click={() => this.handleFileRemove(data.id)}>
                  删除
                </el-button>
              ) : ""
            }
          </span>
        </span>
      );
    },
    renderShareFiles(h, { node, data, store }) {
      return (
        <span class="custom-tree-node">
          <span>
            <icon-svg
              icon-class={data.isFile ? "icon_shiyongwendang" : "wenjianjia"}
            />
            <span>
              {data.fileName}
              {data.isFile ? data.suffix : ""}
            </span>
          </span>
          <span>
            {data.isFile && this.btn_download ?
              (
                <el-button size="mini" type="text" on-click={() => this.handleFilePreview(data.id)}>
                  在线文件预览
                </el-button>
              ) : ""
            }
            {this.btn_download ?
              (
                <el-button size="mini" type="text" on-click={() => this.handleFileDownload(data.id)}>
                  下载
                </el-button>
              ) : ""
            }
          </span>
        </span>
      );
    }
  },
  created() {
    // 文件上传按钮初始化
    this.fileInput = new FileInput(this.handleFileInputChange);
    // 获取文件上传最大值
    this.getMaxSize();
    // 获取文件列表
    this.getFileList();
    // 获取权限
    this.btn_folderAdd = this.elements["fileManager:btn_folderAdd"];
    this.btn_fileAdd = this.elements["fileManager:btn_fileAdd"];
    this.btn_nameEdit = this.elements["fileManager:btn_nameEdit"];
    this.btn_del = this.elements["fileManager:btn_del"];
    this.btn_download = this.elements["fileManager:btn_download"];
    this.btn_share = this.elements["fileManager:btn_share"];
    this.view_one = this.elements["fileManager:view_one"];
    this.view_all = this.elements["fileManager:view_all"];
  },
  computed: {
    ...mapGetters(["elements"])
  }
};

class FileTreeInfo {
  constructor(userId, treeData) {
    this.userId = userId;
    this.title = undefined;
    this.isMine = undefined;
    this.treeData = treeData;
    this.init();
  }

  init() {
    loginService.getInfo(authUtils.getToken()).then(res => {
      if (this.userId == res.id) {
        this.title = "我的文件夹";
        this.isMine = true;
      } else {
        userService.getObj(this.userId).then(res2 => {
          this.title = `${res2.data.name}的共享`;
          this.isMine = false;
        });
      }
    });
  }
}

// 封装文件上传虚拟按钮
class FileInput {
  constructor(dochange) {
    this.input = document.createElement("input");
    this.input.onchange = e => dochange(e.target.files[0]);
    this.input.type = "file";
  }

  click() {
    this.input.click();
  }
}
</script>

<style>
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
</style>
