<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-button-group>
        <el-button class="filter-item" icon="el-icon-arrow-left" @click="linkToFileInfoPage()">取消</el-button>
        <el-button
          class="filter-item"
          type="primary"
          icon="el-icon-edit"
          @click="handleFileShareSave()"
        >分享并保存</el-button>
      </el-button-group>
    </div>
    <el-table
      ref="userTable"
      :data="userList"
      v-loading.body="userListLoading"
      style="width: 100%"
      border
      @selection-change="handleUserListSelectionChange"
    >
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="username" label="账号"></el-table-column>
      <el-table-column prop="name" label="姓名"></el-table-column>
      <el-table-column prop="sex" label="性别"></el-table-column>
      <el-table-column prop="departName" label="所在部门"></el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleUserListSizeChange"
        @current-change="handleUserListCurrentChange"
        :current-page.sync="userListQuery.page"
        :page-sizes="[10,20,30, 50]"
        :page-size="userListQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="userTotal"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import * as fileService from "api/file/index";
import * as userService from "api/admin/user/index";
import { setTimeout } from "timers";

export default {
  name: "fileShare",
  data() {
    return {
      fileInfo: {
        id: undefined,
        name: undefined,
        createBy: undefined,
        companyId: undefined,
        updateDate: undefined,
        parentId: undefined,
        pwd: undefined,
        suffix: undefined,
        isFile: undefined,
        usersId: undefined
      },
      userList: [],
      userTotal: null,
      userListLoading: true,
      userListQuery: {
        page: 1,
        limit: 20,
        name: undefined,
        departId: undefined,
        compId: undefined
      }
    };
  },
  methods: {
    handleFileShareSave() {
      fileService.shareAll(this.fileInfo).then(res => {
        this.getFileInfo(this.fileInfo.id);
        this.$notify({
          title: "成功",
          message: "分享成功",
          type: "success",
          duration: 2000
        });
      });
    },
    linkToFileInfoPage() {
      this.$router.push({
        path: `/oaManager/fileManager`
      });
    },
    getFileInfo(fileId) {
      fileService.queryOne(fileId).then(res => {
        this.fileInfo = res;
        this.userListQuery.compId = res.companyId;
        // 获取所有用户列表
        this.getUserList();
      });
    },
    getUserList() {
      this.userListLoading = true;
      userService.page(this.userListQuery).then(res => {
        this.userList = res.data.rows;
        this.userTotal = res.data.total;
        this.userListLoading = false;
        // 勾选被分享的用户
        this.toggleUserTableSelection(this.fileInfo.usersId);
      });
    },
    handleUserListSelectionChange(val) {
      let usersId = this.fileInfo.usersId;
      // 先排除当前分页上的所有用户ID的集合
      usersId = usersId.filter(
        id => !this.userList.some(user => user.id == id)
      );
      // 再与勾选中的ID集合进行并集
      usersId = usersId.concat(val.map(user => user.id));
      this.fileInfo.usersId = usersId;
    },
    toggleUserTableSelection(rows) {
      if (rows) {
        this.$refs.userTable.clearSelection();
        rows.forEach(row => {
          let user = this.userList.find(item => item.id == row);
          setTimeout(
            () => this.$refs.userTable.toggleRowSelection(user, true),
            512
          );
        });
      }
    },
    handleUserListSizeChange(val) {
      this.userListQuery.limit = val;
      this.getUserList();
    },
    handleUserListCurrentChange(val) {
      this.userListQuery.page = val;
      this.getUserList();
    }
  },
  created() {
    // 获取要授权的文件信息对象
    this.getFileInfo(this.$route.params.id);
  }
};
</script>

<style>
</style>


