<template>
  <div class="app-wrapper">
    <div class="top-container">
      <div class="bottom-right">
        <div class="bottom-date">
          <img style="margin-right:10px;width:15px;height:15px;" src="../../assets/time.png">
          <span>{{nowDate}}</span>
          <span>（{{myWeek}}）</span>
        </div>
        <img style="margin-left:15px;width:14px;height:14px;" src="../../assets/company.png">
        <span style="margin-left:10px;font-weight: 700;letter-spacing: 3px;">{{compName}}</span>
      </div>
      <!-- <img class="top-logo" src="../../assets/net.png"> -->
      <div class="top-logo" style="background:green;"><span style="line-height:15vh;height: 15vh;padding:30px;font-size:50px;">{{compName}}</span></div>
      <div class="head-right">
        <div class="message">
          <router-link :to="'/baseManager/messageReminder'">
            <span>
              <i class="el-icon-caret-bottom el-icon-bell" style="margin-right:10px;"></i>消息提醒
            </span>
          </router-link>
          <el-badge class="mark" :value="messageCount.ALL"/>
        </div>
        <div class="user-right">
          <el-dropdown>
            <el-button class="eldropdown">
              <el-col style="display: flex;flex-direction: row;align-items: center;">
                <img class="el-icon-caret-bottom head-icon" :src="avatar">
                <span>欢迎您！{{name}}</span>
                <i class="el-icon-arrow-down el-icon--right"></i>
              </el-col>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item class="clearfix">
                <router-link :to="'/baseManager/personalCentre'">
                  <span>
                    <i class="el-icon-caret-bottom el-icon-tickets" style="margin-right:10px;"></i>个人中心
                  </span>
                </router-link>
              </el-dropdown-item>
              <el-dropdown-item class="clearfix">
                <router-link :to="'/baseManager/changePassword'">
                  <span>
                    <i class="el-icon-caret-bottom el-icon-edit-outline" style="margin-right:10px;"></i>修改密码
                  </span>
                </router-link>
              </el-dropdown-item>
              <el-dropdown-item class="clearfix">
                <router-link :to="'/baseManager/messageReminder'">
                  <span>
                    <i class="el-icon-caret-bottom el-icon-bell" style="margin-right:10px;"></i>消息提醒
                  </span>
                </router-link>
                <el-badge class="mark" :value="messageCount.ALL"/>
              </el-dropdown-item>
              <el-dropdown-item class="clearfix">
                <router-link to="/">
                  <span>
                    <i class="el-icon-caret-bottom el-icon-refresh" style="margin-right:10px;"></i>返回首页
                  </span>
                </router-link>
              </el-dropdown-item>
              <el-dropdown-item class="clearfix">
                <span @click="logout">
                  <i class="el-icon-caret-bottom el-icon-setting" style="margin-right:10px;"></i>退出系统
                </span>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
    </div>
    <sidebar class="sidebar-container"></sidebar>
    <div class="main-container">
      <app-main></app-main>
    </div>
  </div>
</template>

<script>
import { Navbar, Sidebar, AppMain } from "views/layout";
import * as messageService from "api/message/index";
import { setTimeout } from "timers";
import { mapGetters } from "vuex";
export default {
  name: "layout",
  components: {
    Navbar,
    Sidebar,
    AppMain
  },
  data() {
    return {
      nowDate,
      myWeek,
      messageCount: {
        ALL: 0
      },
      messageCounts: undefined
    };
  },
  computed: {
    ...mapGetters(["name", "compName", "avatar"]),
    sidebar() {
      return this.$store.state.app.sidebar;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("FedLogOut").then(() => {
        location.reload(); // 为了重新实例化vue-router对象 避免bug
      });
    },
    handleClick() {
      alert("button click");
    },
    getNotReadCounts() {
      messageService.findNotReadCount().then(res => {
        this.messageCount = res.object;
        this.messageCounts = res.array;
        setTimeout(() => this.getNotReadCounts(), 32000);
      });
    }
  },
  created() {
    // 获取消息提醒的条数
    this.getNotReadCounts();
  }
};
//获得当前日期和计算星期
var date = new Date();
var months = date.getMonth() + 1;
var day = date.getDate();
var _months, _day;
if (months < 10) {
  _months = "0" + months;
} else {
  _months = months;
}
if (day < 10) {
  _day = "0" + day;
} else {
  _day = day;
}
var nowDate = date.getFullYear() + "年" + _months + "月" + _day + "日";
var nowDate1 = date.getFullYear() + "-" + _months + "-" + _day;
var weekDay = [
  "星期天",
  "星期一",
  "星期二",
  "星期三",
  "星期四",
  "星期五",
  "星期六"
];
var myDate = new Date(Date.parse(nowDate1.replace(/-/g, "/")));
var myWeek = weekDay[myDate.getDay()];
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
}
.top-container {
  width: 100vw;
  height: 15vh;
}

.top-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  z-index: 0;
}

.head-right {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message {
  color: white;
}
.message:hover {
  font-weight: 700;
  text-decoration: underline;
}
.user-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.eldropdown {
  background: rgba($color: #000000, $alpha: 0.2);
  padding: 1vh;
  border: 0;
  color: white;
}
.head-icon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 0.3em;
  border: 1px solid rgb(153, 153, 153);
}
.head-icon:hover {
  border-radius: 0.2em;
  border: 2px solid #409eff;
}

.sidebar-container {
  width: 12vw;
  height: 85vh;
  position: absolute;
  top: 15vh;
  left: 0;
  z-index: 99;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.main-container {
  height: 85vh;
  margin-left: 12vw;
}

.bottom-right {
  padding: 10px 20px;
  height: 3vh;
  white-space: nowrap;
  font-size: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 11vh;
  color: rgb(99, 99, 99);
  background: rgb(155, 227, 255);
  z-index: 99;
  border-radius: 0.3em;
}

.bottom-date {
  border-right: 1px solid rgb(173, 173, 173);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
  font-weight: 700;
  letter-spacing: 3px;
}
</style>
