<template>
  <div class="menu-wrapper">
    <template v-for="item in routes">
      <a @click="getMenuId(item)">
        <el-menu-item :index="item.title">
          <template slot="title">
            <router-link v-if="item.code" :to="'/' + item.code">
              <div class="menu-title" aria-activedescendant="menu-item">
                <img style="width:1.5vw;height:1.5vw;margin-right:1vw;" v-bind:src="item.icon">
                {{item.title}}
              </div>
            </router-link>
          </template>
        </el-menu-item>
      </a>
    </template>
  </div>
</template>
<style>
.menu-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3vw;
}
.menu-title::hover {
  text-decoration: underline;
  color: brown;
}
</style>


<script>
export default {
  name: "SidebarItem",
  props: {
    routes: {
      type: Array
    }
  },

  methods: {
    getMenuId(obj) {
      console.log("code:" + obj.code);
      this.$router.push({
        path: "/" + obj.code + `/menu/${obj.id}`
      });
    }
  },
  created() {
    for (let i = 0; i < this.routes.length; i++) {
      if (
        this.routes[i].icon != undefined &&
        this.routes[i].icon != null &&
        this.routes[i].icon != ""
      ) {
        this.routes[i].icon = require("@/assets/secondMenuIcon/" +
          this.routes[i].icon +
          ".png");
      }
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped></style>

