<template>
  <el-menu
    default-active="2"
    class="el-menu-vertical-demo"
    mode="vertical"
    background-color="#F5F5F5"
    active-text-color="#409EFF"
    unique-opened
  >
    <sidebar-item :routes="permissionMenus"></sidebar-item>
  </el-menu>
</template>

<script>
import { mapGetters } from "vuex";
import SidebarItem from "./SidebarItem";
export default {
  components: { SidebarItem },
  computed: {
    ...mapGetters(["sidebar", "permissionMenus"]),
    isCollapse() {
      return !this.sidebar.opened;
    }
  }
};
</script>
