<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" placeholder="姓名或账户" v-model="listQuery.name"> </el-input>
      <el-button class="filter-item" type="primary" v-waves icon="search" @click="handleFilter">搜索</el-button>
      <el-button class="filter-item" v-if="supplierRegcodeManager_btn_add" style="margin-left: 10px;" @click="handleCreate" type="primary" icon="edit">添加</el-button>
    </div>
    <el-table :key='tableKey' :data="list" v-loading.body="listLoading" border fit highlight-current-row style="width: 100%">
   <el-table-column align="center"  label="序号" type="index" width="65"></el-table-column>
      <!-- <el-table-column align="center" label="id" width="65">
      <template scope="scope">
        <span>{{scope.row.id}}</span>
      </template>
    </el-table-column> -->
        <el-table-column  align="center" label="注册码">
      <template scope="scope">
        <span>{{scope.row.regcode}}</span>
      </template>
    </el-table-column>
        <el-table-column width="200px" align="center" label="状态">
      <template scope="scope">
         <span v-if="scope.row.status==1">有效</span>
         <span v-if="scope.row.status==0">失效</span>
      </template>
    </el-table-column>
        <!-- <el-table-column width="200px" align="center" label="">
      <template scope="scope">
        <span>{{scope.row.createdBy}}</span>
      </template>
    </el-table-column> -->
        <el-table-column  align="center" label="创建时间">
      <template scope="scope">
        <span>{{scope.row.createdTime}}</span>
      </template>
    </el-table-column>
     <!--
        <el-table-column width="200px" align="center" label="">
      <template scope="scope">
        <span>{{scope.row.updatedBy}}</span>
      </template>
    </el-table-column>
        <el-table-column width="200px" align="center" label="">
      <template scope="scope">
        <span>{{scope.row.updatedTime}}</span>
      </template>
    </el-table-column>
        <el-table-column width="200px" align="center" label="">
      <template scope="scope">
        <span>{{scope.row.compId}}</span>
      </template>
    </el-table-column> -->
        <el-table-column fixed="right" align="center" label="操作" width="150"> <template scope="scope">
        <!-- <el-button v-if="supplierRegcodeManager_btn_edit" size="small" type="success" @click="handleUpdate(scope.row)">编辑
        </el-button> -->
        <el-button v-if="supplierRegcodeManager_btn_del" size="small" type="danger" @click="handleDelete(scope.row)">删除
        </el-button>
      </template> </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="listQuery.page" :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="total"> </el-pagination>
    </div>
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="form" label-width="100px">
        <el-form-item label="注册码" prop="regcode">
      <el-input v-model="form.regcode" placeholder="请输入注册码"></el-input>
    </el-form-item>
        <el-form-item label="状态" prop="status">
      <el-input v-model="form.status" placeholder="请输入状态"></el-input>
    </el-form-item>
        <!-- <el-form-item label="" prop="createdBy">
      <el-input v-model="form.createdBy" placeholder="请输入"></el-input>
    </el-form-item>
        <el-form-item label="" prop="createdTime">
      <el-input v-model="form.createdTime" placeholder="请输入"></el-input>
    </el-form-item>
        <el-form-item label="" prop="updatedBy">
      <el-input v-model="form.updatedBy" placeholder="请输入"></el-input>
    </el-form-item>
        <el-form-item label="" prop="updatedTime">
      <el-input v-model="form.updatedTime" placeholder="请输入"></el-input>
    </el-form-item>
        <el-form-item label="" prop="compId">
      <el-input v-model="form.compId" placeholder="请输入"></el-input>
    </el-form-item> -->
        </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel('form')">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create('form')">确 定</el-button>
        <el-button v-else type="primary" @click="update('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import {
      page,
      addObj,
      getObj,
      delObj,
      putObj
  } from 'api/jinyuanming/supplierRegcode/index';
  import { mapGetters } from 'vuex';
  export default {
    name: 'supplierRegcode',
    data() {
      return {
        form: {
        regcode : undefined,      
        status : undefined,  
        },
        rules: {},
        list: null,
        total: null,
        listLoading: true,
        listQuery: {
          page: 1,
          limit: 20,
          name: undefined
        },
        dialogFormVisible: false,
        dialogStatus: '',
        supplierRegcodeManager_btn_edit: false,
        supplierRegcodeManager_btn_del: false,
        supplierRegcodeManager_btn_add: false,
        textMap: {
          update: '编辑',
          create: '创建'
        },
        tableKey: 0
      }
    },
    created() {
      this.getList();
      this.supplierRegcodeManager_btn_edit = this.elements['supplierRegcodeManager:btn_edit'];
      this.supplierRegcodeManager_btn_del = this.elements['supplierRegcodeManager:btn_del'];
      this.supplierRegcodeManager_btn_add = this.elements['supplierRegcodeManager:btn_add'];
    },
    computed: {
      ...mapGetters([
        'elements'
      ])
    },
    methods: {
      getList() {
        this.listLoading = true;
        page(this.listQuery)
            .then(response => {
          this.list = response.data.rows;
        this.total = response.data.total;
        this.listLoading = false;
      })
      },
      handleFilter() {
        this.getList();
      },
      handleSizeChange(val) {
        this.listQuery.limit = val;
        this.getList();
      },
      handleCurrentChange(val) {
        this.listQuery.page = val;
        this.getList();
      },
      handleCreate() {
        /*
        this.resetTemp();
      this.dialogStatus = 'create';
       this.dialogFormVisible = true;
       */
       
      
      //  this.form = {
      //   regcode : "121432534",      
      //   status : 1,  
      //   },
         this.$confirm('此操作将生成新的供应商注册码, 是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            })
            .then(() => {
         addObj(this.form)
         .then(() => {
             this.getList();
          this.$notify({
          title: '成功',
          message: '添加成功',
          type: 'success',
          duration: 2000
        });
        // const index = this.list.indexOf(row);
        // this.list.splice(index, 1);
      });
      });
    
      },

      handleUpdate(row) {
        getObj(row.id)
            .then(response => {
          this.form = response.data;
        this.dialogFormVisible = true;
        this.dialogStatus = 'update';
      });
      },
      handleDelete(row) {
        this.$confirm('此操作将永久删除, 是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            })
            .then(() => {
          delObj(row.id)
      .then(() => {
          this.$notify({
          title: '成功',
          message: '删除成功',
          type: 'success',
          duration: 2000
        });
        const index = this.list.indexOf(row);
        this.list.splice(index, 1);
      });
      });
      },
      create(formName) {
        const set = this.$refs;
        set[formName].validate(valid => {
        if (valid) {
        addObj(this.form)
        .then(() => {
        this.dialogFormVisible = false;
        this.getList();
        this.$notify({
        title: '成功',
        message: '创建成功',
        type: 'success',
        duration: 2000
        });
        })
        } else {
        return false;
        }
        });
      },
      cancel(formName) {
        this.dialogFormVisible = false;
        const set = this.$refs;
        set[formName].resetFields();
      },
      update(formName) {
        const set = this.$refs;
        set[formName].validate(valid => {
        if (valid) {
        this.dialogFormVisible = false;
        this.form.password = undefined;
        putObj(this.form.id, this.form).then(() => {
        this.dialogFormVisible = false;
        this.getList();
        this.$notify({
        title: '成功',
        message: '创建成功',
        type: 'success',
        duration: 2000
        });
        });
        } else {
        return false;
        }
        });
      },
      resetTemp() {
        this.form = {
          username: undefined,
          name: undefined,
          sex: '男',
          password: undefined,
          description: undefined
        };
      }
    }
  }
</script>
