<template>
  <div class="addclass">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>注册</span>
        <el-button style="float: right; padding: 3px 0" type="text">
          <a href="javascript:history.go(-1)">返回</a>
        </el-button>
      </div>
      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        label-width="100px"
        class="demo-ruleForm"
      >
      <!--
        <el-form-item label="所属企业" prop="compId">
          <el-select
            v-model="form.compId"
            filterable
            remote
            placeholder="请输入企业关键词"
            :remote-method="remoteMethodComp"
            :loading="loadingComp"
          >
            <el-option v-for="item in itemsComp" :key="item.id" :label="item.name" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="所属部门" prop="departId">
          <el-input class="input-with-select" placeholder="请选择公司部门" v-model="mydepartName">
            <el-button slot="append" @click="getDepartTree" plain style="border:0;">选择</el-button>
          </el-input>
          <el-dialog width="30%" title="公司部门" :visible.sync="innerVisible" append-to-body>
            <span style="color:#409EFF;margin-left:10px;">所属部门：{{mydepartName}}</span>
            <el-card style="margin-top:10px;">
              <el-tree
                ref="departT"
                :data="departData"
                :props="defaultProps"
                @node-click="handleNodeClick1"
                default-expand-all
                node-key="id"
              ></el-tree>
            </el-card>
          </el-dialog>
        </el-form-item>
        <el-form-item label="用户角色" prop="roleId">
          <el-input class="input-with-select" placeholder="请分配用户角色" v-model="roleName">
            <el-button slot="append" @click="getRoleTree" plain style="border:0;">选择</el-button>
          </el-input>
          <el-dialog width="30%" title="角色分配" :visible.sync="roleInnerVisible" append-to-body>
            <span style="color:#409EFF;margin-left:10px;">用户角色：{{roleName}}</span>
            <el-card style="margin-top:10px;">
              <el-tree
                :data="roleData"
                show-checkbox
                check-on-click-node
                check-strictly
                :props="defaultProps"
                default-expand-all
                ref="tree"
                highlight-current
                @check="getCheckedNodes"
                node-key="id"
              ></el-tree>
            </el-card>
            <div slot="footer" class="dialog-footer">
              <el-button @click="sureRoles">确定</el-button>
            </div>
          </el-dialog>
        </el-form-item>
        -->
        <el-form-item label="注册类型">
              <el-select class="filter-item" v-model="form.regtype" placeholder="请选择">
                <el-option v-for="item in  regtypeOptions" :key="item" :label="item" :value="item"></el-option>
              </el-select>
        </el-form-item>
        <div style="display: flex;flex-direction: row;">
          <el-col :span="16">
            <el-form-item label="姓名" prop="name">
              <el-input v-model="form.name" placeholder="请输入姓名"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="性别">
              <el-select class="filter-item" v-model="form.sex" placeholder="请选择">
                <el-option v-for="item in  sexOptions" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </div>
        <el-form-item label="账户" prop="username">
          <el-input  v-model="form.username" placeholder="请输入账户"></el-input>
        </el-form-item>
        <el-form-item  label="密码" prop="password">
          <el-input 
          
          type="password" v-model="form.password" placeholder="请输入密码"></el-input>
        </el-form-item>
       <el-form-item label="注册码" prop="regcode">
          <el-input  v-model="form.regcode" placeholder="请输入注册码"></el-input>
        </el-form-item>
        <el-form-item label="描述">
          <el-input
            :autosize="{ minRows: 3, maxRows: 5}"
            placeholder="请输入内容"
            v-model="form.description"
          ></el-input>
        </el-form-item>
         <el-form-item>
              <el-button type="primary" @click="submitForm('form')">注册</el-button>
              <el-button @click="resetForm('form')">重置</el-button>
         </el-form-item>

      </el-form>
    </el-card>
  </div>
</template>

<script>

import {
  reg,
} from "api/jinyuanming/reguser/index";
import { mapGetters } from "vuex";
import "assets/RSA";
import { getPassPubKey } from "api/login";
import { setTimeout } from "timers";


export default {
  data() {
    return {
      form: {
        username: undefined,
        name: undefined,
        sex: "男",
        regcode: undefined,
        password: undefined,
        description: undefined,
        departId: undefined,
        groupIds: undefined,
        regtype:'供应商',
      },
      sexOptions: ["男", "女"],
      regtypeOptions: ["供应商", "客户"],
      rules: {
        name: [
          {
            required: true,
            message: "请输入用户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 2 到 20 个字符",
            trigger: "blur"
          }
        ],
        
        username: [
          {
            required: true,
            message: "请输入账户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        password: [
          {
            message: "请输入密码",
            trigger: "blur"
          },
          {
            min: 6,
            max: 20,
            message: "长度在 6 到 20 个字符",
            trigger: "blur"
          }
        ],
        regcode: [
          {
            required: true,
            message: "请输入8位注册码",
            trigger: "blur"
          },
          {
            min: 8,
            max: 8,
            message: "请输入8位注册码",
            trigger: "blur"
          }
        ],
      },
    };
  },
  created() {
    window.onload = function() {
      this.history.go(-1);
    };

 //获取密码加密私钥
  getPassPubKey().then(response => {
      this.publicKeyExponent = response.data.publicKeyExponent;
      this.publicKeyModulus = response.data.publicKeyModulus;
  });



  },
  methods: {
      submitForm(formName) {
         RSAUtils.setMaxDigits(200);
      var key = RSAUtils.getKeyPair(
        this.publicKeyExponent,
        "",
        this.publicKeyModulus
      );
      var encrypedPwd = RSAUtils.encryptedString(
        key,
        this.form.password
          .split("")
          .reverse()
          .join("")
      );
      var oldPass = this.form.password;
      console.log(this.form.departId);
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          this.form.password = encrypedPwd;
            console.log(this.form);
          reg(this.form)
            .then((res) => {
               console.log(res)
              if(res==1){
              this.mydepartName = "";
              this.form.groupIds = "";
              this.roleName = "";
              this.form.password = oldPass;
              this.$notify({
                title: "成功",
                message: "注册成功",
                type: "success",
                duration: 2000
              });
               this.$router.push({
                  path: "/login"
                });
              }else if(res==2){
                   this.$notify({
                    title: "失败",
                    message: "注册失败，该供应商注册码不存在",
                    type: "failure",
                    duration: 2000
               });
              }else if(res==3){
                  this.$notify({
                    title: "失败",
                    message: "注册失败，该设备客户码不存在",
                    type: "failure",
                    duration: 2000
               });

              }
           
            })
            .catch(() => {
              this.form.password = oldPass;
            });
        } else {
          this.form.password = oldPass;
          return false;
        }
      });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }

  }
};
</script>

<style scoped>
a {
  text-decoration: none;
  color: #409eff;
}
</style>