<template>
  <div class="dashboard-editor-container">
    <div class="index-box">
      <span style="font-weight:700;font-size:2.5vw;color:brown;">欢迎使用广州晋原铭科技有限公司管理系统！</span>
      <br>
      <span>操&emsp;&ensp;作&emsp;&ensp;员：{{name}}</span>
      <br>
      <span>注册使用单位：{{compName}}</span>
      <br>

      <span>系统操作日期：{{nowDate}}&emsp;&ensp;{{myWeek}}</span>
    </div>
  </div>
</template>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard-editor-container {
  padding: 5vw;
}
.index-box {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-40%);
  color: cadetblue;
}
.title-box {
  position: relative;
  left: 15%;
}
</style>

<script>
import { mapGetters } from "vuex";
import panThumb from "components/PanThumb";
import pieChart from "./pieChart";
import barChart from "./barChart";
import lineChart from "./lineChart";
import countTo from "vue-count-to";
import todoList from "components/TodoList";
export default {
  name: "dashboard-editor",
  components: { panThumb, countTo, pieChart, lineChart, barChart, todoList },
  data() {
    return {
      statisticsData: {
        article_count: 1024,
        comment_count: 102400,
        latest_article: [],
        month_article_count: 28,
        pageviews_count: 1024
      },
      nowDate,
      myWeek
    };
  },
  computed: {
    ...mapGetters(["name", "avatar", "roles", "compName"])
  }
};
//获得当前日期和计算星期
var date = new Date();
var months = date.getMonth() + 1;
var day = date.getDate();
var _months, _day;
if (months < 10) {
  _months = "0" + months;
} else {
  _months = months;
}
if (day < 10) {
  _day = "0" + day;
} else {
  _day = day;
}
var nowDate = date.getFullYear() + "年" + _months + "月" + _day + "日";
var nowDate1 = date.getFullYear() + "-" + _months + "-" + _day;
var weekDay = [
  "星期天",
  "星期一",
  "星期二",
  "星期三",
  "星期四",
  "星期五",
  "星期六"
];
var myDate = new Date(Date.parse(nowDate1.replace(/-/g, "/")));
var myWeek = weekDay[myDate.getDay()];
</script>


