<template>
  <div class="app-container calendar-list-container">
    <!-- <el-tabs v-model="activeName">
      <el-tab-pane label="消息提醒" name="first"></el-tab-pane>
    </el-tabs>-->
    <div class="message-title">
    <span>
      <i class="el-icon-caret-bottom el-icon-bell" style="margin-right:10px;"></i>消息提醒
    </span>
    <el-badge class="mark" :value="messageCount.ALL"/>
    </div>
    <el-tabs type="border-card">
      <el-tab-pane>
        <span slot="label">
          <i class="el-icon-message"></i> 未读消息
        </span>
        <el-table
          :data="notReadList"
          v-loading.body="notReadListLoading"
          :stripe="true"
          border
          fit
          highlight-current-row
          style="width: 100%"
        >
          <el-table-column align="center" label="消息标题" width="300">
            <template slot-scope="scope">
              <span>{{scope.row.title}}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="消息内容">
            <template slot-scope="scope">
              <span>{{scope.row.excerpt}}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="发送者" width="150">
            <template slot-scope="scope">
              <span>{{scope.row.creatorName}}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="发送时间" width="150">
            <template slot-scope="scope">
              <span>{{scope.row.createDate}}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="操作" width="100">
            <template slot-scope="scope">
              <el-button type="primary" size="mini" @click="readIt(scope.row)">查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div v-show="!notReadListLoading" class="pagination-container">
          <el-pagination
            @size-change="handleNotReadSizeChange"
            @current-change="handleNotReadCurrentChange"
            :current-page.sync="notReadListQuery.page"
            :page-sizes="[6,12,24, 48]"
            :page-size="notReadListQuery.limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="notReadTotal"
          ></el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="已读消息">
        <span slot="label">
          <i class="el-icon-message"></i> 已读消息
        </span>
        <el-table
          :data="readList"
          v-loading.body="readListLoading"
          :stripe="true"
          border
          fit
          highlight-current-row
          style="width: 100%"
        >
          <el-table-column align="center" label="消息标题" width="300">
            <template slot-scope="scope">
              <span>{{scope.row.title}}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="消息内容">
            <template slot-scope="scope">
              <span>{{scope.row.excerpt}}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="发送者" width="150">
            <template slot-scope="scope">
              <span>{{scope.row.creatorName}}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="发送时间" width="150">
            <template slot-scope="scope">
              <span>{{scope.row.createDate}}</span>
            </template>
          </el-table-column>
        </el-table>
        <div v-show="!readListLoading" class="pagination-container">
          <el-pagination
            @size-change="handleReadSizeChange"
            @current-change="handleReadCurrentChange"
            :current-page.sync="readListQuery.page"
            :page-sizes="[6,12,24, 48]"
            :page-size="readListQuery.limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="readTotal"
          ></el-pagination>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<style>
.message-title{
  color: #409eff;
  margin-bottom: 25px;
}
</style>

<script>
import { mapGetters } from "vuex";
import { setTimeout } from "timers";
import * as messageService from "api/message/index";

export default {
  name: "user",
  data() {
    return {
      activeName: "first",
      messageCount: undefined,
      messageCounts: undefined,
      notReadList: undefined,
      notReadTotal: undefined,
      notReadListLoading: true,
      notReadListQuery: {
        page: 1,
        limit: 6,
        isRead: false
      },
      readList: undefined,
      readTotal: undefined,
      readListLoading: true,
      readListQuery: {
        page: 1,
        limit: 6,
        isRead: true
      }
    };
  },
  created() {
    //获取密码加密私钥
    // getPassPubKey().then(response => {
    //   this.publicKeyExponent = response.data.publicKeyExponent;
    //   this.publicKeyModulus = response.data.publicKeyModulus;
    // });
    this.getNotReadList();
    this.getReadList();
    // 获取消息提醒的条数
    this.getNotReadCounts();
  },
  computed: {
    ...mapGetters(["elements", "compId"])
  },
  methods: {
    getNotReadList() {
      this.notReadListLoading = true;
      messageService.findPage(this.notReadListQuery).then(res => {
        this.notReadList = res.data.rows;
        this.notReadTotal = res.data.total;
        this.notReadListLoading = false;
      });
    },
    handleNotReadSizeChange(val) {
      this.notReadListQuery.limit = val;
      this.getNotReadList();
    },
    handleNotReadCurrentChange(val) {
      this.notReadListQuery.page = val;
      this.getNotReadList();
    },
    getReadList() {
      this.readListLoading = true;
      messageService.findPage(this.readListQuery).then(res => {
        this.readList = res.data.rows;
        this.readTotal = res.data.total;
        this.readListLoading = false;
      });
    },
    handleReadSizeChange(val) {
      this.readListQuery.limit = val;
      this.getReadList();
    },
    handleReadCurrentChange(val) {
      this.readListQuery.page = val;
      this.getReadList();
    },
    readIt(row) {
      messageService.read(row.id).then(res => {
        // 测试数据，写完页面跳转逻辑后要把下面代码注释掉。
        this.getNotReadList();
        this.getReadList();
        // 页面跳转逻辑
      });
    },
    getNotReadCounts() {
      messageService.findNotReadCount().then(res => {
        this.messageCount = res.object;
        this.messageCounts = res.array;
        setTimeout(() => this.getNotReadCounts(), 32000);
      });
    }
  }
};
</script>
