<template>
  <div class="menu-list">
    <template v-for="item in permissionMenus">
      <router-link :to="'/'+item.code+'/menu'">
        <template v-for="child in item.children">
          <router-link :to="'/'+item.code+'/'+child.code" v-if="item.id==parentId">
            <el-row class="menu-container">
              <img class="icon" v-bind:src="child.icon">
              <div
                style="display: flex;flex-direction: column;margin-left:10px;padding:10px;width:15vw;"
              >
                <div
                  class="menu-title"
                  style="border-bottom: 1.5px solid #AAAAAA;padding-bottom:6px;"
                >{{child.title}}</div>
                <div
                  style="font-size:1vw;padding-top:2px;height:6vh;color:#303133;"
                >{{child.description}}</div>
              </div>
            </el-row>
          </router-link>
        </template>
      </router-link>
    </template>
  </div>
</template>

<style>
.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid darkcyan; */
  float: left;
  margin-right: 10vw;
}
.icon {
  width: 4.5vw;
  height: 4.5vw;
}

.menu-list {
  width: 65vw;
  /* background: khaki; */
  position: absolute;
  left: 25%;
  margin-top: 3vh;
}

.menu-title {
  font-size: 1.2vw;
}
.menu-title:hover {
  color: brown;
  /* text-decoration: underline; */
  font-weight: 600;
}
.menu-title:active {
  color: red;
}
</style>

<script>
import { mapGetters } from "vuex";
import { create } from "domain";
export default {
  name: "menu",
  data() {
    return {
      parentId: 0,
     
    };
  },
  computed: {
    ...mapGetters(["permissionMenus", "name"])
  },
  created() {
    console.log("11:", this.permissionMenus);
    this.parentId = this.$route.params.id;
    //菜单图标转化
    var menus = this.permissionMenus;
    for (var i = 0; i < menus.length; i++) {
      if (this.parentId == menus[i].id) {
        var children = menus[i].children;
        for (var j = 0; j < children.length; j++) {
          if (
            this.permissionMenus[i].children[j].icon != undefined &&
            this.permissionMenus[i].children[j].icon != "" &&
            this.permissionMenus[i].children[j].icon != null
          )
            this.permissionMenus[i].children[
              j
            ].icon = require("@/assets/secondMenuIcon/" +
              menus[i].children[j].icon +
              ".png");
        }
      }
    }
  }
};
</script>


