<template>
  <div class="app-container calendar-list-container">
		<div class="filter-container">
			<el-button-group>
				<el-button class="filter-item" icon="el-icon-arrow-left" @click="goBack()">返回</el-button>
				<el-button v-if="btn_save" class="filter-item" type="primary" @click="showCreateDialogForm()">新建仓库</el-button>
			</el-button-group>
		</div>
		<el-dialog :title="dialogFormProperty.title" :visible.sync="dialogFormVisible">
			<el-form :model="form" :rules="rules" label-width="100px">
				<el-form-item label="仓库名称" prop="name">
					<el-input v-model="form.name" placeholder="请输入仓库名称"></el-input>
				</el-form-item>
				<el-form-item label="仓库位置" prop="location">
					<el-input v-model="form.location" placeholder="请输入仓库位置"></el-input>
				</el-form-item>
				<el-form-item label="仓库面积" prop="area">
					<el-input v-model="form.area" type="number" placeholder="请输入仓库面积"></el-input>
				</el-form-item>
				<el-form-item label="仓库容量" prop="capacity">
					<el-input v-model="form.capacity" placeholder="请输入仓库容量"></el-input>
				</el-form-item>
				<el-form-item label="负责人" prop="incharge">
					<el-input v-model="form.incharge" placeholder="请输入负责人"></el-input>
				</el-form-item>
				<el-form-item label="负责人电话" prop="tel">
					<el-input v-model="form.tel" placeholder="请输入负责人联系电话"></el-input>
				</el-form-item>
				<el-table :data="form.locators" height="250" style="width: 100%" border>
					<el-table-column align="center" label="库位编号">
						<template slot-scope="scope">
							<span>{{scope.row.num1}}-{{scope.row.num2}}-{{scope.row.num3}}</span>
						</template>
					</el-table-column>
					<el-table-column fixed="right" align="center" label="操作" width="100">
						<template slot-scope="scope">
							<el-button size="small" type="danger" @click="handleLocatorRemoving(scope.$index)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="hiddenDialogForm()">取 消</el-button>
				<el-button type="primary" @click="showLocatorDialogForm()">添加库位</el-button>
				<el-button type="primary" @click="handleFormSending()">{{dialogFormProperty.commitBtn}}</el-button>
			</div>
		</el-dialog>
		<el-dialog title="添加库位" :visible.sync="dialogLocatorFormVisible" @close="whenLocatorFormClose()">
			<el-form :model="locatorForm" label-width="100px">
				<el-form-item label="库位编号">
					<el-row :::gutter="20">
						<el-col :span="6">
							<el-input v-model="locatorForm.num1"></el-input>
						</el-col>
						<el-col :span="6">
							<el-input v-model="locatorForm.num2"></el-input>
						</el-col>
						<el-col :span="6">
							<el-input v-model="locatorForm.num3"></el-input>
						</el-col>
					</el-row>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button type="primary" @click="handleLocatorAdding()">添 加</el-button>
			</div>
		</el-dialog>
		<el-table v-if="view_page" :data="list" style="width: 100%" v-loading.body="listLoading" border>
			<el-table-column align="center" label="仓库名称">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="仓库位置">
        <template slot-scope="scope">
          <span>{{scope.row.location}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="仓库面积">
        <template slot-scope="scope">
          <span>{{scope.row.area}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="仓库容量">
        <template slot-scope="scope">
          <span>{{scope.row.capacity}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="负责人">
        <template slot-scope="scope">
          <span>{{scope.row.incharge}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="负责人联系电话">
        <template slot-scope="scope">
          <span>{{scope.row.tel}}</span>
        </template>
      </el-table-column>
			<el-table-column align="center" label="更新时间">
        <template slot-scope="scope">
          <span>{{scope.row.updatedTime}}</span>
        </template>
      </el-table-column>
			<el-table-column fixed="right" align="center" label="操作" width="200">
				<template slot-scope="scope">
					<el-button v-if="btn_save" size="small" type="primary" @click="showUpdateDialogForm(scope.row)">编辑</el-button>
					<el-button v-if="btn_del" size="small" type="danger" @click="handleDepotRemoving(scope.row.id)">删除</el-button>
				</template>
			</el-table-column>
		</el-table>
		<div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleListSizeChange"
        @current-change="handleListCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[10,20,30, 50]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total">
			</el-pagination>
    </div>
	</div>
</template>

<script>
import * as depotService from "api/erp/inventory/warehouseManager/index";
import { mapGetters } from "vuex";

export default {
	name: "warehouseManager",
	data() {
		return {
			form: Initor.newDepot(),
			locatorForm: Initor.newLocator(),
			rules: {
				name: [{
					required: true,
					message: "请输入名称",
					trigger: "blur"
				}, {
					min: 0,
					max: 32,
					message: "长度不能超过32个字符",
					trigger: "blur"
				}]
			},
			dialogFormProperty: {
				title: undefined,
				commitBtn: undefined
			},
			dialogFormProperties: {
				isCreate: {
					title: "新建仓库",
					commitBtn: "创 建"
				},
				isUpdate: {
					title: "更新记录",
					commitBtn: "更 新"
				}
			},
			dialogFormVisible: false,
			dialogLocatorFormVisible: false,
			list: [],
			listQuery: {
				page: 1,
				limit: 20,
				orderBy: "CREATED_TIME DESC"
			},
			listLoading: true,
			total: undefined,
			btn_save: false,
			btn_del: false,
			view_page: false
		}
	},
	methods: {
		goBack() {
			this.$router.history.go(-1);
		},
		showCreateDialogForm() {
			this.dialogFormProperty = this.dialogFormProperties.isCreate;
			this.dialogFormVisible = true;
			this.form = Initor.newDepot();
		},
		showUpdateDialogForm(depot) {
			this.dialogFormProperty = this.dialogFormProperties.isUpdate;
			this.dialogFormVisible = true;
			this.form = JSON.parse(JSON.stringify(depot));
		},
		hiddenDialogForm() {
			this.dialogFormVisible = false;
			this.form = Initor.newDepot();
		},
		showLocatorDialogForm() {
			this.dialogFormVisible = false;
			this.dialogLocatorFormVisible = true;
			this.locatorForm = Initor.newLocator();
		},
		whenLocatorFormClose() {
			this.dialogLocatorFormVisible = false;
			this.dialogFormVisible = true;
		},
		handleLocatorAdding() {
			this.whenLocatorFormClose();
			this.form.locators.push({ ...this.locatorForm });
		},
		handleLocatorRemoving(index) {
			this.form.locators.splice(index, 1);
		},
		handleFormSending() {
			depotService.save(this.form).then(res => {
				this.$notify({
          title: "成功",
          message: this.form.id ? "更新成功" : "创建成功",
          type: "success",
          duration: 2000
				});
				this.hiddenDialogForm();
				this.getList();
			});
		},
		handleDepotRemoving(id) {
			this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        depotService.remove(id).then(res => {
					this.$notify({
						title: "成功",
						message: "删除成功",
						type: "success",
						duration: 2000
					});
					this.getList();
				});
      });
		},
		getList() {
			this.listLoading = true;
			depotService.findPage(this.listQuery).then(res => {
				this.list = res.data.rows;
				this.total = res.data.total;
				this.listLoading = false;
			});
		},
		handleListSizeChange(val) {
			this.listQuery.limit = val;
			this.getList();
		},
		handleListCurrentChange(val) {
			this.listQuery.page = val;
			this.getList();
		}
	},
	created() {
		this.getList();
		this.btn_save = this.elements["depotManager:btn_save"];
		this.btn_del = this.elements["depotManager:btn_del"];
		this.view_page = this.elements["depotManager:view"];
	},
	computed: {
    ...mapGetters(["elements"])
  }
}

class Initor {

	static newDepot() {
		return {
			id: undefined,
			name: undefined,
			location: undefined,
			area: undefined,
			capacity: undefined,
			incharge: undefined,
			tel: undefined,
			createBy: undefined,
			createTime: undefined,
			updatedBy: undefined,
			updatedTime: undefined,
			compId: undefined,
			locators: []
		}
	}

	static newLocator() {
		return {
			num1: undefined,
			num2: undefined,
			num3: undefined
		}
	}
}

</script>

<style scoped>

</style>
