<template>
  <div class="app-container calendar-list-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="请假调休" name="first"></el-tab-pane>
    </el-tabs>
    <el-form
      style="margin-left:40px"
      :model="form"
      :rules="rules"
      ref="form"
      :show-message="false"
      :inline-message="true"
      status-icon
    >
      <!-- 第一行 -->
      <el-row class="rowStyle" gutter="20">
        <el-form-item size="mini">
          <el-col style="font-size:0.9vw;">
            <span>申请日期</span>
            <el-input
              class="inputStyle"
              style="width:20vw"
              size="mini"
              v-model="form.appier_date"
              disabled
            ></el-input>
          </el-col>
        </el-form-item>
        <el-form-item size="mini">
          <el-col style="font-size:0.9vw;">
            <span class="bottomStyle">申请人</span>
            <el-input
              class="inputStyle"
              style="width:18vw"
              size="mini"
              v-model="form.user_id"
              disabled
            ></el-input>
          </el-col>
        </el-form-item>
        <el-form-item size="mini">
          <el-col style="font-size:0.9vw;">
            <span>部门</span>
            <el-input
              class="inputStyle"
              style="width:18vw"
              size="mini"
              v-model="form.depart_name"
              disabled
            ></el-input>
          </el-col>
        </el-form-item>
      </el-row>
      <!-- 第二行 -->
      <el-row class="rowStyle" gutter="30">
        <el-form-item prop="leave_type" size="mini">
          <el-col style="font-size:0.9vw;">
            <span>请假类型</span>
            <el-select
              class="inputStyle"
              style="width:18vw"
              size="mini"
              v-model="form.leave_type"
              placeholder="请选择"
            >
              <el-option
                v-for="item in options1"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-col>
        </el-form-item>
        <el-form-item prop="start_time" size="mini">
          <el-col style="font-size:0.9vw;">
            <span>请假时间</span>
            <el-date-picker
              class="inputStyle"
              v-model="form.start_time"
              type="datetime"
              placeholder="开始时间"
              align="right"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </el-col>
        </el-form-item>
        <el-form-item prop="end_time" size="mini">
          <el-col style="font-size:0.9vw;">
            <span>至</span>
            <el-date-picker
              style="margin-left:2vw;"
              v-model="form.end_time"
              type="datetime"
              placeholder="结束时间"
              align="right"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </el-col>
        </el-form-item>
      </el-row>
      <!-- 第三行 -->
      <el-row class="rowStyle borderStyle" gutter="25">
        <el-form-item prop="leaven_resion" size="mini">
          <div class="rowStyle" style="margin-left:1vw;">
            <span style="margin-right:.3vw;font-size:0.9vw;">请假说明</span>
            <el-input
              type="textarea"
              :autosize="{ minRows: 6, maxRows: 10}"
              class="inputStyle"
              style="width:65vw"
              size="mini"
              v-model="form.leaven_resion"
            ></el-input>
          </div>
        </el-form-item>
      </el-row>
      <!-- 第四行 -->
      <el-row class="rowStyle borderStyle" gutter="25" style="margin-top:20px;">
        <el-form-item prop="notification" size="mini">
          <el-col style="font-size:0.9vw;">
            <span>抄送通知</span>
            <el-input
              class="inputStyle"
              style="width:20vw"
              size="mini"
              placeholder="请选择抄送人"
              v-model="form.notification"
              disabled
            ></el-input>
            <el-button size="mini" @click="handleDialog1">选择</el-button>
          </el-col>
        </el-form-item>
      </el-row>
      <!-- 第五行 -->
      <el-row class="rowStyle" gutter="25" style="margin-top:20px;">
        <el-form-item size="mini">
          <el-col style="font-size:0.9vw;">
            <span>审核结果</span>
            <el-input
              class="inputStyle"
              style="width:20vw"
              size="mini"
              v-model="form.audit_resion"
              disabled
            ></el-input>
          </el-col>
        </el-form-item>
        <el-form-item size="mini">
          <el-col style="font-size:0.9vw;">
            <span>审核意见</span>
            <el-input
              class="inputStyle"
              style="width:40vw"
              size="mini"
              v-model="form.audit_option"
              disabled
            ></el-input>
          </el-col>
        </el-form-item>
      </el-row>
      <!-- 第六行 -->
      <el-row class="rowStyle" gutter="25">
        <el-form-item size="mini">
          <el-col style="font-size:0.9vw;">
            <span>审核人</span>
            <el-input
              class="inputStyle"
              style="width:21vw"
              size="mini"
              v-model="form.audit_name"
              disabled
            ></el-input>
          </el-col>
        </el-form-item>
        <el-form-item size="mini">
          <el-col style="font-size:0.9vw;">
            <span>审核时间</span>
            <el-input
              class="inputStyle"
              style="width:20vw"
              size="mini"
              v-model="form.audit_time"
              disabled
            ></el-input>
          </el-col>
        </el-form-item>
      </el-row>
    </el-form>
    <el-row class="rowStyle" style="margin-top:30px;margin-left:250px;">
      <el-button
        size="mini"
        class="filter-item"
        style="margin-right: 150px;width:150px"
        type="primary"
        @click="submitForm('form')"
      >确认提交</el-button>
      <el-button
        size="mini"
        class="filter-item"
        style="margin-left: 10px;width:150px"
        type="primary"
        plain
        @click="$router.back(-1)"
      >取消返回</el-button>
    </el-row>
    <el-dialog title="用户管理" :visible.sync="dialogFormVisible" width="90%" top="10vh">
      <user-component v-on:chooseUserCallBack="chooseUserCall"></user-component>
    </el-dialog>
  </div>
</template>

<style>
.rowStyle {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.rowStyle1 {
  display: flex;
  flex-direction: row;
  height: 0px;
  width: 30vw;
  line-height: 45px;
  /* background: darkblue; */
  margin-top: -8px;
}

.inputStyle {
  margin-left: 0.4vw;
  font-size: 0.9vw;
  padding: 0;
}
.rowRight {
  position: absolute;
  right: -81vw;
  width: 35vw;
  text-align: right;
  /* background-color: blanchedalmond; */
}
.borderStyle {
  border-bottom: 1px solid darkgray;
}
</style>


<script>
import { page, addObj, getObj, delObj, putObj } from "api/admin/demo/index";
import { mapGetters } from "vuex";
import userComponent from "views/components/userComponent";
export default {
  name: "leave",
  components: {
    userComponent
  },
  data() {
    return {
      activeName: "first",
      form: {
        appier_date: undefined, //申请日期
        user_id: undefined, //申请人
        depart_name: undefined, //部门名称
        leave_type: undefined, //请假类型
        start_time: undefined, //开始时间
        end_time: undefined, //结束时间
        leaven_resion: undefined, //请假说明
        notification: undefined, //抄送通知
        audit_resion: undefined, //审核结果
        audit_option: undefined, //审核意见
        audit_name: undefined, //审核人
        audit_time: undefined //审核时间
      },
      //请假类型
      options1: [
        {
          value: "选项1",
          label: "事假"
        },
        {
          value: "选项2",
          label: "病假"
        },
        {
          value: "选项3",
          label: "婚假"
        },
        {
          value: "选项4",
          label: "丧假"
        },
        {
          value: "选项5",
          label: "调休"
        },
        {
          value: "选项6",
          label: "产假"
        },
        {
          value: "选项7",
          label: "其他"
        }
      ],
      //请假时间
      pickerOptions1: {
        shortcuts: [
          {
            text: "今天",
            onClick(picker) {
              picker.$emit("pick", new Date());
            }
          },
          {
            text: "昨天",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          },
          {
            text: "一周前",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            }
          }
        ]
      },
      rules: {
        leave_type: [
          {
            required: true,
            trigger: "change"
          }
        ],
        start_time: [
          {
            required: true,
            trigger: "change"
          }
        ],
        end_time: [
          {
            required: true,
            trigger: "change"
          }
        ],
        leaven_resion: [
          {
            required: true,
            trigger: "blur"
          }
        ],
        notification: [
          {
            required: true,
            trigger: "change"
          }
        ]
      },
      list: null,
      dialogFormVisible: false //弹出框状态
    };
  },
  created() {
    this.getList();
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    //选择抄送人
    chooseUserCall(msg) {
      if (msg.departName != undefined) {
        this.form.notification = msg.name + " （" + msg.departName + "）";
      } else {
        this.form.notification = msg.name + " （无部门）";
      }
      this.dialogFormVisible = false;
    },
    //抄送通知弹出框
    handleDialog1() {
      this.dialogFormVisible = true;
    },
    getList() {
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.rows;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
    },
    handleUpdate(row) {
      getObj(row.id).then(response => {
        this.form = response.data;
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
      });
    },
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    create(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          addObj(this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    cancel(formName) {
      this.dialogFormVisible = false;
      const set = this.$refs;
      set[formName].resetFields();
    },
    update(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          this.dialogFormVisible = false;
          this.form.password = undefined;
          putObj(this.form.id, this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    resetTemp() {
      this.form = {
        username: undefined,
        name: undefined,
        sex: "男",
        password: undefined,
        description: undefined
      };
    }
  }
};
</script>
