<template>
  <div class="app-container calendar-list-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="数学公式" name="first"></el-tab-pane>
    </el-tabs>
    <div class="filter-container">
      <el-button
        size="small"
        class="filter-item"
        type="primary"
        plain
        icon="el-icon-d-arrow-left"
        @click="goBack()"
      >返回</el-button>
      <el-button
        size="small"
        class="filter-item"
        type="primary"
        @click="showCreateDialogForm()"
      >新建数学公式</el-button>
    </div>
    <el-dialog :title="dialogFormProperty.title" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" label-width="100px">
        <el-form-item label="表达式" prop="functionExpression">
          <el-input v-model="form.functionExpression" placeholder="请输入完整的函数表达式"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="hiddenDialogForm()">取 消</el-button>
        <el-button type="primary" @click="handleFormSending()">{{dialogFormProperty.commitBtn}}</el-button>
      </div>
    </el-dialog>
    <el-table
      :key="tableKey"
      :data="list"
      style="width: 100%"
      v-loading.body="loading"
      :header-cell-style="tableClass"
      :cell-style="tableColumnClass"
      :stripe="true"
      highlight-current-row
      fit
      border
      height="55vh"
      size="mini"
    >
      <el-table-column align="center" label="表达式">
        <template slot-scope="scope">
          <span>{{scope.row.name + scope.row.formalParameters + " = " + scope.row.expression}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="测试运算" width="512">
        <el-table-column align="center" label="传入实参">
          <template slot-scope="scope">
            <el-input
              class="short-input"
              v-model="scope.row.testKey"
              placeholder="请使用英文输入法的逗号“,”隔开"
              :change="calculate(scope.row)"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="计算结果" width="180">
          <template slot-scope="scope">
            <b style="width: 200px;">{{scope.row.testValue}}</b>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column fixed="right" align="center" label="操作" width="200">
        <template slot-scope="scope">
          <el-button size="mini" type="success" @click="showUpdateDialogForm(scope.row)">编辑</el-button>
          <el-button size="mini" type="danger" @click="handleRmoveClick(scope.row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import * as functionService from "api/function/index";

export default {
  name: "function",
  data() {
    return {
      tableClass: {
        "background-color": "#F8F8FF",
        "font-size": "1vw",
        padding: "5px"
      },
      tableColumnClass: {
        "font-size": "1vw",
        padding: "1vh 0"
      },
      activeName: "first",
      form: {
        functionExpression: undefined
      },
      rules: {
        functionExpression: [
          {
            required: true,
            message: "请输入完整的函数表达式",
            trigger: "blur"
          },
          {
            min: 0,
            max: 447,
            message: "长度不能超过447个字符",
            trigger: "blur"
          }
        ]
      },
      dialogFormVisible: false,
      dialogFormProperty: {
        title: undefined,
        commitBtn: undefined
      },
      dialogFormProperties: {
        isCreate: {
          title: "新建数学公式",
          commitBtn: "创 建"
        },
        isUpdate: {
          title: "更新数学公式",
          commitBtn: "更 新"
        }
      },
      list: [],
      loading: true,
      tableKey: 0
    };
  },
  methods: {
    goBack() {
      this.$router.history.go(-1);
    },
    showCreateDialogForm() {
      this.dialogFormProperty = this.dialogFormProperties.isCreate;
      this.dialogFormVisible = true;
      this.form.functionExpression = undefined;
    },
    showUpdateDialogForm(exp) {
      this.dialogFormProperty = this.dialogFormProperties.isUpdate;
      this.dialogFormVisible = true;
      this.form.functionExpression =
        exp.name + exp.formalParameters + " = " + exp.expression;
    },
    hiddenDialogForm() {
      this.dialogFormVisible = false;
      this.form.functionExpression = undefined;
    },
    handleFormSending() {
      functionService.save(this.form).then(res => {
        this.$notify({
          title: "成功",
          message: "提交成功",
          type: "success",
          duration: 2000
        });
        this.hiddenDialogForm();
        this.getList();
      });
    },
    getList() {
      this.loading = true;
      functionService.findAll().then(res => {
        this.list = res.map(item => {
          item.testKey = undefined;
          item.testValue = undefined;
          return item;
        });
        this.loading = false;
      });
    },
    calculate(functionExpression) {
      if (functionExpression.testKey && !/([a-zA-Z] | [\u4e00-\u9fa5])+/.test(functionExpression.testKey)) {
        let result = functionService.calculate(functionExpression, ...eval(`[${functionExpression.testKey}]`));
        functionExpression.testValue = isNaN(result) ? 0 : result;
      } else {
        functionExpression.testValue = 0;
      }
    },
    handleRmoveClick(id) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        functionService.remove(id).then(res => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          this.getList();
        });
      });
    }
  },
  created() {
    this.getList();
  }
};
</script>

<style scoped>
.short-input {
  width: 250px;
}
</style>
