<template>
  <div class="app-container" style="margin-left:10px;">
    <el-tabs v-model="activeName">
      <el-tab-pane label="菜单管理" name="first"></el-tab-pane>
    </el-tabs>
    <div class="filter-container">
      <el-button type="primary" size="small" plain icon="el-icon-d-arrow-left" @click="$router.back(-1)">返回</el-button>
      <el-button-group style="margin-left:10px;">
        <el-button type="primary" size="small" v-if="menuManager_btn_add" icon="plus" @click="handlerAdd">添加</el-button>
        <el-button type="primary" size="small" v-if="menuManager_btn_edit" icon="edit" @click="handlerEdit">编辑</el-button>
        <el-button type="primary" size="small" v-if="menuManager_btn_del" icon="delete" @click="handleDelete">删除</el-button>
      </el-button-group>
    </div>

    <el-container style="height: 64vh; border: 1px solid #eee">
      <el-main>
    <el-row :::gutter="20">
      <el-col style="margin-top:15px;" :span="8">
        <el-card class="box-card">
          <el-input size="mini" placeholder="输入关键字进行过滤" v-model="filterText"></el-input>
          <el-tree
            class="filter-tree"
            :data="treeData"
            node-key="id"
            highlight-current
            :props="defaultProps"
            :filter-node-method="filterNode"
            ref="menuTree"
            @node-click="getNodeData"
            default-expand-all
            style="margin-top:15px;"
          ></el-tree>
        </el-card>
      </el-col>
      <el-col style="margin-top:15px;" :span="16">
        <el-card class="box-card">
          <el-form
            :label-position="labelPosition"
            label-width="80px"
            :model="form"
            ref="form"
            size="mini"

          >
            <el-form-item label="路径编码" prop="code">
              <el-input size="mini" v-model="form.code" ::disabled="formEdit" placeholder="请输入路径编码"></el-input>
            </el-form-item>
            <el-form-item label="标题" prop="title">
              <el-input size="mini" v-model="form.title" ::disabled="formEdit" placeholder="请输入标题"></el-input>
            </el-form-item>
            <el-form-item label="父级节点" prop="parentId">
              <el-input size="mini" v-model="form.parentId" ::disabled="formEdit" placeholder="请输入父级节点"></el-input>
            </el-form-item>
            <el-form-item label="图标" prop="icon">
              <el-input size="mini" v-model="form.icon" ::disabled="formEdit" placeholder="请输入图标"></el-input>
            </el-form-item>
            <el-form-item label="资源路径" prop="href">
              <el-input size="mini" v-model="form.href" ::disabled="formEdit" placeholder="请输入资源路径"></el-input>
            </el-form-item>
            <el-form-item label="类型" prop="type">
              <el-select
                v-model="form['type']"
                placeholder="请选择类型"
                ::disabled="formEdit"
                style="width:100%"
                size="mini"
              >
                <el-option v-for="item in  typeOptions" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="排序" prop="orderNum">
              <el-input size="mini" v-model="form.sort" ::disabled="formEdit" placeholder="请输入排序"></el-input>
            </el-form-item>
            <el-form-item label="描述" prop="description">
              <el-input size="mini" v-model="form.description" ::disabled="formEdit" placeholder="请输入描述"></el-input>
            </el-form-item>
            <el-form-item label="前端组件" prop="attr1">
              <el-input size="mini" v-model="form.attr1" ::disabled="formEdit" placeholder="请输入描述"></el-input>
            </el-form-item>
            <el-form-item v-if="formStatus == 'update'">
              <el-button size="mini" type="primary" @click="update('form')">更新</el-button>
              <el-button size="mini" @click="onCancel">取消</el-button>
            </el-form-item>
            <el-form-item v-if="formStatus == 'create'">
              <el-button size="mini" type="primary" @click="create('form')">保存</el-button>
              <el-button size="mini" @click="onCancel">取消</el-button>
            </el-form-item>
          </el-form>
        </el-card>
        <el-card class="box-card" style="margin-top:15px;">
          <span>按钮或资源</span>
          <menu-element :menuId="currentId" ref="menuElement"></menu-element>
        </el-card>
      </el-col>
    </el-row>
    </el-main>
    </el-container>
  </div>
</template>

<script>
import {
  fetchTree,
  getObj,
  addObj,
  delObj,
  putObj
} from "api/admin/menu/index";
import { mapGetters } from "vuex";
export default {
  name: "menu",
  components: {
    "menu-element": () => import("./components/element")
  },
  data() {
    return {
      activeName: "first",
      filterText: "",
      list: null,
      total: null,
      formEdit: true,
      formAdd: true,
      formStatus: "",
      showElement: false,
      typeOptions: ["menu", "dirt"],
      listQuery: {
        name: undefined,
        orderBy: "sort"
      },
      treeData: [],
      defaultProps: {
        children: "children",
        label: "title"
      },
      labelPosition: "right",
      form: {
        code: undefined,
        title: undefined,
        parentId: undefined,
        href: undefined,
        icon: undefined,
        orderNum: undefined,
        sort: undefined,
        description: undefined,
        path: undefined,
        enabled: undefined,
        type: undefined,
        attr1: undefined
      },
      rules: {
        code: [
          {
            required: true,
            message: "请输入路径编码",
            trigger: "blur"
          }
        ],
        title: [
          {
            required: true,
            message: "请输入标题",
            trigger: "blur"
          }
        ],
        type: [
          {
            required: true,
            message: "请选择类型",
            trigger: "blur"
          }
        ]
      },
      currentId: -1,
      menuManager_btn_add: false,
      menuManager_btn_edit: false,
      menuManager_btn_del: false
    };
  },
  watch: {
    filterText(val) {
      this.$refs.menuTree.filter(val);
    }
  },
  created() {
    this.getList();
    this.menuManager_btn_add = this.elements["menuManager:btn_add"];
    this.menuManager_btn_del = this.elements["menuManager:btn_del"];
    this.menuManager_btn_edit = this.elements["menuManager:btn_edit"];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    getList() {
      fetchTree(this.listQuery).then(data => {
        this.treeData = data;
        // console.log(data)
      });
    },
    filterNode(value, data) {
      if (!value) return true;
      return data.label.indexOf(value) !== -1;
    },
    getNodeData(data) {
      if (!this.formEdit) {
        this.formStatus = "update";
      }
      getObj(data.id).then(response => {
        this.form = response.data;
      });
      this.currentId = data.id;
      this.showElement = true;
      this.$refs.menuElement.menuId = data.id;
      this.$refs.menuElement.getList();
    },
    handlerEdit() {
      if (this.form.id) {
        this.formEdit = false;
        this.formStatus = "update";
      }
    },
    handlerAdd() {
      this.resetForm();
      this.formEdit = false;
      this.formStatus = "create";
    },
    handleDelete() {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(this.currentId).then(() => {
          this.getList();
          this.resetForm();
          this.onCancel();
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
        });
      });
    },
    update(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          putObj(this.form.id, this.form).then(() => {
            this.getList();
            this.$notify({
              title: "成功",
              message: "更新成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    create(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          addObj(this.form).then(() => {
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    onCancel() {
      this.formEdit = true;
      this.formStatus = "";
    },
    resetForm() {
      this.form = {
        code: undefined,
        title: undefined,
        parentId: this.currentId,
        href: undefined,
        icon: undefined,
        orderNum: undefined,
        description: undefined,
        path: undefined,
        enabled: undefined
      };
    }
  }
};
</script>
<style scoped>
.tab-container {
  margin: 30px;
}
</style>

