<template>
  <div class="app-container">
		<el-tabs value="first">
			<el-tab-pane name="first"
				label="退货订单管理">
			</el-tab-pane>
		</el-tabs>
		<div class="filter-container">
			<el-form label-width="75px"
      	size="mini">
				<el-row :gutter="10">
					<el-col :span="5">
						<el-form-item label="编号">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="5">
						<el-form-item label="产地">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="5">
						<el-form-item label="类别">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="5">
						<el-form-item label="仓库">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-button size="mini"
							type="primary">
							搜索
						</el-button>
						<el-button size="mini">
							重置条件
						</el-button>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="20">
						<el-form-item label="备注">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-button size="mini"
							type="primary">
							导出数据
						</el-button>
						<el-button size="mini"
							@click="$router.back(-1)">
							返回
						</el-button>
					</el-col>
				</el-row>
			</el-form>
		</div>
		<el-table border height="60vh">
			<el-table-column type="index"
				align="center"
				width="80rpx"
				label="行次">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="仓库">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="编号">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="名称规格">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="产地">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="捆/支">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="类别">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="米">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="件">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="支">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="吨">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="单价">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="金额">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="备注">
			</el-table-column>
			<el-table-column align="center"
				width="120rpx"
				label="操作"
				fixed="right">
			</el-table-column>
		</el-table>
		<el-pagination :page-sizes="[10,20,30, 50]"
			layout="total, sizes, prev, pager, next, jumper">
		</el-pagination>
	</div>
</template>
<style scoped>

</style>
<script>
export default {
	name: "saleManager"
}
</script>
