<template>
	<div class="app-container">
		<el-tabs value="first">
			<el-tab-pane name="first"
				label="订单查询">
			</el-tab-pane>
		</el-tabs>
		<div class="filter-container">
			<el-form label-width="75px"
      	size="mini">
				<el-row :gutter="10">
					<el-col :span="4">
						<el-form-item label="按时间">
							<el-date-picker style="width: 100%;">
							</el-date-picker>
						</el-form-item>
					</el-col>
					<el-col :span="3">
						<el-form-item label="至"
							label-width="20px">
							<el-date-picker style="width: 100%;">
							</el-date-picker>
						</el-form-item>
					</el-col>
					<el-col :span="5">
						<el-form-item label="订单状态">
							<el-select>
								<el-option label="全部"></el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="订单编号">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-button type="primary"
							size="mini">
							搜索
						</el-button>
						<el-button size="mini">
							重置条件
						</el-button>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="6">
						<el-form-item label="业务员">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="客户名称">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="客户电话">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-button type="primary"
							size="mini">
							导出数据
						</el-button>
						<el-button size="mini"
							@click="$router.back(-1)">
							返回
						</el-button>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="6">
						<el-form-item label="运输车号">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="司机身份证"
							label-width="85px">
							<el-input></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-form-item label="开票">
							<el-select>
								<el-option label="全部"></el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-form-item label="结数">
							<el-select>
								<el-option label="全部"></el-option>
							</el-select>
						</el-form-item>
					</el-col>
				</el-row>
			</el-form>
		</div>
		<el-table border height="60vh">
			<el-table-column type="index"
				align="center"
				width="80rpx"
				label="行次">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="订单编号">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="客户">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="业务员">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="计价">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="事务总金额">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="订单总金额">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="运输车号">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="司机身份证">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="结数">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="开票">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="订单状态">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="开单时间">
			</el-table-column>
			<el-table-column align="center"
				width="120rpx"
				label="操作"
				fixed="right">
			</el-table-column>
		</el-table>
		<el-pagination :page-sizes="[10,20,30, 50]"
			layout="total, sizes, prev, pager, next, jumper">
		</el-pagination>
	</div>
</template>
<style scoped>

</style>
<script>
export default {
	name: "orderQuery"
}
</script>
