<template>
  <div class="app-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="修改密码" name="first"></el-tab-pane>
    </el-tabs>
    <el-button
      class="filter-item"
      type="primary"
      plain
      icon="el-icon-d-arrow-left"
      @click="$router.back(-1)"
    >返回</el-button>

    <el-button class="filter-item" style="margin-left:10px;" type="primary" @click="update">修改</el-button>

    <el-card class="box-card">
      <el-row>
        <el-col :span="12" :offset="6">
          <el-form
            :label-position="labelPosition"
            label-width="100px"
            :model="form"
            ref="form"
            :rules="rules"
          >
            <el-form-item label="旧密码" prop="oldPassword">
              <el-input v-model="form.oldPassword" placeholder="请输入旧密码" type="password"></el-input>
            </el-form-item>
            <el-form-item label="新密码" prop="newPassword">
              <el-input v-model="form.newPassword" placeholder="请输入新密码" type="password"></el-input>
            </el-form-item>
            <el-form-item label="确定新密码" prop="truePassword">
              <el-input v-model="form.truePassword" placeholder="请输入新密码" type="password"></el-input>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>
<style>
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 100%;
  margin-top: 20px;
}
.el-row {
  margin-bottom: 20px;
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.head-div {
  width: 200px;
  height: 200px;
  border: 3px solid #adadad;
  border-radius: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.btn {
  width: 200px;
  position: absolute;
  left: 20%;
  transform: translate(-45%);
}
</style>


<script>
import "assets/RSA";
import { getPassPubKey } from "api/login";
import { mapGetters } from "vuex";
import { Message } from "element-ui";
import { updatePass } from "api/admin/personalCentre/index";
export default {
  data() {
    return {
      activeName: "first",
      fileList2: [],
      departManager_btn_edit: false,
      formEdit: true,
      formStatus: "",
      labelPosition: "right",
      radio: "",
      publicKeyExponent: "",
      publicKeyModulus: "",
      form: {
        oldPassword: undefined,
        newPassword: undefined,
        truePassword: undefined
      },
      rules: {
        oldPassword: [
          {
            required: true,
            message: "请输入旧密码",
            trigger: "blur"
          },
          {
            min: 6,
            max: 20,
            message: "长度在 6 到 20 个字符",
            trigger: "blur"
          }
        ],
        newPassword: [
          {
            required: true,
            message: "请输入新密码",
            trigger: "blur"
          },
          {
            min: 6,
            max: 20,
            message: "长度在 6 到 20 个字符",
            trigger: "blur"
          }
        ],
        truePassword: [
          {
            required: true,
            message: "请输入新密码",
            trigger: "blur"
          },
          {
            min: 6,
            max: 20,
            message: "长度在 6 到 20 个字符",
            trigger: "blur"
          }
        ]
      }
    };
  },
  created() {
    //获取密码加密私钥
    getPassPubKey().then(response => {
      this.publicKeyExponent = response.data.publicKeyExponent;
      this.publicKeyModulus = response.data.publicKeyModulus;
    });
  },
  computed: {
    ...mapGetters(["token"])
  },
  methods: {
    handleRemove(file, fileList) {
      console.log("111:", file, fileList);
      this.fileList2 = fileList;
    },
    handlePreview(file) {
      console.log("222:", file);
      this.fileList2 = file;
    },
    handlerEdit() {
      this.formEdit = false;
      this.formStatus = "update";
    },
    update() {
      console.log(this.form);
      this.$refs.form.validate(valid => {
        if (valid) {
          if (this.form.newPassword != this.form.truePassword) {
            Message({
              message: "密码前后不一致",
              type: "error",
              duration: 2 * 1000
            });
            return false;
          }

          RSAUtils.setMaxDigits(200);
          var key = RSAUtils.getKeyPair(
            this.publicKeyExponent,
            "",
            this.publicKeyModulus
          );
          var encrypedOld = RSAUtils.encryptedString(
            key,
            this.form.oldPassword
              .split("")
              .reverse()
              .join("")
          );
          this.form.oldPassword = encrypedOld;
          var encrypedNew = RSAUtils.encryptedString(
            key,
            this.form.newPassword
              .split("")
              .reverse()
              .join("")
          );
          this.form.newPassword = encrypedNew;

          updatePass(this.form)
            .then(() => {
              this.reset();
              this.$notify({
                title: "成功",
                message: "修改成功",
                type: "success",
                duration: 2000
              });
            })
            .catch(() => {
              this.reset();
            });
        }
      });
    },
    reset() {
      this.form.oldPassword = undefined;
      this.form.newPassword = undefined;
      this.form.truePassword = undefined;
    }
  }
};
</script>
