<template>
  <div class="app-container calendar-list-container">
  </div>
</template>

<script>
import * as functionService from "api/function/index";

export default {
  name: "demo",
  data() {
    return {
      calculator: undefined
    };
  },
  created() {
    functionService.querySelector("长方形周长", "二次函数").then(calculator => {
      this.calculator = calculator;
    });
  },
  methods: {
    "将米转为吨": function() {
      let reuslt = this.calculator.calculate("长方形周长", 5, 6);
    }
  }
};
</script>

<style scoped>

</style>

