<template>
  <div class="app-container">
    <el-tabs value="first">
      <el-tab-pane name="first"
        label="添加销售订单">
      </el-tab-pane>
    </el-tabs>
    <div class="filter-container">
      <el-button class="filter-item"
        icon="el-icon-d-arrow-left"
        type="primary"
        size="mini"
        plain
        @click="$router.back(-1)">
        返回
      </el-button>
      <el-button class="filter-item"
        type="primary"
        size="mini"
        @click="handleCreateFormItem()">
        添加一行
      </el-button>
      <el-button class="filter-item"
        type="primary"
        size="mini">
        保存并提交
      </el-button>
      <el-button class="filter-item"
        type="primary"
        size="mini">
        打印并保存
      </el-button>
    </div>
    <el-form label-width="85px"
      size="mini">
      <el-row>
        <el-col :span="7">
          <el-form-item label="开单日期">
            <el-input size="mini"
              v-model="form.createdTime"
              disabled>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="订单编号">
            <el-input size="mini"
              v-model="form.billId"
              disabled>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="订单状态">
            {{ billType }}
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="审核">
            <el-input size="mini"
              disabled>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="9">
          <el-form-item label="客户">
            <el-input size="mini"
              v-model="form.customerName">
              <el-button size="mini"
                slot="append"
                @click="showCustomerDialog()">
                选择
              </el-button>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item label="业务员">
            <el-input size="mini"
              v-model="form.salesmanName">
              <el-button size="mini"
                slot="append"
                @click="showSalesmanDialog()">
                选择
              </el-button>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="备注">
            <el-input size="mini"
              v-model="form.remarks">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="客户电话">
            <el-input size="mini"
              v-model="form.customerPhone">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="运输车号">
            <el-input size="mini"
              v-model="form.transportVehicle">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="司机身份证">
            <el-input size="mini"
              v-model="form.driverId">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-table highlight-current-row="true"
        height="60vh"
        :data="form.items"
        :stripe="true"
        show-summary
        border
        fit>
        <el-table-column type="index"
          align="center"
          width="80rpx"
          label="序号">
        </el-table-column>
        <el-table-column align="center"
          width="120rpx"
          label="仓库">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.depotId"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120rpx"
          label="编号">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.id"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="180px"
          label="名称规格">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.nameSpec">
              <button size="mini"
                slot="append">
                选择
              </button>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="180px"
          label="产地">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.producingArea"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="捆/支">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.bundleBranch"
              readonly="true">
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="类别">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.category"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="180px"
          label="客户规格">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.customerSpec"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="计价">
          <template slot-scope="scope">
            <span>{{scope.row.pricingMode}}</span>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="米">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.M"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="件">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.pcs"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="客件">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.customerPcs"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="支">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.piec"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="客支">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.customerPiec"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="吨">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.t"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="客重吨">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.customerT"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="单价">
          <template slot-scope="scope">
            <el-input
              size="mini"
              v-model="scope.row.unitPrice"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="事务价">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.returnUnitPrice"
              clearable>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center"
          width="120px"
          label="事务金额">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.returnTotalPrice"
              clearable
              disabled>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column fixed="right"
          align="center"
          width="120px"
          label="总金额">
          <template slot-scope="scope">
            <el-input size="mini"
              v-model="scope.row.fee"
              clearable
              disabled>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column fixed="right"
          align="center"
          width="80px"
          label="操作">
          <template slot-scope="scope">
            <el-button size="mini"
              type="danger"
              @click="handleRemoveFormItem(scope.$index)">
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-row>
        <el-col :span="4">
          <el-form-item label="加工信息">
            <el-input size="mini"
              v-model="form.processInfo">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="运输信息">
            <el-input size="mini"
              v-model="form.transportInfo">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="装卸信息">
            <el-input size="mini"
              v-model="form.loadingInfo">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="过磅信息">
            <el-input size="mini"
              v-model="form.weghtInfo">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="其他信息">
            <el-input size="mini"
              v-model="form.othersInfo">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="商品合计">
            <el-input size="mini"
              v-model="form.goodsFee">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="4">
          <el-form-item label="加工费">
            <el-input size="mini"
              v-model="form.processAmount">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="运输费">
            <el-input size="mini"
              v-model="form.transportAmount">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="装卸费">
            <el-input size="mini"
              v-model="form.loadingAmount">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="过磅费">
            <el-input size="mini"
              v-model="form.weghtAmount">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="其他费">
            <el-input size="mini"
              v-model="form.othersAmount">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="费用合计">
            <el-input size="mini"
              v-model="form.extraxFee">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row><hr>
      <el-row>
        <el-col :span="4">
          <el-form-item label="结算方式">
            <el-select size="mini"
              v-model="form.paymentMode">
              <el-option label="现金现结" value="现金现结"></el-option>
              <el-option label="移动支付现结" value="移动支付现结"></el-option>
              <el-option label="银行卡现结" value="银行卡现结"></el-option>
              <el-option label="欠款" value="欠款"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="开票">
            <el-select size="mini"
              v-model="form.invoice"
              placeholder="请选择">
              <el-option label="是" value="是"></el-option>
              <el-option label="否" value="否"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="结数">
            <el-select size="mini"
              placeholder="请选择">
              <el-option label="现结"></el-option>
              <el-option label="欠款"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="单据类型">
            <el-select size="mini"
              placeholder="请选择">
              <el-option label="销售出仓"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="事务金额">
            <el-input size="mini"
              v-model="form.businessFee">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="单据金额">
            <el-input size="mini"></el-input>
          </el-form-item>
        </el-col>
      </el-row><hr>
      <el-row>
        <el-col :span="6">
          <el-form-item label="打印公司">
            <el-select size="mini"
              placeholder="请选择">
              <el-option label="佛山银洲钢铁贸易有限公司"></el-option>
              <el-option label="佛山浦汇钢铁贸易有限公司"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="打印电话">
            <el-select size="mini"
              placeholder="请选择">
              <el-option label="是"></el-option>
              <el-option label="否"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="打印类型">
            <el-select size="mini"
              placeholder="请选择">
              <el-option label="发货单"></el-option>
              <el-option label="缴费单"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="计价方式">
            <el-radio-group>
              <el-radio label="吨"></el-radio>
              <el-radio label="支"></el-radio>
              <el-radio label="米"></el-radio>
              <el-radio label="件"></el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-dialog title="选择客户"
      width="90%"
      top="10vh"
      :visible.sync="customerDialogVisible"
      append-to-body>
      <customer-component @chooseCustomerCallBack="handleChoosedCustomerCallBack"></customer-component>
    </el-dialog>
    <el-dialog title="选择业务员"
      width="90%"
      top="10vh"
      :visible.sync="salesmanDialogVisible">
      <user-component v-on:chooseUserCallBack="handleChoosedSalesmanCallBack"></user-component>
    </el-dialog>
  </div>
</template>
<style scoped>
el-table {
  width: 100%;
}
</style>
<script>
import userComponent from "views/components/userComponent";
import customerComponent from "views/components/customerComponent";

export default {
  name: "addSale",
  components: {
    userComponent,
    customerComponent
  },
  data() {
    return {
      form: createNewForm(),
      customerDialogVisible: false,
      salesmanDialogVisible: false
    }
  },
  methods: {
    handleCreateFormItem() {
      let item = createNewFormItem();
      this.form.items.push(item);
    },
    handleRemoveFormItem(index) {
      this.form.items.splice(index, 1);
    },
    handleChoosedCustomerCallBack(customerDetails) {
      this.customerDialogVisible = false;
      this.form.customerId = customerDetails.id;
      this.form.customerName = customerDetails.name;
      this.form.customerPhone = customerDetails.phone1;
    },
    showCustomerDialog() {
      this.customerDialogVisible = true;
    },
    handleChoosedSalesmanCallBack(userDetails) {
      this.salesmanDialogVisible = false;
      this.form.salesman = userDetails.id;
      this.form.salesmanName = userDetails.name;
    },
    showSalesmanDialog() {
      this.salesmanDialogVisible = true;
    }
  },
  computed: {
    billType() {
      switch(this.form.billType) {
        case "WAIT_CHECK": 
          return "待审核";
        case "WAIT_DELIVERY":
          return "待发货";
        case "WAIT_PAY":
          return "待付款";
        case "COMPLETED":
          return "已完成";
        case "INVALID":
          return "已作废";
        case "IN_RETURN":
          return "退货中";
        case "IN_RETURN_PASS":
          return "退货审核通过";
        case "RETURNED":
          return "已退货";
        default:
          return "待审核";
      }
    }
  }
}

function createNewForm() {
  return {
    id: undefined,
		billId: undefined,
    customerId: undefined,
    customerName: undefined,
    customerPhone: undefined,
    salesman: undefined,
    salesmanName: undefined,
    transportVehicle: undefined,
    driverId: undefined,
		deliver: undefined,
		processInfo: undefined,
		processAmount: undefined,
		transportInfo: undefined,
		transportAmount: undefined,
		loadingInfo: undefined,
		loadingAmount: undefined,
		weghtInfo: undefined,
		weghtAmount: undefined,
		othersInfo: undefined,
		othersAmount: undefined,
		extraxFee: undefined,
		goodsFee: undefined,
		businessFee: undefined,
		invoice: undefined,
		paymentMode: undefined,
		paymentInfo: undefined,
		remarks: undefined,
		checkRemarks: undefined,
		billType: undefined,
		checkBy: undefined,
		checkTime: undefined,
		checkType: undefined,
		revision: undefined,
		createdBy: undefined,
		createdTime: undefined,
		updatedBy: undefined,
		updatedTime: undefined,
		companyId: undefined,
		items: []
  }
}

function createNewFormItem() {
  return {
    id: undefined,
    billId: undefined,
    goodsId: undefined,
    customerSpec: undefined,
    pricingMode: undefined,
    m: undefined,
    pcs: undefined,
    customerPcs: undefined,
    piec: undefined,
    customerPiec: undefined,
    t: undefined,
    customerT: undefined,
    unitPrice: undefined,
    returnUnitPrice: undefined,
    returnTotalPrice: undefined,
    revision: undefined,
    createdBy: undefined,
    createdTime: undefined,
    updatedBy: undefined,
    updatedTime: undefined,
    companyId: undefined
  }
}
</script>

