<template>
  <div class="app-container calendar-list-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="员工管理" name="first"></el-tab-pane>
    </el-tabs>
    <div class="filter-container">
      <!-- <el-select
        v-model="listQuery.compId"
        multiple
        multiple-:limit="1"
        filterable
        remote
        placeholder="请输入企业关键词"
        :remote-method="remoteMethodComp"
        :loading="loadingComp"
        size="small"
      >
        <el-option v-for="item in itemsComp" :key="item.id" :label="item.name" :value="item.id"></el-option>
      </el-select>-->
      <el-input
        size="small"
        @keyup.enter.native="handleFilter"
        style="width: 15vw;margin-top: 8px;"
        class="filter-item"
        placeholder="请输入姓名"
        v-model="listQuery.name"
      ></el-input>
      <el-input
        size="small"
        class="input-with-select"
        placeholder="请选择公司部门"
        v-model="mydepartName"
        style="width:15vw"
        :readonly="true"
      >
        <el-button size="mini" slot="append" @click="getDepartTree" plain style="border:0;">选择</el-button>
      </el-input>
      <el-dialog width="30%" title="公司部门" :visible.sync="innerVisible" append-to-body>
        <span style="color:#409EFF;margin-left:10px;">所属部门：{{departNameQuery}}</span>
        <el-card style="margin-top:10px;">
          <el-tree
            ref="departT"
            :data="departData"
            :props="defaultProps"
            @node-click="handleNodeClick1"
            default-expand-all
            node-key="id"
          ></el-tree>
        </el-card>
      </el-dialog>

      <el-input
        size="small"
        class="input-with-select"
        placeholder="请选择用户角色"
        v-model="roleName"
        style="width:200px"
        :readonly="true"
      >
        <el-button size="mini" slot="append" @click="getRoleTree" plain style="border:0;">选择</el-button>
      </el-input>
      <el-dialog width="30%" title="用户角色" :visible.sync="roleInnerVisible" append-to-body>
        <span style="color:#409EFF;margin-left:10px;">用户角色：{{roleNameQuery}}</span>
        <el-card style="margin-top:10px;">
          <el-tree
            ref="roleT"
            :data="roleData"
            :props="defaultProps"
            @node-click="roleQueryCheck"
            default-expand-all
            node-key="id"
          ></el-tree>
        </el-card>
      </el-dialog>

      <el-button
        size="small"
        class="filter-item"
        type="primary"
        v-waves
        icon="el-icon-search"
        style="margin-left: 10px;margin-top: 8px;"
        @click="handleFilter"
      >搜索</el-button>
      <el-button
        size="small"
        class="filter-item"
        v-if="userManager_btn_add"
        style="margin-left: 10px;margin-top: 8px;"
        @click="handleCreate"
        type="primary"
        icon="edit"
      >添加</el-button>
      <el-button
        size="small"
        class="filter-item"
        style="margin-left: 10px;margin-top: 8px;"
        @click="$router.back(-1)"
        icon="el-icon-d-arrow-left"
        type="primary"
        plain
      >返回</el-button>
    </div>
    <el-table
      :key="tableKey"
      :data="list"
      v-loading.body="listLoading"
      :header-cell-style="tableClass"
      :cell-style="tableColumnClass"
      :stripe="true"
      border
      fit
      highlight-current-row
      style="width: 100%"
      height="53vh"
      size="mini"
    >
      <!-- <el-table-column align="center" label="序号" width="80">
        <template slot-scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>-->
      <el-table-column align="center" label="姓名" width="100">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="账户" width="120">
        <template slot-scope="scope">
          <span>{{scope.row.username}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="性别" width="80">
        <template slot-scope="scope">
          <span>{{scope.row.sex}}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="拥有角色">
        <template slot-scope="scope">
          <span v-for="role in scope.row.groups">{{role.name}}.</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="所属企业" width="100">
        <template slot-scope="scope">
          <span>{{scope.row.compName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="所在部门" width="100">
        <template slot-scope="scope">
          <span>{{scope.row.departName}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="备注" width="100">
        <template slot-scope="scope">
          <span>{{scope.row.description}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="150">
        <template slot-scope="scope">
          <el-button
            v-if="userManager_btn_edit"
            size="mini"
            type="success"
            @click="handleUpdate(scope.row)"
          >编辑</el-button>
          <el-button
            v-if="userManager_btn_del"
            size="mini"
            type="danger"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[12,24,36, 48]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="form" label-width="100px">
        <!-- <el-form-item label="所属企业" prop="compId">
          <el-select
            v-model="form.compId"
            filterable
            remote
            placeholder="请输入企业关键词"
            :remote-method="remoteMethodComp"
            :loading="loadingComp"
          >
            <el-option v-for="item in itemsComp" :key="item.id" :label="item.name" :value="item.id"></el-option>
          </el-select>
        </el-form-item>-->
        <el-form-item label="所属部门" prop="departId">
          <el-input class="input-with-select" placeholder="请选择公司部门" v-model="mydepartName">
            <el-button slot="append" @click="getDepartTree" plain style="border:0;">选择</el-button>
          </el-input>
          <el-dialog width="30%" title="公司部门" :visible.sync="innerVisible" append-to-body>
            <span style="color:#409EFF;margin-left:10px;">所属部门：{{mydepartName}}</span>
            <el-card style="margin-top:10px;">
              <el-tree
                ref="departT"
                :data="departData"
                :props="defaultProps"
                @node-click="handleNodeClick1"
                default-expand-all
                node-key="id"
              ></el-tree>
            </el-card>
          </el-dialog>
        </el-form-item>
        <el-form-item label="用户角色" prop="roleId">
          <el-input class="input-with-select" placeholder="请分配用户角色" v-model="roleName">
            <el-button slot="append" @click="getRoleTree" plain style="border:0;">选择</el-button>
          </el-input>
          <el-dialog width="30%" title="角色分配" :visible.sync="roleInnerVisible" append-to-body>
            <span style="color:#409EFF;margin-left:10px;">用户角色：{{roleName}}</span>
            <el-card style="margin-top:10px;">
              <el-tree
                :data="roleData"
                show-checkbox
                check-on-click-node
                check-strictly
                :props="defaultProps"
                default-expand-all
                ref="tree"
                highlight-current
                @check="getCheckedNodes"
                node-key="id"
              ></el-tree>
            </el-card>
            <div slot="footer" class="dialog-footer">
              <el-button @click="sureRoles">确定</el-button>
            </div>
          </el-dialog>
        </el-form-item>
        <div style="display: flex;flex-direction: row;">
          <el-col :span="16">
            <el-form-item label="姓名" prop="name">
              <el-input v-model="form.name" placeholder="请输入姓名"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="性别">
              <el-select class="filter-item" v-model="form.sex" placeholder="请选择">
                <el-option v-for="item in  sexOptions" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </div>
        <el-form-item label="账户" prop="username">
          <el-input v-if="dialogStatus == 'create'" v-model="form.username" placeholder="请输入账户"></el-input>
          <el-input v-else v-model="form.username" placeholder="请输入账户" readonly></el-input>
        </el-form-item>
        <el-form-item v-if="dialogStatus == 'create'" label="密码" prop="password">
          <el-input type="password" v-model="form.password" placeholder="请输入密码"></el-input>
        </el-form-item>
        <el-form-item v-else label="密码" prop="password">
          <el-input type="password" v-model="form.password" placeholder="不修改密码请留空"></el-input>
        </el-form-item>
        <el-form-item label="描述">
          <el-input
            :autosize="{ minRows: 3, maxRows: 5}"
            placeholder="请输入内容"
            v-model="form.description"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel('form')">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create('form')">确 定</el-button>
        <el-button v-else type="primary" @click="update('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  page,
  departTree,
  roleTree,
  departPage,
  compPage,
  addObj,
  getObj,
  delObj,
  putObj
} from "api/admin/user/index";
import { mapGetters } from "vuex";
import "assets/RSA";
import { getPassPubKey } from "api/login";
import { setTimeout } from "timers";

export default {
  name: "user",
  data() {
    return {
      tableClass: {
        "background-color": "#F8F8FF",
        "font-size": "1vw",
        padding: "5px"
      },
      tableColumnClass: {
        "font-size": "1vw",
        padding: "1vh 0"
      },
      activeName: "first",
      items: [],
      loading: false,
      itemsComp: [],
      loadingComp: false,
      form: {
        username: undefined,
        name: undefined,
        sex: "男",
        password: undefined,
        description: undefined,
        departId: undefined,
        groupIds: undefined
      },
      rules: {
        name: [
          {
            required: true,
            message: "请输入用户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 2 到 20 个字符",
            trigger: "blur"
          }
        ],
        username: [
          {
            required: true,
            message: "请输入账户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        password: [
          {
            message: "请输入密码",
            trigger: "blur"
          },
          {
            min: 6,
            max: 20,
            message: "长度在 6 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      total: null,
      listLoading: true,
      departNameQuery: undefined,
      roleNameQuery: undefined,
      roleName: undefined,
      listQuery: {
        page: 1,
        limit: 12,
        name: undefined,
        departId: undefined,
        compId: undefined,
        groupId: undefined
      },
      sexOptions: ["男", "女"],
      dialogFormVisible: false,
      innerVisible: false,
      roleInnerVisible: false,
      dialogStatus: "",
      userManager_btn_edit: false,
      userManager_btn_del: false,
      userManager_btn_add: false,
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0,
      publicKeyExponent: "",
      publicKeyModulus: "",
      mydepartName: "",
      roleName: "",
      departData: [],
      selectDapart: [],
      roleData: [],
      defaultProps: {
        children: "children",
        label: "label"
      }
    };
  },
  created() {
    //获取密码加密私钥
    getPassPubKey().then(response => {
      this.publicKeyExponent = response.data.publicKeyExponent;
      this.publicKeyModulus = response.data.publicKeyModulus;
    });

    this.getList();
    this.userManager_btn_edit = this.elements["userManager:btn_edit"];
    this.userManager_btn_del = this.elements["userManager:btn_del"];
    this.userManager_btn_add = this.elements["userManager:btn_add"];
  },
  computed: {
    ...mapGetters(["elements", "compId"])
  },
  methods: {
    handleNodeClick1(departData) {
      console.log(departData.id);
      this.mydepartName = departData.label;
      this.form.departId = departData.id;
      this.departNameQuery = departData.label;
      this.listQuery.departId = departData.id;
      this.innerVisible = false;
    },
    roleQueryCheck(roleData) {
      this.roleName = roleData.label;
      this.roleNameQuery = roleData.label;
      this.listQuery.groupId = roleData.id;
      this.roleInnerVisible = false;
    },
    getDepartTree() {
      departTree().then(departData => {
        this.departData = departData;
        this.innerVisible = true;
      });
    },
    getCheckedNodes(a, b) {
      var item = this.$refs.tree.getCheckedNodes();
      var _roleName = "";
      var _roleId = "";
      for (var i = 0; i < item.length; i++) {
        if (i + 1 != item.length) {
          _roleName += item[i].label + " |";
          _roleId += item[i].id + "|";
        } else {
          _roleName += item[i].label;
          _roleId += item[i].id;
        }
      }
      this.roleName = _roleName;
      this.form.groupIds = _roleId;
    },

    getRoleTree() {
      var query = { groupType: "1" };
      roleTree(query).then(roleData => {
        this.roleData = roleData;
        this.roleInnerVisible = true;
        console.log(roleData);
      });
    },
    sureRoles() {
      this.roleInnerVisible = false;
    },
    getList() {
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.rows;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    remoteMethod(query) {
      if (query !== "") {
        this.loading = true;
        departPage({
          name: query
        }).then(response => {
          this.items = response.data.rows;
          this.total = response.data.total;
          this.loading = false;
        });
      } else {
        this.items = [];
      }
    },
    remoteMethodComp(query) {
      if (query !== "") {
        this.loadingComp = true;
        compPage({
          name: query
        }).then(response => {
          this.itemsComp = response.data.rows;
          this.total = response.data.total;
          this.loadingComp = false;
        });
      } else {
        this.itemsComp = [];
      }
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
      this.mydepartName = "";
      this.form.departId = undefined;
      this.form.groupIds = "";
      this.roleName = "";
    },
    handleUpdate(row) {
      this.form.groupIds = "";
      this.roleName = "";

      getObj(row.id).then(response => {
        console.log(response.data);
        this.form = response.data;
        // this.form.password = undefined;
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
        this.items = [
          { id: response.data.departId, name: response.data.departName }
        ];
        this.itemsComp = [
          { id: response.data.compId, name: response.data.compName }
        ];

        this.mydepartName = response.data.departName;
        this.form.departId = response.data.departId;

        var item = response.data.groups;
        var _roleName = "";
        var _roleId = "";
        for (var i = 0; i < item.length; i++) {
          if (i + 1 != item.length) {
            _roleName += item[i].name + " |";
            _roleId += item[i].id + "|";
          } else {
            _roleName += item[i].name;
            _roleId += item[i].id;
          }
        }
        this.roleName = _roleName;
        this.form.groupIds = _roleId;
      });
    },
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    create(formName) {
      RSAUtils.setMaxDigits(200);
      var key = RSAUtils.getKeyPair(
        this.publicKeyExponent,
        "",
        this.publicKeyModulus
      );
      var encrypedPwd = RSAUtils.encryptedString(
        key,
        this.form.password
          .split("")
          .reverse()
          .join("")
      );
      var oldPass = this.form.password;
      console.log(this.form.departId);
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          this.form.password = encrypedPwd;
          addObj(this.form)
            .then(() => {
              this.mydepartName = "";
              this.form.groupIds = "";
              this.roleName = "";
              this.form.password = oldPass;
              this.dialogFormVisible = false;
              this.getList();
              this.$notify({
                title: "成功",
                message: "创建成功",
                type: "success",
                duration: 2000
              });
            })
            .catch(() => {
              this.form.password = oldPass;
            });
        } else {
          this.form.password = oldPass;
          return false;
        }
      });
    },
    cancel(formName) {
      this.dialogFormVisible = false;
      this.$refs[formName].resetFields();
      this.mydepartName = "";
      this.form.departId = undefined;
      this.form.groupIds = "";
      this.roleName = "";
    },
    update(formName) {
      RSAUtils.setMaxDigits(200);
      var key = RSAUtils.getKeyPair(
        this.publicKeyExponent,
        "",
        this.publicKeyModulus
      );
      if (this.form.password == undefined) this.form.password = "";
      var encrypedPwd = RSAUtils.encryptedString(
        key,
        this.form.password
          .split("")
          .reverse()
          .join("")
      );
      var oldPass = this.form.password;

      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          if (this.form.password != undefined && this.form.password != "")
            this.form.password = encrypedPwd;
          else this.form.password = null;
          this.dialogFormVisible = false;
          // this.form.password = undefined;
          this.mydepartName = "";
          // this.form.departId = undefined;
          putObj(this.form.id, this.form)
            .then(() => {
              this.form.password = undefined;
              this.roleName = "";
              this.listQuery.groupId = undefined;
              this.dialogFormVisible = false;
              this.getList();
              this.$notify({
                title: "成功",
                message: "修改成功",
                type: "success",
                duration: 2000
              });
            })
            .catch(() => {
              this.form.password = oldPass;
            });
        } else {
          this.form.password = oldPass;
          return false;
        }
      });
    },
    resetTemp() {
      this.form = {
        username: undefined,
        name: undefined,
        sex: "男",
        password: undefined,
        description: undefined
      };
    }
  }
};
</script>
