<template>
  <div class="app-container calendar-list-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="全部采购" name="first"></el-tab-pane>
    </el-tabs>
    <el-col style="margin-bottom:10px">
      <el-input
        size="mini"
        @keyup.enter.native="handleFilter"
        style="width:10vw;"
        class="filter-item"
        placeholder="编号"
        v-model="listQuery.code"
      ></el-input>
      <el-date-picker
        class="inputStyle"
        style="width:10vw"
        size="mini"
        v-model="listQuery.startDate"
        align="right"
        type="date"
        placeholder="选择签约日期"
        format="yyyy 年 MM 月 dd 日"
        value-format="yyyy-MM-dd"
        :picker-options="pickerOptions1"
      ></el-date-picker>-
      <el-date-picker
        class="inputStyle"
        style="width:10vw"
        size="mini"
        v-model="listQuery.endDate"
        align="right"
        type="date"
        placeholder="选择签约日期"
        format="yyyy 年 MM 月 dd 日"
        value-format="yyyy-MM-dd"
        :picker-options="pickerOptions1"
      ></el-date-picker>
      <el-input
        size="mini"
        @keyup.enter.native="handleFilter"
        style="width:10vw;"
        class="filter-item"
        placeholder="供应商"
        v-model="listQuery.supplierName"
      ></el-input>
      <el-input
        size="mini"
        @keyup.enter.native="handleFilter"
        style="width:10vw;"
        class="filter-item"
        placeholder="采购商"
        v-model="listQuery.purchaserName"
      ></el-input>
      <el-select
        size="mini"
        class="selectStyle"
        style="width:10vw;"
        v-model="listQuery.state"
        placeholder="请选择采购状态"
      >
        <el-option
          v-for="item in stateList"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
          <span style="float: left">{{ item.label }}</span>
        </el-option>
      </el-select>

      <el-button
        size="mini"
        class="filter-item"
        style="margin-left: 10px;"
        type="primary"
        v-waves
        icon="search"
        @click="handleFilter"
      >搜索</el-button>
      <el-button
        size="mini"
        class="filter-item"
        style="margin-left: 10px;"
        type="primary"
        plain
        icon="el-icon-d-arrow-left"
        @click="$router.back(-1)"
      >返回</el-button>
    </el-col>
    <el-table
      :key="tableKey"
      :data="list"
      v-loading.body="listLoading"
      border
      fit
      size="mini"
      highlight-current-row
      style="width: 100%"
      height="32vh"
    >
      <el-table-column align="center" label="编号" width="200px">
        <template slot-scope="scope">
          <span>{{scope.row.code}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="供应商">
        <template slot-scope="scope">
          <span>{{scope.row.supplierName}}</span>
        </template>
      </el-table-column>
      <el-table-column width="250px" align="center" label="采购商">
        <template slot-scope="scope">
          <span>{{scope.row.purchaserName}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="签约时间">
        <template slot-scope="scope">
          <span>{{scope.row.signDate}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column width="200px" align="center" label="签约地点">
        <template slot-scope="scope">
          <span>{{scope.row.signLocation}}</span>
        </template>
      </el-table-column>-->
      <!-- <el-table-column width="200px" align="center" label="理论总重量">
        <template slot-scope="scope">
          <span>{{scope.row.totalWeight}}</span>
        </template>
      </el-table-column>-->
      <el-table-column width="200px" align="center" label="订单金额">
        <template slot-scope="scope">
          <span>{{scope.row.totalAmount}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="订单状态">
        <template slot-scope="scope">
          <span>{{scope.row.state}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column width="200px" align="center" label="是否含税">
        <template slot-scope="scope">
          <span>{{scope.row.tax}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="合同有效起始时间">
        <template slot-scope="scope">
          <span>{{scope.row.validDate}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="合同有效截止时间">
        <template slot-scope="scope">
          <span>{{scope.row.invalidDate}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="合同快照">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            @click="handleFilePreview(scope.row.contractShotcut)"
          >在线预览</el-button>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="预付款额">
        <template slot-scope="scope">
          <span>{{scope.row.prepayAmount}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="预付款时间">
        <template slot-scope="scope">
          <span>{{scope.row.prepayDate}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="尾款额">
        <template slot-scope="scope">
          <span>{{scope.row.postpayAmount}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="付尾款时间">
        <template slot-scope="scope">
          <span>{{scope.row.postpayDate}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="厂家承运到港口">
        <template slot-scope="scope">
          <span>{{scope.row.supplyToPort}}</span>
        </template>
      </el-table-column>
   
      <el-table-column width="200px" align="center" label="合同备注">
        <template slot-scope="scope">
          <span>{{scope.row.remarks}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="集港过磅重量">
        <template slot-scope="scope">
          <span>{{scope.row.portWeght}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="集港负差值">
        <template slot-scope="scope">
          <span>{{scope.row.portTolerance}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="集港负差处理备注">
        <template slot-scope="scope">
          <span>{{scope.row.portToleranceMarks}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="签收过磅重">
        <template slot-scope="scope">
          <span>{{scope.row.nativeWeght}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="签收负差值">
        <template slot-scope="scope">
          <span>{{scope.row.nativeTolerance}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="签收负差处理备注">
        <template slot-scope="scope">
          <span>{{scope.row.nativeToleranceMarks}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="签收人">
        <template slot-scope="scope">
          <span>{{scope.row.receiver}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="签收时间">
        <template slot-scope="scope">
          <span>{{scope.row.receiveDate}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="签收记录">
        <template slot-scope="scope">
          <span>{{scope.row.receiveMarks}}</span>
        </template>
      </el-table-column>-->
      <!-- <el-table-column width="200px" align="center" label="乐观锁">
        <template slot-scope="scope">
          <span>{{scope.row.revision}}</span>
        </template>
      </el-table-column>-->
      <!-- <el-table-column width="200px" align="center" label="创建人">
        <template slot-scope="scope">
          <span>{{scope.row.createdName}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="创建时间">
        <template slot-scope="scope">
          <span>{{scope.row.createdTime}}</span>
        </template>
      </el-table-column>-->
      <!-- <el-table-column width="200px" align="center" label="更新人">
        <template slot-scope="scope">
          <span>{{scope.row.updatedBy}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="更新时间">
        <template slot-scope="scope">
          <span>{{scope.row.updatedTime}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="compId">
        <template slot-scope="scope">
          <span>{{scope.row.compId}}</span>
        </template>
      </el-table-column>-->
      <!-- <el-table-column align="center" label="货运合同" width="200">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            plain
            @click="handleDialogDuantu(scope.row)"
            v-if="purchaseListsManager_btn_edit && scope.row.purchaseManage.doFreight"
          >短途合同</el-button>
          <el-button
            size="mini"
            type="primary"
            plain
            @click="handleDialogHaiyun(scope.row)"
            v-if="purchaseListsManager_btn_edit && scope.row.purchaseManage.doOcean"
          >海运合同</el-button>
        </template>
      </el-table-column>-->
      <el-table-column align="center" label="操作" width="350px">
        <template slot-scope="scope">
          <el-button
            v-if="purchaseListsManager_btn_edit && type=='toPort'"
            size="mini"
            type="info"
            @click="handleToPort(scope.row)"
          >集港过磅</el-button>
          <el-button
            v-if="purchaseListsManager_btn_edit && type=='sign'"
            size="mini"
            type="info"
            @click="handleSign(scope.row)"
          >到港签收</el-button>
          <el-button
            v-if="purchaseListsManager_btn_edit && type=='all'"
            size="mini"
            type="info"
            @click="handleSign(scope.row)"
          >货物入仓</el-button>
          <el-button
            v-if="purchaseListsManager_btn_edit && type=='all'"
            size="mini"
            type="success"
            @click="handleUpdate(scope.row)"
          >编辑</el-button>
          <el-button
            v-if="purchaseListsManager_btn_del && type=='all'"
            size="mini"
            type="danger"
            @click="handleDelete(scope.row)"
          >删除</el-button>
          <el-button
            size="mini"
            type="primary"
            plain
            @click="handleDialogDuantu(scope.row)"
            v-if="purchaseListsManager_btn_edit && type=='freight'"
          >货运数据({{scope.row.freightNum}})</el-button>
          <el-button
            size="mini"
            type="primary"
            plain
            @click="handleDialogHaiyun(scope.row)"
            v-if="purchaseListsManager_btn_edit && type=='ocean'"
          >海运数据({{scope.row.oceanNum}})</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[12,24,36, 48]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>
    <!-- 合同编辑 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogFormVisible"
      width="90%"
      top="10vh"
    >
      <purchase-update
        :contractId="contractId"
        v-on:updateSuccess="updateSuccess"
        ref="updatePurchase"
      ></purchase-update>
    </el-dialog>
    <!-- 短途货运合同列表 -->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogDuantu" width="80%" top="10vh">
      <!-- <inven-freight-contract :contractId="contractId" ref="freight"></inven-freight-contract> -->
      <freight :purchaseContract="purchaseContract"></freight>
    </el-dialog>
    <!-- 海运合同 -->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogHaiyun" width="90%" top="15vh">
      <!-- <inven-Ocean-contract :contractId="contractId" ref="ocean"></inven-Ocean-contract> -->
      <ocean :purchaseContract="purchaseContract"></ocean>
    </el-dialog>

    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="checkDialogFormVisible"
      width="80%"
      top="10vh"
    >
      <to-port :contractId="contractId" v-on:toPortSuccess="toPortSuccess"></to-port>
      <!-- <el-form :model="checkForm" ref="checkForm" label-width="30%">
        <div style="display: flex;flex-direction: row;">
          <el-col :span="10" style="margin:0px 50px">
            <el-form-item label="签收过磅重" prop="nativeWeight">
              <el-input v-model="checkForm.nativeWeight" placeholder="请输入过磅重" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="签收负差值" prop="nativeTolerance">
              <el-input
                v-model="checkForm.nativeTolerance"
                placeholder="系统自动计算"
                clearable
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
        </div>
        <div style="display: flex;flex-direction: row;">
          <el-col :span="10" style="margin:0px 50px">
            <el-form-item label="负差处理备注" prop="nativeToleranceMarks">
              <el-input v-model="checkForm.nativeToleranceMarks" placeholder="请输入负差处理" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="签收备注" prop="receiveMarks">
              <el-input v-model="checkForm.receiveMarks" placeholder="请输入签收备注" clearable></el-input>
            </el-form-item>
          </el-col>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel('checkForm')">取 消</el-button>
        <el-button v-if="checkDialogStatus=='create'" type="primary" @click="check('checkForm')">确 定</el-button>
        <el-button v-else type="primary" @click="updateToPort('checkForm')">确 定</el-button>
      </div>-->
    </el-dialog>

    <!-- 签收 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="signDialogFormVisible"
      width="80%"
      top="10vh"
    >
      <sign :contractId="contractId" v-on:signSuccess="signSuccess"></sign>
    </el-dialog>
  </div>
</template>

<style>
.rowStyle {
  display: flex;
  flex-direction: row;
  align-content: center;
}
/* .selectStyle {
  position: absolute;
  top: 0px;
} */
</style>


<script>
import {
  page,
  pageSelf,
  getObj,
  delObj,
  putObj
} from "api/erp/purchase/purchaseLists/index";
import { getDictList } from "api/admin/dict/index";
import purchaseUpdate from "./components/purchaseUpdate";
import freight from "./components/freight";
import ocean from "./components/ocean";
import invenOceanContract from "./components/invenOceanContract";
import toPort from "./components/toPort";
import sign from "./components/sign";
import * as fileService from "api/file/index";
import fetch from "utils/fetch";
import { mapGetters } from "vuex";
export default {
  name: "purchaseLists",
  components: {
    purchaseUpdate,
    freight,
    ocean,
    invenOceanContract,
    toPort,
    sign
  },
  data() {
    return {
      // tableClass: {
      //   // "background-color": "#D3D3D3",
      //   "font-size": "1vw",
      //   padding: "0px"
      // },
      // tableColumnClass: {
      //   "font-size": "1vw",
      //   padding: "1vh 0"
      //   // "background-color": "#F5F5F5"
      // },
      purchaseContract: undefined,

      activeName: "first",
      contractId: undefined,
      //合同表格
      list: [],
      checkForm: {
        id: undefined,
        nativeWeight: undefined,
        nativeTolerance: undefined,
        nativeToleranceMarks: undefined,
        receiveMarks: undefined
      },
      pickerOptions1: {
        // disabledDate(time) {
        //   return time.getTime() > Date.now();
        // },
        shortcuts: [
          {
            text: "今天",
            onClick(picker) {
              picker.$emit("pick", new Date());
            }
          },
          {
            text: "昨天",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          },
          {
            text: "一周前",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            }
          }
        ]
      },
      total: null,
      listLoading: false,
      listQuery: {
        page: 1,
        limit: 12,
        supplierName: undefined,
        purchaserName: undefined,
        state: undefined,
        startDate: undefined,
        endDate: undefined
      },
      checkDialogStatus: false,
      dialogFormVisible: false, //合同编辑组件显示
      dialogDuantu: false, //短途货运组件显示
      dialogHaiyun: false, //海运合同组件显示
      invenOceanUpdate: false, //海运合同编辑
      purchaseListsManager_btn_edit: true,
      purchaseListsManager_btn_del: true,
      purchaseListsManager_btn_add: true,
      dialogStatus: "", //对话框标题
      textMap: {
        update: "编辑",
        invenFreightContract: "货运信息",
        invenOceanContract: "货运信息",
        check: "集港过磅",
        updateToPort: "集港过磅",
        sign: "到港签收"
      },
      checkDialogFormVisible: false,
      signDialogFormVisible: false,
      tableKey: 0,
      stateList: [],
      type: "all"
    };
  },
  created() {
    this.type = this.$route.params.type;
    console.log(this.type);
    getDictList("purchase_state").then(response => {
      this.stateList = response.data;
      this.getList();
    });
    this.purchaseListsManager_btn_edit = this.elements[
      "purchaseLists:btn_edit"
    ];
    this.purchaseListsManager_btn_del = this.elements["purchaseLists:btn_del"];
  },
  computed: {
    ...mapGetters(["elements", "companySetting"])
  },
  methods: {
    toPortSuccess(msg) {
      this.checkDialogFormVisible = false;
    },
    signSuccess(msg) {
      this.signDialogFormVisible = false;
    },
    updateSuccess(msg) {
      this.dialogFormVisible = false;
      this.getList();
    },
    handleFilePreview(id) {
      fileService.getDownloadUrl(id, true).then(res => {
        let downloadUrl = encodeURIComponent(`${fetch.defaults.baseURL}${res}`);
        window.open(
          `http://47.107.189.128:8012/onlinePreview?url=${downloadUrl}`
        );
      });
    },
    getLableByValue(value) {
      let list = this.stateList;
      for (let i = 0; i < list.length; i++) {
        if (list[i].value === value) return list[i].label;
      }
    },
    getList() {
      this.listLoading = true;

      if (this.elements["purchaseLists:view"])
        page(this.listQuery).then(response => {
          this.list = response.data.rows;
          this.total = response.data.total;
          this.listLoading = false;
          for (let i = 0; i < this.list.length; i++) {
            this.list[i].state = this.getLableByValue(this.list[i].state);
          }
        });
      if (this.elements["purchaseLists:viewSelf"])
        pageSelf(this.listQuery).then(response => {
          this.list = response.data.rows;
          this.total = response.data.total;
          this.listLoading = false;
          for (let i = 0; i < this.list.length; i++) {
            this.list[i].state = this.getLableByValue(this.list[i].state);
          }
        });
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    //集港
    handleToPort(row) {
      this.checkDialogFormVisible = true;
      this.contractId = row.id;
      this.dialogStatus = "check";
    },

    //签收
    handleSign(row) {
      this.signDialogFormVisible = true;
      this.contractId = row.id;
      this.dialogStatus = "sign";
    },
    //编辑按钮
    handleUpdate(row) {
      this.contractId = row.id;
      this.dialogFormVisible = true;
      this.dialogStatus = "update";
      // this.$refs.updatePurchase.initData();
    },
    //短途货运按钮
    handleDialogDuantu(row) {
      this.dialogDuantu = true;
      this.contractId = row.id;
      this.purchaseContract = row;
      this.dialogStatus = "invenFreightContract";
    },

    //海运合同按钮
    handleDialogHaiyun(row) {
      this.dialogHaiyun = true;
      this.contractId = row.id;
      this.purchaseContract = row;
      this.dialogStatus = "invenOceanContract";
    },
    //删除一行表格
    handleDelete1(index, rows) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        rows.splice(index, 1);
        // delObj(row.id).then(() => {
        //   this.$notify({
        //     title: "成功",
        //     message: "删除成功",
        //     type: "success",
        //     duration: 2000
        //   });
        //   const index = this.form.tableData.indexOf(row);
        //   this.form.tableData.splice(index, 1);
        // });
      });
    },
    handleDelete(row) {
      +this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },

    cancel(formName) {
      this.dialogFormVisible = false;
      this.checkDialogFormVisible = false;
      const set = this.$refs;
      set[formName].resetFields();
    }
  }
};
</script>
