<template>
  <div class="login-container">
    <img class="img-bg" src="../../assets/login1.jpg">
    <el-form
      autocomplete="on"
      :model="loginForm"
      :rules="loginRules"
      ref="loginForm"
      label-position="left"
      label-width="0px"
      class="card-box login-form"
    >
      <h3 class="title">系统登录</h3>
      <el-form-item prop="username">
        <span class="svg-container">
          <img class="user-icon" src="../../assets/user.png">
        </span>
        <el-input
          name="username"
          type="text"
          v-model="loginForm.username"
          autocomplete="on"
          placeholder="账户"
        ></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <span class="svg-container">
          <img class="user-icon" src="../../assets/password.png">
        </span>
        <el-input
          name="password"
          type="password"
          @keyup.enter.native="handleLogin"
          v-model="loginForm.password"
          autocomplete="on"
          placeholder="密码"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <div id="captcha2">
          <p id="wait2" class="show">正在加载验证码......</p>
        </div>
      </el-form-item>
      <p id="notice2" class="hide" v-if="yanzhengRes==false">请先完成验证</p>
      <el-form-item>
        <el-button type="primary" style="width:100%;" :loading="loading" id="submitBtn">登录</el-button>
      </el-form-item>
       <el-form-item>
        <el-button type="primary" style="width:100%;"  @click="register">注册</el-button>
      </el-form-item>
    </el-form>

    <el-dialog title="第三方验证" :visible.sync="showDialog">邮箱登录成功,请选择第三方验证
      <social-sign></social-sign>
    </el-dialog>
  </div>
</template>
<style>
.show {
  display: block;
}
.hide {
  display: none;
}
</style>

<script>
import socialSign from "./socialsignin";
import "assets/RSA";
import "assets/gt";
import { getPassPubKey, getCode } from "api/login";

export default {
  components: {
    socialSign
  },
  name: "login",
  data() {
    const validatePass = (rule, value, callback) => {
      if (value.length < 5) {
        callback(new Error("密码不能小于5位"));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        username: "",
        password: "",
        geetestChallenge: "",
        geetestValidate: "",
        geetestSeccode: ""
      },
      loginRules: {
        username: [
          {
            required: true,
            message: "账户不能为空",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            trigger: "blur",
            validator: validatePass
          }
        ]
      },
      loading: false,
      showDialog: false,
      publicKeyExponent: "",
      publicKeyModulus: "",
      yanzhengRes: false
    };
  },
  methods: {
    afterQRScan() {
      // const hash = window.location.hash.slice(1);
      // const hashObj = getQueryObject(hash);
      // const originUrl = window.location.origin;
      // history.replaceState({}, '', originUrl);
      // const codeMap = {
      //   wechat: 'code',
      //   tencent: 'code'
      // };
      // const codeName = hashObj[codeMap[this.auth_type]];
      // if (!codeName) {
      //   alert('第三方登录失败');
      // } else {
      //   this.$store.dispatch('LoginByThirdparty', codeName).then(() => {
      //     this.$router.push({ path: '/' });
      //   });
      // }
    },
    submitClick() {
      var result = captchaObj.getValidate();
      var that = this;
      that.yanzhengRes = result;
      if (!result) {
        // $("#notice2").show();
        // setTimeout(function() {
        //   $("#notice2").hide();
        // }, 2000);
      } else {
        RSAUtils.setMaxDigits(200);
        var key = RSAUtils.getKeyPair(
          that.publicKeyExponent,
          "",
          that.publicKeyModulus
        );
        var encrypedPwd = RSAUtils.encryptedString(
          key,
          that.loginForm.password
            .split("")
            .reverse()
            .join("")
        );
        var oldPass = that.loginForm.password;
        that.loginForm.password = encrypedPwd;
        that.loginForm.geetestChallenge = result.geetest_challenge;
        that.loginForm.geetestValidate = result.geetest_validate;
        that.loginForm.geetestSeccode = result.geetest_seccode;
        console.log(that.loginForm);
        that.$refs.loginForm.validate(valid => {
          if (valid) {
            that.loading = true;
            that.$store
              .dispatch("LoginByEmail", that.loginForm)
              .then(() => {
                that.loading = false;
                that.loginForm.password = oldPass;
                that.$router.push({
                  path: "/"
                });
                // this.showDialog = true;
              })
              .catch(() => {
                that.loading = false;
                that.loginForm.password = oldPass;
              });
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      }
    }
  },
  created() {
    var that = this;
       

    // window.addEventListener('hashchange', this.afterQRScan);
    //获取加密公钥
    getPassPubKey().then(response => {
      this.publicKeyExponent = response.data.publicKeyExponent;
      this.publicKeyModulus = response.data.publicKeyModulus;
    });

    getCode().then(response => {
      var data = response;

      // 调用 initGeetest 初始化参数
      // 参数1：配置参数
      // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它调用相应的接口
      initGeetest(
        {
          gt: data.gt,
          challenge: data.challenge,
          new_captcha: data.new_captcha, // 用于宕机时表示是新验证码的宕机
          offline: !data.success, // 表示用户后台检测极验服务器是否宕机，一般不需要关注
          product: "popup", // 产品形式，包括：float，popup
          width: "100%"
          // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
        },
        function(captchaObj) {
          $("#submitBtn").click(function(e) {
            var result = captchaObj.getValidate();
            if (!result) {
              $("#notice2").show();
              setTimeout(function() {
                $("#notice2").hide();
              }, 2000);
            } else {
              RSAUtils.setMaxDigits(200);
              var key = RSAUtils.getKeyPair(
                that.publicKeyExponent,
                "",
                that.publicKeyModulus
              );
              var encrypedPwd = RSAUtils.encryptedString(
                key,
                that.loginForm.password
                  .split("")
                  .reverse()
                  .join("")
              );
              var oldPass = that.loginForm.password;
              that.loginForm.password = encrypedPwd;
              that.loginForm.geetestChallenge = result.geetest_challenge;
              that.loginForm.geetestValidate = result.geetest_validate;
              that.loginForm.geetestSeccode = result.geetest_seccode;
              console.log(that.loginForm);
              that.$refs.loginForm.validate(valid => {
                if (valid) {
                  that.loading = true;
                  that.$store
                    .dispatch("LoginByEmail", that.loginForm)
                    .then(() => {
                      that.loading = false;
                      that.loginForm.password = oldPass;
                      that.$router.push({
                        path: "/"
                      });
                      // this.showDialog = true;
                    })
                    .catch(() => {
                      that.loading = false;
                      that.loginForm.password = oldPass;
                    });
                } else {
                  console.log("error submit!!");
                  return false;
                }
              });
            }
          });
          captchaObj.appendTo("#captcha2");
          captchaObj.onReady(function() {
            $("#wait2").hide();
          });
        },

      );
    });
  },
   methods: {
     //注册
      register() {
         console.log("注册======================");
         this.$router.push({path: "/reg"});
      },
   },
  // destroyed() {
  //   // window.removeEventListener('hashchange', this.afterQRScan);
  // },
 



};
</script>

<style rel="stylesheet/scss" lang="scss">
@import "src/styles/mixin.scss";

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.user-icon {
  width: 20px;
  height: 18px;
  position: relative;
  top: 5px;
  margin-left: 15px;
  margin-right: 10px;
}

.show {
  display: block;
}
.hide {
  display: none;
  color: #fff;
}

.tips {
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}

.login-container {
  @include relative;
  height: 100vh;
  background-color: #2d3a4b;
  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #293444 inset !important;
    -webkit-text-fill-color: #eeeeee !important;
  }
  input {
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 12px 5px 12px 15px;
    color: #eeeeee;
    height: 47px;
    opacity: 1;
  }
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
    background-color: #293444;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  .svg-container {
    background-color: #293444;
  }
  .title {
    font-family: "隶书";
    font-size: 2vw;
    font-weight: bold;
    color: #eeeeee;
    margin: 0 auto 40px;
    text-align: center;
    font-weight: bold;
  }
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 400px;
    padding: 35px 35px 15px;
    margin: 120px auto;
    background: #293444;
    opacity: 0.9;
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #293444;
    border-radius: 5px;
    color: #f8f8f8;
  }
  .forget-pwd {
    color: #fff;
  }
}
</style>
