<template>
  <div class="app-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="个人中心" name="first"></el-tab-pane>
    </el-tabs>
    <el-button
      class="filter-item"
      plain
      icon="el-icon-d-arrow-left"
      @click="$router.back(-1)"
      type="primary"
    >返回</el-button>
    <el-button type="primary" style="margin-left:10px;" icon="edit" @click="handlerEdit">编辑</el-button>
    <el-button class="filter-item" style="margin-left:10px;" type="primary" @click="update">保存</el-button>
    <el-card class="box-card">
      <el-form :label-position="labelPosition" label-width="80px" :model="form" ref="form">
        <el-row>
          <el-col :span="6" :offset="2">
            <div class="grid-content bg-purple">
              <img class="head-div" :src="headImg">
              <el-row class="bg">
                <el-radio-group v-model="form.sex">
                  <el-radio disabled="formEdit" v-model="radio" label="男">男</el-radio>
                  <el-radio disabled="formEdit" v-model="radio" label="女">女</el-radio>
                </el-radio-group>
              </el-row>
              <el-upload
                class="upload-demo"
                :action="uploadUrl"
                name="file"
                :headers="myHeaders"
                :on-success="uploadFileSuccess"
                :show-file-list="false"
              >
                <el-button class="btn" size="small" type="primary">修改头像</el-button>
              </el-upload>
            </div>
          </el-col>
          <el-col :span="12" :offset="2">
            <el-form-item label="用户姓名" prop="username">
              <el-input v-model="form.username" placeholder="请输入姓名" disabled="formEdit"></el-input>
            </el-form-item>
            <el-form-item label="电子邮箱" prop="email">
              <el-input v-model="form.email" placeholder="请输入电子邮箱" disabled="formEdit"></el-input>
            </el-form-item>
            <el-form-item label="手机号码" prop="mobilePhone">
              <el-input v-model="form.mobilePhone" placeholder="请输入手机号码" disabled="formEdit"></el-input>
            </el-form-item>
            <el-form-item label="个性签名" prop="description">
              <el-input
                type="textarea"
                :rows="4"
                placeholder="请输入内容"
                disabled="formEdit"
                v-model="form.description"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>
<style>
.bg {
  text-align: center;
  margin-top: 20px;
}
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 100%;
  margin-top: 20px;
}
.el-row {
  margin-bottom: 20px;
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.head-div {
  width: 200px;
  height: 200px;
  border: 3px solid #adadad;
  border-radius: 1em;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.btn {
  width: 200px;
  position: absolute;
  left: 20%;
  transform: translate(-45%);
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>


<script>
import { mapGetters } from "vuex";
import { getObj, putObj } from "api/admin/personalCentre/index";
import fetch from "utils/fetch";

export default {
  data() {
    return {
      activeName: "first",
      fileList2: [],
      departManager_btn_edit: false,
      formEdit: true,
      formStatus: "",
      labelPosition: "right",
      radio: "",
      headImg: "../../../assets/userhead.png",
      uploadUrl: "/admin/user/uploadHead/",
      myHeaders: { Authorization: "" },
      form: {
        username: undefined,
        sex: "男",
        email: undefined,
        mobilePhone: undefined,
        description: undefined
      },
      rules: {
        username: [
          {
            required: true,
            message: "请输入用户姓名",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        email: [
          {
            required: true,
            message: "请输入电子邮箱",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        phone: [
          {
            required: true,
            message: "请输入手机号码",
            trigger: "blur"
          },
          {
            min: 11,
            max: 11,
            message: "长度在11个字符",
            trigger: "blur"
          }
        ],
        description: [
          {
            required: true,
            message: "请输入内容",
            trigger: "blur"
          },
          {
            min: 3,
            max: 50,
            message: "长度在 3 到 50 个字符",
            trigger: "blur"
          }
        ]
      }
    };
  },
  created() {
    this.getDetail();
    this.myHeaders.Authorization = this.token;
    this.uploadUrl = `${fetch.defaults.baseURL}` + this.uploadUrl;
  },
  computed: {
    ...mapGetters(["elements", "token"])
  },
  methods: {
    uploadFileSuccess(response, file, fileList) {
      this.headImg = response.url;
      console.log(response);
    },

    handlerEdit() {
      this.formEdit = false;
      this.formStatus = "update";
    },
    getDetail() {
      getObj(this.token).then(response => {
        this.form = response;
        this.headImg = response.headImg;
        console.log(response);
      });
    },
    update() {
      putObj(this.form.id, this.form).then(() => {
        this.getDetail();
        this.formEdit = true;
        this.$notify({
          title: "成功",
          message: "修改成功",
          type: "success",
          duration: 2000
        });
      });
    }
  }
};
</script>
