<template>
  <div class="app-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="添加采购" name="first"></el-tab-pane>
    </el-tabs>
    <div class="filter-container">
      <el-button
        size="mini"
        class="filter-item"
        type="primary"
        plain
        icon="el-icon-d-arrow-left"
        @click="$router.back(-1)"
      >返回</el-button>
      <el-button
        size="mini"
        class="filter-item"
        style="margin-left: 10px;"
        @click="handleCreate"
        type="primary"
      >添加产品</el-button>
      <el-button
        size="mini"
        class="filter-item"
        style="margin-left: 10px;"
        type="primary"
        @click="submitForm('form')"
      >提交合同</el-button>
    </div>
    <el-form
      :model="form"
      :rules="rules"
      ref="form"
      :show-message="false"
      :inline-message="true"
      status-icon
    >
      <!-- 表格 -->
      <el-table
        :key="tableKey"
        :data="form.contractItems"
        :summary-method="getSummaries"
        :header-cell-style="tableClass"
        :cell-style="tableColumnClass"
        show-summary
        border
        fit
        :stripe="true"
        ::highlight-current-row="true"
        style="width: 100%"
        height="32vh"
      >
        <el-table-column type="index" :index="indexMethod" align="center" label="序号" width="100rpx"></el-table-column>

        <el-table-column align="center" label="规格型号">
          <template slot-scope="scope">
            <el-input size="mini" v-model="scope.row.goodsSpec" readonly placeholder="请选择规格型号">
              <el-button
                type="info"
                size="mini"
                slot="append"
                @click="handleChooseGoods(scope.row)"
              >选择</el-button>
            </el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="产品类型" width="200rpx">
          <template slot-scope="scope">
            <el-input size="mini" v-model="scope.row.goodsName" readonly></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="weight" align="center" label="重量（吨）" width="200px">
          <template slot-scope="scope">
            <el-input
              size="mini"
              v-model="scope.row.weight"
              clearable
              :change="getRowAmount(scope.row)"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="单价（元/吨）" width="200px">
          <template slot-scope="scope">
            <el-input
              size="mini"
              v-model="scope.row.unitPrice"
              clearable
              :change="getRowAmount(scope.row)"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="amount" align="center" label="金额（元）" width="180px">
          <template slot-scope="scope">
            <el-input size="mini" v-model="scope.row.amount" :readonly="true"></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="操作" width="150px">
          <template slot-scope="scope">
            <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 第一行 -->
      <el-row class="rowStyle" style="margin-top:3vh;">
        <el-form-item prop="supplierName" size="mini" :inline-message="true" status-icon>
          <el-col style="font-size:0.9vw;width:20vw;height:5vh;line-height:5vh;">
            <span>供应方</span>
            <el-input
              class="inputStyle"
              style="width:15vw"
              size="mini"
              placeholder="请选择供应方"
              v-model="form.supplierName"
            >
              <el-button type="info" size="mini" slot="append" @click="handleDialog1">选择</el-button>
            </el-input>
          </el-col>
        </el-form-item>
        <el-form-item prop="purchaserName" size="mini" :inline-message="true" status-icon>
          <el-col style="font-size:0.9vw;width:20vw;height:5vh;line-height:5vh;">
            <span class="bottomStyle">采购方</span>
            <el-input
              class="inputStyle"
              style="width:15vw"
              size="mini"
              placeholder="请选择采购方"
              v-model="form.purchaserName"
            >
              <el-button type="info" size="mini" slot="append" @click="handleDialog2">选择</el-button>
            </el-input>
          </el-col>
        </el-form-item>
        <el-form-item prop="purchaseUserName" size="mini" :inline-message="true" status-icon>
          <el-col style="font-size:0.9vw;width:20vw;height:5vh;line-height:5vh;">
            <span class="bottomStyle">采购员</span>
            <el-input
              class="inputStyle"
              style="width:15vw"
              size="mini"
              placeholder="请选择采购员"
              v-model="form.purchaseUserName"
            >
              <el-button type="info" size="mini" slot="append" @click="handleDialog3">选择</el-button>
            </el-input>
          </el-col>
        </el-form-item>
        <el-form-item prop="signLocation" size="mini" :inline-message="true" status-icon>
          <el-col style="font-size:0.9vw;width:24vw;height:5vh;line-height:5vh;">
            <span>签约地址</span>
            <el-input
              class="inputStyle"
              style="width:18vw"
              size="mini"
              placeholder="请输入签约地址"
              v-model="form.signLocation"
            ></el-input>
          </el-col>
        </el-form-item>
      </el-row>
      <!-- 第二行 -->
      <el-row class="rowStyle" style="margin-top:-10px;">
        <el-form-item prop="prepayAmount" size="mini">
          <el-col class="rowStyle" style="font-size:0.9vw;width:15.5vw;height:5vh;line-height:5vh;">
            <span>预付款额</span>
            <el-input
              class="inputStyle"
              style="width:9vw"
              size="mini"
              placeholder="请输入预付款额"
              v-model="form.prepayAmount"
              :change="calculateNumber()"
            ></el-input>
          </el-col>
        </el-form-item>
        <el-form-item size="mini">
          <el-col
            class="rowStyle"
            style="font-size:0.9vw;width:19.5vw;height:5vh;line-height:5vh;margin-left:-25px;"
          >
            <span>大写</span>
            <el-input
              class="inputStyle"
              style="width:15vw"
              size="mini"
              v-model="prepayAmount"
              :readonly="true"
              maxlength="15vw"
            ></el-input>
          </el-col>
        </el-form-item>

        <el-form-item prop="prepayDate" size="mini">
          <el-col style="font-size:0.9vw;width:22vw;height:5vh;line-height:5vh;margin-left:-20px;">
            <span style="margin-left:.4vw">预付款日期</span>
            <el-date-picker
              class="inputStyle"
              style="width:14vw"
              size="mini"
              v-model="form.prepayDate"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </el-col>
        </el-form-item>
        <el-form-item prop="postpayAmount" size="mini">
          <el-col
            class="rowStyle"
            style="font-size:0.9vw;width:15.5vw;height:5vh;line-height:5vh;margin-left:-15px;"
          >
            <span>尾款额</span>
            <el-input
              class="inputStyle"
              style="width:9vw"
              size="mini"
              placeholder="总额减预付款"
              v-model="form.postpayAmount"
              :disabled="false"
            ></el-input>
          </el-col>
        </el-form-item>
        <el-form-item prop="postpayAmount" size="mini">
          <el-col
            class="rowStyle"
            style="font-size:0.9vw;width:19.5vw;height:5vh;line-height:5vh;margin-left:-35px;"
          >
            <span>大写</span>
            <el-input
              class="inputStyle"
              style="width:15vw"
              size="mini"
              placeholder="总额减预付款"
              v-model="postpayAmount"
              maxlength="15vw"
              :readonly="true"
            ></el-input>
          </el-col>
        </el-form-item>
      </el-row>
      <!-- 第三行 -->
      <el-row class="rowStyle" style="margin-top:-10px;">
        <el-form-item prop="postpayDate" size="mini">
          <el-col style="font-size:0.9vw;width:22vw;height:5vh;line-height:5vh;">
            <span>尾款支付日期</span>
            <el-date-picker
              class="inputStyle"
              style="width:14vw"
              size="mini"
              v-model="form.postpayDate"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </el-col>
        </el-form-item>
        <el-form-item class="bottomStyle" prop="validDate" size="mini">
          <el-col style="font-size:0.9vw;width:22vw;height:5vh;line-height:5vh;margin-left:-8px;">
            <span>合同开始时间</span>
            <el-date-picker
              class="inputStyle"
              style="width:14vw"
              size="mini"
              v-model="form.validDate"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </el-col>
        </el-form-item>
        <el-form-item prop="invalidDate" size="mini">
          <el-col style="font-size:0.9vw;width:22vw;height:5vh;line-height:5vh;margin-left:-8px;">
            <span>合同终止时间</span>
            <el-date-picker
              class="inputStyle"
              style="width:14vw"
              size="mini"
              v-model="form.invalidDate"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </el-col>
        </el-form-item>
        <el-form-item prop="signDate" size="mini">
          <el-col style="font-size:0.9vw;width:21vw;height:5vh;line-height:5vh;margin-left:-8px;">
            <span>签约日期</span>
            <el-date-picker
              class="inputStyle"
              style="width:14vw"
              size="mini"
              v-model="form.signDate"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </el-col>
        </el-form-item>
      </el-row>

      <!-- 第四行 -->
      <el-row class="rowStyle" style="margin-top:-10px;">
        <el-form-item size="mini">
          <!-- 这里人民币金额要显示大写（totalAmount），存小写金额 -->
          <el-col style="font-size:0.9vw;width:30.5vw;height:5vh;line-height:5vh;">
            <span>合计人民币金额</span>
            <el-input
              resize="vertical"
              class="inputStyle"
              style="width:20vw"
              size="mini"
              v-model="totalAmount"
              :readonly="true"
              maxlength="18vw"
            ></el-input>
          </el-col>
        </el-form-item>
        <el-form-item size="mini">
          <el-col style="font-size:0.9vw;width:26vw;height:5vh;line-height:5vh;margin-left:-25px;">
            <span>备注</span>
            <el-input class="inputStyle" style="width:20vw" size="mini" v-model="form.remarks"></el-input>
          </el-col>
        </el-form-item>
        <el-form-item size="mini">
          <el-col style="font-size:0.9vw;width:33vw;height:4vh;line-height:4vh;margin-left:-30px;">
            <el-upload
              class="upload-demo rowStyle1"
              :action="uploadUrl"
              name="shotCut"
              :headers="myHeaders"
              :on-success="uploadFileSuccess"
              :on-error="uploadError"
              :data="uploadData"
              :auto-upload="false"
              ref="upload"
              :on-change="fileChange"
              :on-remove="fileRemove"
              :limit="1"
            >
              <span style="color:#409EFF;margin-right:.9vw">上传合同快照</span>
            </el-upload>
          </el-col>
        </el-form-item>
      </el-row>
    </el-form>

    <!-- 供应方 -->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogSupplier" width="90%" top="15vh">
      <supplier-component v-on:chooseSupplierCallBack="chooseSupplierCall"></supplier-component>
    </el-dialog>
    <!-- 采购方 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogPurchaser"
      width="90%"
      top="15vh"
    >
      <purchaser-component v-on:choosePurchaserCallBack="choosePurchaserCall"></purchaser-component>
    </el-dialog>
    <!-- 采购员 -->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogUser" width="90%" top="10vh">
      <user-component v-on:chooseUserCallBack="chooseUserCall"></user-component>
    </el-dialog>

    <!-- 产品 -->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogGoods" width="90%" top="15vh">
      <goods v-on:chooseGoodsCall="chooseGoodsCall" :index="index"></goods>
    </el-dialog>
  </div>
</template>

<style>
.rowStyle {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.rowStyle1 {
  display: flex;
  flex-direction: row;
  height: 0px;
  width: 33vw;
  line-height: 45px;
  margin-top: -8px;
}

.inputStyle {
  margin-left: 0.4vw;
  font-size: 0.9vw;
  padding: 0;
}
</style>

<script>
import { addObj } from "api/erp/purchase/purchaseContracts/index";
import supplierComponent from "views/components/supplierComponent";
import purchaserComponent from "views/components/purchaserComponent";
import goods from "views/erp/storage/goods/index";
import userComponent from "views/components/userComponent";
import { mapGetters } from "vuex";
import fetch from "utils/fetch";
import { setTimeout } from "timers";
export default {
  name: "purchaseContracts",
  components: {
    supplierComponent,
    purchaserComponent,
    userComponent,
    goods
  },
  data() {
    return {
      tableClass: {
        "background-color": "#F8F8FF",
        "font-size": "1vw",
        padding: "5px"
      },
      tableColumnClass: {
        "font-size": "1vw",
        padding: "1vh 0"
      },
      activeName: "first",
      dialogSupplier: false, //供应方弹出框
      dialogPurchaser: false, //采购方弹出框
      dialogUser: false, //采购员管理对话框
      dialogStatus: "", //对话框标题
      textMap: {
        supplierTitle: "供应商管理",
        purchaserTitle: "客户管理",
        userTitle: "采购员管理",
        goodsTitle: "规格型号"
      },
      uploadUrl: "/erp/purchase/upload/",
      myHeaders: { Authorization: "" },
      uploadData: { id: undefined },
      totalAmount: 0, //合计金额大写
      prepayAmount: 0, //预付款大写
      postpayAmount: 0, //尾款大写
      tableKey: 0,
      dialogGoods: false,
      index: undefined,
      form: {
        contractItems: [],
        contractBase: {},
        remarks: undefined, //表格备注
        supplierName: undefined, //供应方
        purchaserName: undefined, //采购方
        supplierId: undefined, //供应方ID
        purchaserId: undefined, //采购方ID
        purchaseUserName: undefined, //采购员名称
        purchaseUser: undefined, //采购员ID
        signDate: undefined, //签约日期
        prepayDate: undefined, //预付款日期
        postpayDate: undefined, //尾款支付日期
        postpayAmount: undefined, //尾款额
        validDate: undefined, //合同开始时间
        invalidDate: undefined, //合同终止时间
        signLocation: undefined, //签约地址
        prepayAmount: undefined, //预付款额
        totalAmount: 0, //合计人民币金额初始化为0元
        totalWeight: 0
      },
      fileList: [],
      rules: {
        // goodsName: [
        //   { required: true, message: "请输入产品名称", trigger: "blur" }
        // ],
        // goodsSpec: [
        //   { required: true, message: "请输入产品规格", trigger: "blur" }
        // ],
        // weight: [
        //   {
        //     type: "number",
        //     required: true,
        //     message: "请输入产品重量",
        //     trigger: "blur"
        //   }
        // ],
        // unitPrice: [
        //   { required: true, message: "请输入产品单价", trigger: "blur" }
        // ],

        supplierName: [{ required: true, trigger: "blur" }],
        purchaserName: [{ required: true, trigger: "blur" }],
        signDate: [
          {
            required: true,
            trigger: "change"
          }
        ],
        prepayDate: [
          {
            required: true,
            trigger: "change"
          }
        ],
        postpayDate: [
          {
            required: true,
            trigger: "change"
          }
        ],
        validDate: [
          {
            required: true,
            trigger: "change"
          }
        ],
        invalidDate: [
          {
            required: true,
            trigger: "change"
          }
        ],
        signLocation: [{ required: true, trigger: "blur" }],
        prepayAmount: [{ required: true, trigger: "blur" }],
        postpayAmount: [{ required: true, trigger: "blur" }],
        input9: [{ required: true, trigger: "blur" }]
      },
      supplier: [], //供应方数据(从后台获得)

      //日期选择表（默认数据）
      pickerOptions1: {
        // disabledDate(time) {
        //   return time.getTime() > Date.now();
        // },
        shortcuts: [
          {
            text: "今天",
            onClick(picker) {
              picker.$emit("pick", new Date());
            }
          },
          {
            text: "昨天",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          },
          {
            text: "一周前",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            }
          }
        ]
      },
      purchaserManager_btn_del: false
      // tableRows: null, //表格行数
    };
  },
  created() {
    this.purchaserManager_btn_del = this.elements["purchaserManager:btn_del"];
    this.myHeaders.Authorization = this.token;
    this.uploadUrl = `${fetch.defaults.baseURL}` + this.uploadUrl;
  },
  computed: {
    ...mapGetters(["elements", "token"])
  },
  methods: {
    fileChange: function(file, fileList) {
      this.fileList = fileList;
    },
    fileRemove: function(file, fileList) {
      this.fileList = fileList;
    },
    chooseSupplierCall(msg) {
      this.form.supplierName = msg.name;
      this.form.supplierId = msg.id;
      this.dialogSupplier = false;
    },
    choosePurchaserCall(msg) {
      this.form.purchaserName = msg.name;
      this.form.purchaserId = msg.id;
      this.dialogPurchaser = false;
    },
    chooseUserCall(msg) {
      this.form.purchaseUserName = msg.name;
      this.form.purchaseUser = msg.id;
      this.dialogUser = false;
    },
    chooseGoodsCall(msg) {
      this.dialogGoods = false;
      this.form.contractItems[msg.index].goodsSpec = msg.specName;
      this.form.contractItems[msg.index].goodsName = msg.typeName;
      this.form.contractItems[msg.index].goodsId = msg.id;
    },
    //供应方选择按钮
    handleDialog1() {
      this.dialogSupplier = true;
      this.dialogStatus = "supplierTitle";
    },

    //采购方选择按钮
    handleDialog2() {
      this.dialogPurchaser = true;
      this.dialogStatus = "purchaserTitle";
    },
    //采购员选择按钮
    handleDialog3() {
      this.dialogUser = true;
      this.dialogStatus = "userTitle";
    },
    //规格型号选择按钮
    handleChooseGoods(row) {
      this.dialogGoods = true;
      this.dialogStatus = "goodsTitle";
      this.index = this.form.contractItems.indexOf(row);
      console.log("-----------");
      console.log(this.index);
    },
    // 序号
    indexMethod(index) {
      return index + 1;
    },
    getRowAmount(row) {
      //console.log(row);
      row.amount = row.unitPrice * row.weight;
    },
    // 合计
    getSummaries(param) {
      const { columns, data } = param;
      const sums = [];
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = "合计";
          return;
        }
        const values = data.map(item => Number(item[column.property]));
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr);
            if (!isNaN(value)) {
              return prev + curr;
            } else {
              return prev;
            }
          }, 0);
        } else {
          sums[index] = "";
        }
      });
      this.form.totalAmount = sums[5];
      this.form.totalWeight = sums[3];
      this.totalAmount = this.chineseNumber(sums[5]);
      sums[3] += " 吨";
      sums[5] += " 元";
      console.log("sums");
      console.log(sums);
      return sums;
    },
    //合并表格
    // objectSpanMethod({ row, column, rowIndex, columnIndex }) {
    //   if (columnIndex === 6) {
    //     if (rowIndex % this.tableRows === 0) {
    //       return {
    //         rowspan: this.tableRows,
    //         colspan: 1
    //       };
    //     } else {
    //       return {
    //         rowspan: 0,
    //         colspan: 0
    //       };
    //     }
    //   }
    // },

    //人民币小写转大写(函数)
    chineseNumber(num) {
      if (isNaN(num) || num > Math.pow(10, 12)) return "";
      var cn = "零壹贰叁肆伍陆柒捌玖";
      var unit = new Array("拾百千", "分角");
      var unit1 = new Array("万亿", "");
      var numArray = num.toString().split(".");
      var start = new Array(numArray[0].length - 1, 2);

      function toChinese(num, index) {
        var num = num.replace(/\d/g, function($1) {
          return (
            cn.charAt($1) + unit[index].charAt(start-- % 4 ? start % 4 : -1)
          );
        });
        return num;
      }
      for (var i = 0; i < numArray.length; i++) {
        var tmp = "";
        for (var j = 0; j * 4 < numArray[i].length; j++) {
          var strIndex = numArray[i].length - (j + 1) * 4;
          var str = numArray[i].substring(strIndex, strIndex + 4);
          var start = i ? 2 : str.length - 1;
          var tmp1 = toChinese(str, i);
          tmp1 = tmp1.replace(/(零.)+/g, "零").replace(/零+$/, "");
          tmp1 = tmp1.replace(/^壹拾/, "拾");
          tmp = tmp1 + unit1[i].charAt(j - 1) + tmp;
        }
        numArray[i] = tmp;
      }
      numArray[1] = numArray[1] ? numArray[1] : "";
      (numArray[0] = numArray[0] ? numArray[0] + "元" : numArray[0]),
        (numArray[1] = numArray[1].replace(/^零+/, ""));
      numArray[1] = numArray[1].match(/分/) ? numArray[1] : numArray[1] + "整";
      return numArray[0] + numArray[1];
    },
    //计算尾款额
    calculateNumber() {
      this.prepayAmount = this.chineseNumber(this.form.prepayAmount); //直接转化预付款
      var money = this.form.totalAmount - this.form.prepayAmount; //计算尾款额
      this.form.postpayAmount = money;
      this.postpayAmount = this.chineseNumber(money); //转化尾款额
      //console.log("监听1:", this.form.postpayAmount);
    },

    //添加一行表格
    handleCreate() {
      var obj = [
        {
          goodsId: undefined,
          goodsName: undefined,
          goodsSpec: undefined,
          weight: undefined,
          unitPrice: undefined,
          amount: undefined
        }
      ];
      var _contractItems = this.form.contractItems.concat(obj);
      this.form.contractItems = _contractItems;
      this.tableRows = this.form.contractItems.length;
      console.log("当前数组行数:", this.form.contractItems);
    },

    //删除一行表格
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        this.$notify({
          title: "成功",
          message: "删除成功",
          type: "success",
          duration: 2000
        });
        const index = this.form.contractItems.indexOf(row);
        this.form.contractItems.splice(index, 1);
      });
    },

    //提交合同
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          console.log(this.$refs.upload);
          // this.form.totalAmount = this.totalAmount;
          if (this.fileList.length == 0) {
            this.$notify({
              title: "提示",
              message: "请先上传图片",
              type: "error",
              duration: 2000
            });
          } else {
            let data = {};
            data.contractItems = this.form.contractItems;
            if (this.form.contractItems.length == 0) {
              this.$notify({
                title: "失败",
                message: "请先添加采购产品",
                type: "error",
                duration: 2000
              });
            } else {
              for (let i = 0; i < data.contractItems.length; i++) {
                if (
                  data.contractItems[i].goodsName == "" ||
                  data.contractItems[i].goodsName == undefined
                ) {
                  this.$notify({
                    title: "失败",
                    message: "产品名称不能为空",
                    type: "error",
                    duration: 2000
                  });
                  return;
                }
                if (
                  data.contractItems[i].goodsSpec == "" ||
                  data.contractItems[i].goodsSpec == undefined
                ) {
                  this.$notify({
                    title: "失败",
                    message: "产品规格不能为空",
                    type: "error",
                    duration: 2000
                  });
                  return;
                }
                if (
                  data.contractItems[i].weight == "" ||
                  data.contractItems[i].weight == undefined
                ) {
                  this.$notify({
                    title: "失败",
                    message: "产品重量不能为空",
                    type: "error",
                    duration: 2000
                  });
                  return;
                }
                if (
                  data.contractItems[i].unitPrice == "" ||
                  data.contractItems[i].unitPrice == undefined
                ) {
                  this.$notify({
                    title: "失败",
                    message: "产品单价不能为空",
                    type: "error",
                    duration: 2000
                  });
                  return;
                }
              }

              data.contractBase = this.form;
              addObj(data).then(response => {
                this.fileList = [];
                this.uploadData.id = response.data;
                this.$refs.upload.submit();
              });
            }
          }
        }
      });
    },
    uploadError() {
      this.$notify({
        title: "失败",
        message: "图片添加失败",
        type: "error",
        duration: 2000
      });
      setTimeout(2000, this.$router.push("/purchaseManager/purchaseLists/all"));
    },
    uploadFileSuccess() {
      this.$notify({
        title: "成功",
        message: "添加成功",
        type: "success",
        duration: 2000
      });

      setTimeout(2000, this.$router.push("/purchaseManager/purchaseLists/all"));
    }
  }
};
</script>
