<template>
  <div>
    <purchase-detail :contractId="purchaseContract.id" v-on:getPurchase="getPurchase"></purchase-detail>

    <el-form>
      <div class="rowStyle divStyle">
        <el-form-item>
          <div class="rowStyle">
            <span>陆运信息</span>
            <el-button size="mini" type="text" style="margin-left:10px" @click="freightList">添加</el-button>
            <el-button
              size="mini"
              type="text"
              style="margin-right:10px"
              @click="freightList"
            >查看（{{purchaseContract.freightNum}}）</el-button>
          </div>
        </el-form-item>

        <el-form-item label>
          <div class="rowStyle">
            <span>海运信息</span>
            <el-button size="mini" type="text" style="margin-left:10px">添加</el-button>
            <el-button
              size="mini"
              type="text"
              style="margin-right:10px"
            >查看（{{purchaseContract.oceanNum}}）</el-button>
          </div>
        </el-form-item>
      </div>
    </el-form>

    <el-dialog title="短途货运" :visible.sync="dialogDuantu" width="70%" top="20vh">
      <inven-freight-contract
        :contractId="purchaseContract.id"
        :purchaseContract="purchaseContract"
        ref="freight"
      ></inven-freight-contract>
    </el-dialog>

    <el-dialog title="海运信息" :visible.sync="dialogHaiyun" width="80%" top="20vh">
      <inven-Ocean-contract
        :contractId="purchaseContract.id"
        :purchaseContract="purchaseContract"
        ref="ocean"
      ></inven-Ocean-contract>
    </el-dialog>
  </div>
</template>
<style>
.divStyle {
  font-size: 1vw;
  margin-top: 2vh;
}
.rowStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottomStyle {
  margin-bottom: 0px;
}
.rowStyle1 {
  display: flex;
  flex-direction: row;
  line-height: 42px;
}
.inputStyle {
  margin-right: 1.4vw;
  margin-left: 0.6vw;
  width: 225px;
}
</style>
<script>
import { toPort } from "api/erp/purchase/purchaseLists/index";
import purchaseDetail from "./purchaseDetail";
import invenFreightContract from "./invenFreightContract";
import invenOceanContract from "./invenOceanContract";
export default {
  name: "freight",
  components: {
    purchaseDetail,
    invenOceanContract,
    invenFreightContract
  },
  props: ["purchaseContract"],

  data() {
    return {
      purchase: undefined,
      dialogDuantu: false,
      dialogHaiyun: false
    };
  },
  created() {},
  methods: {
    getPurchase(msg) {
      console.log(msg);
      this.purchase = msg;
    },
    freightList() {
      this.dialogDuantu = true;
    }
    // oceanList() {
    //   this.dialogHaiyun = true;
    // }
  }
};
</script>