<template>
  <div>
    <el-button
      class="filter-item"
      style="margin-bottom:20px;"
      @click="handleCreate"
      type="primary"
      size="mini"
    >添加产品规格</el-button>
    <el-button
      class="filter-item"
      style="margin-left: 10px;margin-bottom: 20px;"
      type="primary"
      size="mini"
      @click="submitForm('invenOceanForm')"
    >提交合同</el-button>
    <el-form :model="invenOceanForm" :rules="rules" ref="invenOceanForm">
      <!-- 海运合同表格 -->
      <el-table
        :key="tableKey"
        :data="invenOceanForm.oceanContractItems"
        show-summary
        border
        fit
        :stripe="true"
        :highlight-current-row="true"
        style="width: 100%"
        height="363"
      >
        <el-table-column type="index" :index="indexMethod" align="center" label="序号" width="80px"></el-table-column>
        <el-table-column align="center" label="产品规格">
          <template slot-scope="scope">
            <el-input size="mini" v-model="scope.row.spec" clearable></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="件数" width="150px">
          <template slot-scope="scope">
            <el-input size="mini" v-model="scope.row.numberOfPackage" clearable></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="出厂重（吨）" width="180px">
          <template slot-scope="scope">
            <el-input
              size="mini"
              v-model="scope.row.beforeWeight"
              clearable
              :change="getTolerance(scope.row)"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="过磅重（吨）" width="180px">
          <template slot-scope="scope">
            <el-input
              size="mini"
              v-model="scope.row.afterWeight"
              clearable
              :change="getTolerance(scope.row)"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="负差（比例）" width="150px">
          <template slot-scope="scope">
            <el-input size="mini" v-model="scope.row.weightTolerance" clearable></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="操作" width="100px">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.$index, invenOceanForm.oceanContractItems)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 第一行 -->
      <div class="rowStyle divStyle">
        <el-form-item class="bottomStyle" prop="serverName">
          <div class="rowStyle">
            <span>承运公司</span>
            <el-input
              class="inputStyle"
              style="width:200px"
              size="mini"
              placeholder="请选择承运公司"
              v-model="invenOceanForm.serverName"
              readonly
            ></el-input>
            <el-button
              type="info"
              size="mini"
              style="margin-left:-1.2vw;margin-right:1.4vw"
              @click="handleDialog1"
            >选择</el-button>
          </div>
        </el-form-item>

        <el-form-item class="bottomStyle" prop="serverPhone">
          <div class="rowStyle">
            <span>联系方式</span>
            <el-input
              class="inputStyle"
              style="width:190px"
              size="mini"
              placeholder="请输入联系方式"
              v-model="invenOceanForm.serverPhone"
              readonly
            ></el-input>
          </div>
        </el-form-item>

        <!-- <el-form-item class="bottomStyle" prop="customerName">
          <div class="rowStyle">
            <span>客户名称</span>
            <el-input
              class="inputStyle"
              style="width:190px"
              size="mini"
              placeholder="请选择客户名称"
              v-model="invenOceanForm.customerName"
              clearable
            ></el-input>
            <el-button
              type="info"
              size="mini"
              style="margin-left:-1.2vw;margin-right:1.4vw"
              @click="handleDialog2"
            >选择</el-button>
          </div>
        </el-form-item>-->
        <el-form-item class="bottomStyle" prop="eta">
          <div class="rowStyle">
            <span>预计到达时间</span>
            <el-date-picker
              class="inputStyle"
              style="width:180px"
              size="mini"
              v-model="invenOceanForm.eta"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </div>
        </el-form-item>
        <!-- <el-form-item class="bottomStyle" prop="etd">
          <div class="rowStyle">
            <span>预计出发时间</span>
            <el-date-picker
              class="inputStyle"
              style="width:180px"
              size="mini"
              v-model="invenOceanForm.etd"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </div>
        </el-form-item>-->
      </div>

      <!-- 第二行 -->
      <div class="rowStyle divStyle">
        <!-- <el-form-item class="bottomStyle" prop="transportNo">
          <span>运输编号</span>
          <el-input
            size="mini"
            class="inputStyle"
            v-model="invenOceanForm.transportNo"
            placeholder="请输入运输编号"
            style="width:220px"
            clearable
          ></el-input>
        </el-form-item>-->

        <el-form-item class="bottomStyle" prop="insuranceType">
          <div class="rowStyle">
            <span>保险方式</span>
            <el-select
              class="inputStyle"
              style="width:220px"
              placeholder="请选择保险方式"
              size="mini"
              v-model="invenOceanForm.insuranceType"
            >
              <el-option
                v-for="item in insuranceTypes"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
                <span style="float: left">{{ item.label }}</span>
              </el-option>
            </el-select>
          </div>
        </el-form-item>

        <el-form-item class="bottomStyle" prop="insuranceServer">
          <span>保险提供方</span>
          <el-input
            class="inputStyle"
            style="width:210px"
            placeholder="请输入保险提供方"
            size="mini"
            v-model="invenOceanForm.insuranceServer"
          ></el-input>
        </el-form-item>

        <el-form-item class="bottomStyle" prop="oceanContract">
          <span>保险联系方式</span>
          <el-input
            class="inputStyle"
            style="width:210px"
            placeholder="请输入保险联系方式"
            size="mini"
            v-model="invenOceanForm.oceanContract"
          ></el-input>
        </el-form-item>
      </div>

      <!-- 第三行 -->
      <div class="rowStyle divStyle">
        <el-form-item class="bottomStyle" prop="portStart">
          <div class="rowStyle">
            <span>发货港口</span>
            <el-input
              class="inputStyle"
              style="width:190px"
              size="mini"
              placeholder="请输入发货港口"
              v-model="invenOceanForm.portStart"
              clearable
            ></el-input>
            <el-button
              type="info"
              size="mini"
              style="margin-left:-1.2vw;margin-right:1.4vw"
              @click="handleDialog3"
            >选择</el-button>
          </div>
        </el-form-item>

        <el-form-item class="bottomStyle" prop="portArrive">
          <div class="rowStyle">
            <span>到达港口</span>
            <el-input
              class="inputStyle"
              style="width:190px"
              size="mini"
              placeholder="请输入到达港口"
              v-model="invenOceanForm.portArrive"
              clearable
            ></el-input>
            <el-button
              type="info"
              size="mini"
              style="margin-left:-1.2vw;margin-right:1.4vw"
              @click="handleDialog4"
            >选择</el-button>
          </div>
        </el-form-item>

        <el-form-item class="bottomStyle" prop="atd">
          <div class="rowStyle">
            <span>出发时间</span>
            <el-date-picker
              class="inputStyle"
              style="width:180px"
              size="mini"
              v-model="invenOceanForm.atd"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </div>
        </el-form-item>

        <el-form-item class="bottomStyle" prop="ata">
          <div class="rowStyle">
            <span>到达时间</span>
            <el-date-picker
              class="inputStyle"
              style="width:180px"
              size="mini"
              v-model="invenOceanForm.ata"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </div>
        </el-form-item>
      </div>
    </el-form>

    <!-- 服务商 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogInventrans"
      append-to-body
      width="90%"
      top="10vh"
    >
      <inventrans-component v-on:chooseInventransCallBack="chooseInventransCall"></inventrans-component>
    </el-dialog>
    <!-- 客户名称 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogCustomer"
      append-to-body
      width="90%"
      top="10vh"
    >
      <customer-component v-on:chooseCustomerCallBack="chooseCustomerCall"></customer-component>
    </el-dialog>
    <!-- 发货港口 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogInvenport1"
      append-to-body
      width="90%"
      top="10vh"
    >
      <invenport-component v-on:chooseInvenportCallBack="chooseInvenportCall1"></invenport-component>
    </el-dialog>
    <!-- 到达港口 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogInvenport2"
      append-to-body
      width="90%"
      top="10vh"
    >
      <invenport-component v-on:chooseInvenportCallBack="chooseInvenportCall2"></invenport-component>
    </el-dialog>
    <!-- </el-dialog> -->
  </div>
</template>

    <style>
.divStyle {
  margin-top: 2vh;
  font-size: 1vw;
}
.rowStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottomStyle {
  margin-bottom: 0px;
}
.inputStyle {
  margin-right: 1.4vw;
  margin-left: 0.6vw;
  width: 225px;
}
</style>

<script>
import {
  getObjSelf as getContractGoodsSelf,
  getObj as getContractGoods
} from "api/erp/purchase/purchaseLists/index";
import {
  page,
  addObj,
  getObj,
  delObj,
  putObj,
  getObjByPurchase
} from "api/erp/purchase/purchaseLists/ocean/index";
import inventransComponent from "views/components/inventransComponent";
import customerComponent from "views/components/customerComponent";
import invenportComponent from "views/components/invenportComponent";
import { getDictList } from "api/admin/dict/index";
import { mapGetters } from "vuex";
import purchaseDetailVue from "./purchaseDetail.vue";
export default {
  name: "invenOceanContract",
  components: {
    inventransComponent,
    customerComponent,
    invenportComponent
  },
  data() {
    return {
      listQuery: {
        page: 1,
        limit: 10,
        contractId: undefined
      },
      //海运合同列表数据
      list: [],
      total: 0,
      dialogStatus: "", //对话框标题
      rules: {
        serverName: [
          { required: true, message: "请选择服务商", trigger: "blur" }
        ],
        customerName: [
          { required: true, message: "请选择客户名称", trigger: "blur" }
        ],
        etd: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        atd: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        transportNo: [
          { required: true, message: "请输入运输编号", trigger: "blur" }
        ],
        insuranceType: [
          {
            required: true,
            message: "请选择保险提供方式",
            trigger: "change"
          }
        ],
        insuranceServer: [
          { required: true, message: "请输入保险提供方", trigger: "blur" }
        ],
        oceanContract: [
          { required: true, message: "请输入保险联系方式", trigger: "blur" }
        ],
        portStart: [
          {
            required: true,
            message: "请选择发货港口",
            trigger: "change"
          }
        ],
        portArrive: [
          {
            required: true,
            message: "请选择到达港口",
            trigger: "change"
          }
        ],
        eta: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        ata: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ]
      },

      //日期选择表（默认数据）
      pickerOptions1: {
        // disabledDate(time) {
        //   return time.getTime() > Date.now();
        // },
        shortcuts: [
          {
            text: "今天",
            onClick(picker) {
              picker.$emit("pick", new Date());
            }
          },
          {
            text: "昨天",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          },
          {
            text: "一周前",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            }
          }
        ]
      },
      //海运表单
      invenOceanForm: {
        oceanContractItems: [], //海运记录项
        oceanContract: {},
        serverPhone: undefined,
        remarks: undefined, //表格备注
        serverName: "", //服务商名称
        customerName: "", //客户名称
        serverId: undefined, //服务商
        customerId: undefined, //客户名称
        etd: undefined, //预计出发时间
        atd: undefined, //实际出发时间
        contractId: undefined, //关联采购合同ID
        insuranceType: undefined, //保险方式
        insuranceServer: undefined, //保险提供方
        oceanContract: undefined, //保险联系方式
        portStart: "", //发货港口名称
        portArrive: "", //到达港口名称
        portStartId: undefined, //发货港口ID
        portArriveId: undefined, //到达港口ID
        eta: undefined, //预计到达时间
        ata: undefined, //实际到达时间
        transportNo: undefined //运输编号
      },
      invenOceanUpdate: false, //海运合同编辑
      dialogInventrans: false, //货运服务商弹出框
      dialogInvenport1: false, //港口管理弹出框
      dialogInvenport2: false, //港口管理弹出框
      dialogCustomer: false, //客户管理弹出框
      textMap: {
        update: "海运合同编辑",
        create: "海运合同创建",
        inventransTitle: "货运服务商管理",
        invenportTitle: "港口管理",
        customerTitle: "客户管理"
      },
      tableKey: 0,
      insuranceTypes: []
    };
  },
  props: ["contractId", "purchaseContract"],
  watch: {
    contractId(val, oldVal) {
      //普通的watch监听
      this.initData();
    }
  },
  created() {
    this.dialogStatus = "create";
    this.initData();
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    initData() {
      this.listQuery.contractId = this.contractId;
      this.invenOceanForm.contractId = this.contractId;
      getDictList("insurance_way").then(response => {
        this.insuranceTypes = response.data;
        if (this.purchaseContract.oceanNum == 0) this.getGoods();
        else this.getDetail();
      });
    },
    getDetail() {
      getObjByPurchase(this.contractId).then(response => {
        this.invenOceanForm = response.data.oceanContract;
        this.invenOceanForm.oceanContractItems =
          response.data.oceanContractItems;
      });
    },
    getGoods() {
      if (this.elements["purchaseLists:view"])
        getContractGoods(this.contractId).then(response => {
          let res = response.data.contractItems;
          let items = [];
          for (let i = 0; i < res.length; i++) {
            let obj = {};
            obj.spec = res[i].goodsSpec;
            obj.beforeWeight = res[i].weight;
            obj.afterWeight = res[i].weight;
            items.push(obj);
          }
          this.invenOceanForm.oceanContractItems = items;
          console.log(items);
        });
      if (this.elements["purchaseLists:viewSelf"])
        getContractGoodsSelf(this.contractId).then(response => {
          let res = response.data.contractItems;
          let items = [];
          for (let i = 0; i < res.length; i++) {
            let obj = {};
            obj.spec = res[i].goodsSpec;
            obj.beforeWeight = res[i].weight;
            obj.afterWeight = res[i].weight;
            items.push(obj);
          }
          this.invenOceanForm.oceanContractItems = items;
        });
    },
    getLableByValue(value, list) {
      for (let i = 0; i < list.length; i++) {
        if (list[i].value === value) return list[i].label;
      }
    },

    getTolerance(row) {
      row.weightTolerance =
        (row.afterWeight - row.beforeWeight) / row.beforeWeight;
    },

    //货运服务商选择按钮
    handleDialog1() {
      this.dialogInventrans = true;
      this.dialogStatus = "inventransTitle";
    },

    //客户管理选择按钮
    handleDialog2() {
      this.dialogCustomer = true;
      this.dialogStatus = "customerTitle";
    },

    //港口管理选择按钮
    handleDialog3() {
      this.dialogInvenport1 = true;
      this.dialogStatus = "invenportTitle";
    },
    //港口管理选择按钮
    handleDialog4() {
      this.dialogInvenport2 = true;
      this.dialogStatus = "invenportTitle";
    },

    chooseInventransCall(msg) {
      this.invenOceanForm.serverName = msg.name;
      this.invenOceanForm.serverId = msg.id;
      this.invenOceanForm.serverPhone = msg.phone1;
      this.dialogInventrans = false;
    },

    chooseInvenportCall1(msg) {
      this.invenOceanForm.portStart = msg.name;
      this.invenOceanForm.portStartId = msg.id;
      this.dialogInvenport1 = false;
    },
    chooseInvenportCall2(msg) {
      this.invenOceanForm.portArrive = msg.name;
      this.invenOceanForm.portArriveId = msg.id;
      this.dialogInvenport2 = false;
    },

    chooseCustomerCall(msg) {
      this.invenOceanForm.customerName = msg.name;
      this.invenOceanForm.customerId = msg.id;
      this.dialogCustomer = false;
    },

    // 序号
    indexMethod(index) {
      return index + 1;
    },

    //添加一行表格
    handleCreate() {
      var obj = [
        {
          spec: "",
          numberOfPackage: "",
          beforeWeight: "",
          afterWeight: "",
          weightTolerance: ""
        }
      ];
      var _tableData = this.invenOceanForm.oceanContractItems.concat(obj);
      this.invenOceanForm.oceanContractItems = _tableData;
    },

    //提交合同
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let data = {};
          data.oceanContractItems = this.invenOceanForm.oceanContractItems;
          if (this.invenOceanForm.oceanContractItems.length == 0) {
            this.$notify({
              title: "失败",
              message: "请先添加运输的产品",
              type: "error",
              duration: 2000
            });
          } else {
            for (let i = 0; i < data.oceanContractItems.length; i++) {
              if (
                data.oceanContractItems[i].spec == "" ||
                data.oceanContractItems[i].spec == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品规格不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
              if (
                data.oceanContractItems[i].beforeWeight == "" ||
                data.oceanContractItems[i].beforeWeight == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品出厂重不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
              if (
                data.oceanContractItems[i].numberOfPackage == "" ||
                data.oceanContractItems[i].numberOfPackage == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "件数不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
              if (
                data.oceanContractItems[i].afterWeight == "" ||
                data.oceanContractItems[i].afterWeight == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品过磅重不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
            }
          }
          data.oceanContract = this.invenOceanForm;
          if (this.purchaseContract.oceanNum == 0) {
            addObj(data).then(response => {
              this.$emit("updateOceanSuccess", "Success");
              this.$notify({
                title: "成功",
                message: "合同已提交!",
                type: "success",
                duration: 2000
              });
              this.getList();
              this.invenFreightUpdate = false;
            });
          } else {
            putObj(data).then(response => {
              this.$emit("updateOceanSuccess", "Success");
              this.$notify({
                title: "成功",
                message: "合同已修改!",
                type: "success",
                duration: 2000
              });
              this.getList();
              this.invenFreightUpdate = false;
            });
          }
        }
      });
    }
  }
};
</script>
