<template>
  <!-- 短途货运列表 -->
  <div>
    <el-button
      class="filter-item"
      @click="handleCreate1"
      style="margin-bottom: 10px;"
      type="primary"
      size="mini"
    >添加货运合同</el-button>
    <el-table
      :key="tableKey"
      :data="list"
      border
      fit
      :stripe="true"
      :highlight-current-row="true"
      style="width: 100%"
      height="500px"
      size="mini"
    >
      <el-table-column type="index" :index="indexMethod" align="center" label="序号" width="80px"></el-table-column>
      <el-table-column align="center" label="承运公司" width="180px">
        <template slot-scope="scope">
          <span>{{scope.row.serverName}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" label="客户" width="180px">
        <template slot-scope="scope">
          <span>{{scope.row.customerId}}</span>
        </template>
      </el-table-column>-->
      <el-table-column align="center" label="承运时间" width="150px">
        <template slot-scope="scope">
          <span>{{scope.row.serveTime}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="承运联系" width="150px">
        <template slot-scope="scope">
          <span>{{scope.row.serverPhone}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="车号" width="150px">
        <template slot-scope="scope">
          <span>{{scope.row.carNumber}}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="出发地" width="150px">
        <template slot-scope="scope">
          <span>{{scope.row.startPlace}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="目的地" width="150px">
        <template slot-scope="scope">
          <span>{{scope.row.arrivePlace}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" fixed="right" label="操作" width="150px">
        <template slot-scope="scope">
          <el-button size="mini" type="success" @click="handleUpdate(scope.row)">编辑</el-button>
          <el-button size="small" type="danger" @click="handleListDelete(scope.$index, list)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="list!=null" class="pagination-container">
      <el-pagination
        :current-page.sync="listQuery.page"
        :page-sizes="[10,20,30, 50]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>
    <!-- 短途货运合同编辑/创建 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="invenFreightUpdate"
      width="90%"
      top="15vh"
      append-to-body
    >
      <el-button
        class="filter-item"
        style="margin-bottom:20px;"
        @click="handleCreate"
        type="primary"
        size="mini"
      >添加产品规格</el-button>
      <el-button
        class="filter-item"
        style="margin-left: 10px;margin-bottom: 20px;"
        type="primary"
        size="mini"
        @click="submitForm('invenFreightForm')"
      >提交合同</el-button>
      <el-form :model="invenFreightForm" :rules="rules" ref="invenFreightForm">
        <!-- 短途货运表格 -->
        <el-table
          :key="tableKey"
          :data="invenFreightForm.freightContractItems"
          show-summary
          border
          fit
          :stripe="true"
          :highlight-current-row="true"
          style="width: 100%"
          height="363"
        >
          <el-table-column type="index" :index="indexMethod" align="center" label="序号" width="80px"></el-table-column>
          <el-table-column align="center" label="产品规格">
            <template slot-scope="scope">
              <el-input size="mini" v-model="scope.row.spec" clearable></el-input>
            </template>
          </el-table-column>
          <el-table-column align="center" label="件数" width="150px">
            <template slot-scope="scope">
              <el-input size="mini" v-model="scope.row.numberOfPackage" clearable></el-input>
            </template>
          </el-table-column>
          <el-table-column align="center" label="出厂重（吨）" width="180px">
            <template slot-scope="scope">
              <el-input
                size="mini"
                v-model="scope.row.beforeWeight"
                clearable
                :change="getTolerance(scope.row)"
              ></el-input>
            </template>
          </el-table-column>
          <el-table-column align="center" label="过磅重（吨）" width="180px">
            <template slot-scope="scope">
              <el-input
                size="mini"
                v-model="scope.row.afterWeight"
                clearable
                :change="getTolerance(scope.row)"
              ></el-input>
            </template>
          </el-table-column>
          <el-table-column align="center" label="负差（比例）" width="150px">
            <template slot-scope="scope">
              <el-input size="mini" v-model="scope.row.weightTolerance" ::readonly="true"></el-input>
            </template>
          </el-table-column>
          <el-table-column align="center" label="操作" width="100px">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.$index, invenFreightForm.freightContractItems)"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>

        <!-- 第一行 -->
        <div class="rowStyle divStyle">
          <el-form-item class="bottomStyle" prop="serverName">
            <div class="rowStyle">
              <span>承运公司</span>
              <el-input
                class="inputStyle"
                style="width:190px"
                size="mini"
                placeholder="请选择承运公司"
                v-model="invenFreightForm.serverName"
                readonly
              ></el-input>
              <el-button
                type="info"
                size="mini"
                style="margin-left:-1.2vw;margin-right:1.4vw"
                @click="handleDialog1"
              >选择</el-button>
            </div>
          </el-form-item>

          <el-form-item class="bottomStyle" prop="serverPhone">
            <div class="rowStyle">
              <span>联系方式</span>
              <el-input
                class="inputStyle"
                style="width:190px"
                size="mini"
                placeholder="请输入联系方式"
                v-model="invenFreightForm.serverPhone"
                readonly
              ></el-input>
            </div>
          </el-form-item>

          <el-form-item class="bottomStyle" prop="serveTime">
            <span>承运时间</span>
            <el-date-picker
              class="inputStyle"
              style="width:200px"
              size="mini"
              v-model="invenFreightForm.serveTime"
              align="right"
              type="date"
              placeholder="选择日期"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions1"
            ></el-date-picker>
          </el-form-item>

          <el-form-item class="bottomStyle" prop="carNumber">
            <span>车 号</span>
            <el-input
              class="inputStyle"
              style="width:240px"
              size="mini"
              placeholder="请输入车号"
              v-model="invenFreightForm.carNumber"
              clearable
            ></el-input>
          </el-form-item>
        </div>

        <!-- 第二行 -->
        <div class="rowStyle divStyle">
          <el-form-item class="bottomStyle" prop="startPlace">
            <span>出发地</span>
            <el-input
              class="inputStyle"
              style="width:250px"
              size="mini"
              placeholder="请输入出发地"
              v-model="invenFreightForm.startPlace"
              clearable
            ></el-input>
          </el-form-item>
          <el-form-item class="bottomStyle" prop="arrivePlace">
            <span>目的地</span>
            <el-input
              class="inputStyle"
              style="width:230px"
              size="mini"
              placeholder="请输入目的地"
              v-model="invenFreightForm.arrivePlace"
              clearable
            ></el-input>
          </el-form-item>

          <el-form-item class="bottomStyle" prop="supplierName">
            <span>发货单位</span>
            <el-input
              class="inputStyle"
              style="width:210px"
              size="mini"
              placeholder="请选择发货单位"
              v-model="invenFreightForm.supplierName"
              readonly
            ></el-input>
          </el-form-item>

          <el-form-item class="bottomStyle">
            <span>备注</span>
            <el-input
              class="inputStyle"
              style="width:220px"
              size="mini"
              v-model="invenFreightForm.remarks"
            ></el-input>
          </el-form-item>
        </div>
      </el-form>

      <!-- 服务商 -->
      <el-dialog
        :title="textMap[dialogStatus]"
        :visible.sync="dialogInventrans"
        append-to-body
        width="90%"
        top="10vh"
      >
        <inventrans-component v-on:chooseInventransCallBack="chooseInventransCall"></inventrans-component>
      </el-dialog>
      <!-- 客户名称 -->
      <!-- <el-dialog
        :title="textMap[dialogStatus]"
        :visible.sync="dialogCustomer"
        append-to-body
        width="90%"
        top="10vh"
      >
        <customer-component v-on:chooseCustomerCallBack="chooseCustomerCall"></customer-component>
      </el-dialog>-->
    </el-dialog>
  </div>
</template>

    <style>
.divStyle {
  margin-top: 2vh;
  font-size: 1vw;
}
.rowStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inputStyle {
  margin-right: 1.4vw;
  margin-left: 0.6vw;
  width: 225px;
}
</style>

<script>
import {
  page,
  addObj,
  getObj,
  delObj,
  putObj
} from "api/erp/purchase/purchaseLists/freight/index";
import {
  getObjSelf as getContractGoodsSelf,
  getObj as getContractGoods
} from "api/erp/purchase/purchaseLists/index";
import inventransComponent from "views/components/inventransComponent";
import customerComponent from "views/components/customerComponent";
import { mapGetters } from "vuex";
export default {
  name: "invenFreightContract",
  components: {
    inventransComponent,
    customerComponent
  },
  data() {
    return {
      listQuery: {
        page: 1,
        limit: 50,
        name: undefined,
        contractId: undefined
      },
      //短途货运列表数据
      list: [],
      rules: {
        // goodsName: [
        //   { required: true, message: "请输入产品名称", trigger: "blur" }
        // ],
        // goodsSpec: [
        //   { required: true, message: "请输入产品规格", trigger: "blur" }
        // ],
        // weight: [
        //   {
        //     type: "number",
        //     required: true,
        //     message: "请输入产品重量",
        //     trigger: "blur"
        //   }
        // ],
        // unitPrice: [
        //   { required: true, message: "请输入产品单价", trigger: "blur" }
        // ],

        serverId: [
          { required: true, message: "请选择服务商", trigger: "blur" }
        ],
        customerId: [
          { required: true, message: "请选择客户名称", trigger: "blur" }
        ],
        serveTime: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        arriveTime: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        carNumber: [{ required: true, message: "请输入车号", trigger: "blur" }]
      },
      //日期选择表（默认数据）
      pickerOptions1: {
        // disabledDate(time) {
        //   return time.getTime() > Date.now();
        // },
        shortcuts: [
          {
            text: "今天",
            onClick(picker) {
              picker.$emit("pick", new Date());
            }
          },
          {
            text: "昨天",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          },
          {
            text: "一周前",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            }
          }
        ]
      },
      //短途货运表单
      invenFreightForm: {
        freightContractItems: [], //货运记录项
        freightContract: {},
        id: undefined,
        remarks: undefined, //表格备注
        serverName: "", //服务商名称
        customerName: "", //客户名称
        serverId: undefined, //服务商ID
        customerId: undefined, //客户名称ID
        serveTime: undefined, //承运时间
        arriveTime: undefined, //到港时间
        carNumber: undefined, //车号
        contractId: undefined, //承运订单
        supplierId: undefined, //发货单位
        supplierName: undefined,
        serverPhone: undefined,
        startPlace: undefined,
        arrivePlace: undefined
      },
      invenFreightUpdate: false, //短途货运合同编辑
      dialogInventrans: false, //货运服务商弹出框
      dialogCustomer: false, //客户管理弹出框
      dialogStatus: "", //对话框标题
      create: true,
      textMap: {
        update: "短途货运合同编辑",
        create: "短途货运合同创建",
        inventransTitle: "货运服务商管理",
        customerTitle: "客户管理"
      },
      total: 0,
      tableKey: 0
    };
  },
  props: ["contractId", "purchaseContract"],
  watch: {
    contractId(val, oldVal) {
      //普通的watch监听
      this.initData();
    }
  },
  created() {
    this.initData();
  },

  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    initData() {
      this.listQuery.contractId = this.contractId;
      this.invenFreightForm.contractId = this.contractId;
      this.getList();
      this.getGoods();
      this.invenFreightForm.supplierId = this.purchaseContract.supplierId;
      this.invenFreightForm.supplierName = this.purchaseContract.supplierName;
    },
    getGoods() {
      if (this.elements["purchaseLists:view"])
        getContractGoods(this.contractId).then(response => {
          let res = response.data.contractItems;
          let items = [];
          for (let i = 0; i < res.length; i++) {
            let obj = {};
            obj.spec = res[i].goodsSpec;
            obj.beforeWeight = res[i].weight;
            obj.afterWeight = res[i].weight;
            items.push(obj);
          }
          this.invenFreightForm.freightContractItems = items;
          console.log(items);
        });
      if (this.elements["purchaseLists:viewSelf"])
        getContractGoodsSelf(this.contractId).then(response => {
          let res = response.data.contractItems;
          let items = [];
          for (let i = 0; i < res.length; i++) {
            let obj = {};
            obj.spec = res[i].goodsSpec;
            obj.beforeWeight = res[i].weight;
            obj.afterWeight = res[i].weight;
            items.push(obj);
          }
          this.invenFreightForm.freightContractItems = items;
        });
    },
    getTolerance(row) {
      row.weightTolerance =
        (row.afterWeight - row.beforeWeight) / row.beforeWeight;
    },
    getList() {
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.rows;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },

    //货运服务商选择按钮
    handleDialog1() {
      this.dialogInventrans = true;
      this.dialogStatus = "inventransTitle";
    },

    //客户管理选择按钮
    handleDialog2() {
      this.dialogCustomer = true;
      this.dialogStatus = "customerTitle";
    },

    chooseInventransCall(msg) {
      this.invenFreightForm.serverName = msg.name;
      this.invenFreightForm.serverId = msg.id;
      this.invenFreightForm.serverPhone = msg.serverPhone1;
      this.dialogInventrans = false;
    },

    chooseCustomerCall(msg) {
      this.invenFreightForm.customerName = msg.name;
      this.invenFreightForm.customerId = msg.id;
      this.dialogCustomer = false;
    },

    // 序号
    indexMethod(index) {
      return index + 1;
    },

    //添加一行表格
    handleCreate() {
      var obj = [
        {
          spec: "",
          numberOfPackage: "",
          beforeWeight: "",
          afterWeight: "",
          weightTolerance: ""
        }
      ];
      var _tableData = this.invenFreightForm.freightContractItems.concat(obj);
      this.invenFreightForm.freightContractItems = _tableData;
    },

    //短途货运编辑按钮
    handleUpdate(row) {
      getObj(row.id).then(response => {
        this.invenFreightForm = response.data.freightContract;
        let items = [];

        let tempItems = response.data.freightContractItems;
        for (let i = 0; i < tempItems.length; i++) {
          let obj = {};
          obj.spec = tempItems[i].spec;
          obj.beforeWeight = tempItems[i].beforeWeight;
          obj.afterWeight = tempItems[i].afterWeight;
          obj.numberOfPackage = tempItems[i].numberOfPackage;
          items.push(obj);
        }
        this.invenFreightForm.freightContractItems = items;
      });

      this.invenFreightUpdate = true;
      this.dialogStatus = "update";
      this.create = false;
    },
    //短途货运创建按钮
    handleCreate1() {
      this.invenFreightUpdate = true;
      this.dialogStatus = "create";
      console.log("-------------------------");
      console.log(this.invenFreightForm);
    },
    handleListDelete(index, row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        console.log("11111111111111111");
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    //删除一行表格
    handleDelete(index, rows) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        rows.splice(index, 1);
        // delObj(row.id).then(() => {
        //   this.$notify({
        //     title: "成功",
        //     message: "删除成功",
        //     type: "success",
        //     duration: 2000
        //   });
        //   const index = this.invenFreightForm.tableData.indexOf(row);
        //   this.invenFreightForm.tableData.splice(index, 1);
        // });
      });
    },

    //提交合同
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let data = {};
          data.freightContractItems = this.invenFreightForm.freightContractItems;
          if (this.invenFreightForm.freightContractItems.length == 0) {
            this.$notify({
              title: "失败",
              message: "请先添加运输的产品",
              type: "error",
              duration: 2000
            });
          } else {
            for (let i = 0; i < data.freightContractItems.length; i++) {
              if (
                data.freightContractItems[i].spec == "" ||
                data.freightContractItems[i].spec == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品规格不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
              if (
                data.freightContractItems[i].beforeWeight == "" ||
                data.freightContractItems[i].beforeWeight == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品出厂重不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
              if (
                data.freightContractItems[i].afterWeight == "" ||
                data.freightContractItems[i].afterWeight == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品过磅重不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
            }
          }
          data.freightContract = this.invenFreightForm;
          if (this.create) {
            addObj(data).then(response => {
              this.$notify({
                title: "成功",
                message: "合同已提交!",
                type: "success",
                duration: 2000
              });
              this.getList();
              this.invenFreightUpdate = false;
            });
          } else {
            putObj(data).then(response => {
              this.$notify({
                title: "成功",
                message: "合同已修改!",
                type: "success",
                duration: 2000
              });
              this.getList();
              this.invenFreightUpdate = false;
            });
          }
        }
      });
    }
  }
};
</script>


