<template>
  <div>
    <el-button
      class="filter-item"
      style="margin-bottom: 20px;"
      @click="handleCreate"
      type="primary"
      size="mini"
    >添加产品</el-button>
    <el-button
      class="filter-item"
      style="margin-left: 10px;margin-bottom: 20px;"
      type="primary"
      size="mini"
      @click="submitForm('form')"
    >提交合同</el-button>
    <el-form :model="form" :rules="rules" ref="form">
      <!-- 表格 -->
      <el-table
        :key="tableKey"
        :data="form.contractItems"
        :summary-method="getSummaries"
        show-summary
        border
        fit
        :stripe="true"
        :highlight-current-row="true"
        style="width: 100%"
        height="383"
      >
        <el-table-column type="index" :index="indexMethod" align="center" label="序号" width="80px"></el-table-column>
        <el-table-column align="center" label="产品名称" width="180px">
          <template slot-scope="scope">
            <el-input size="mini" v-model="scope.row.goodsName" clearable></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="规格型号">
          <template slot-scope="scope">
            <el-input size="mini" v-model="scope.row.goodsSpec" clearable></el-input>
          </template>
        </el-table-column>

        <el-table-column prop="weight" align="center" label="重量（吨）" width="150px">
          <template slot-scope="scope">
            <el-input
              size="mini"
              v-model="scope.row.weight"
              clearable
              :change="getRowAmount(scope.row)"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="单价（元/吨）" width="150px">
          <template slot-scope="scope">
            <el-input
              size="mini"
              v-model="scope.row.unitPrice"
              clearable
              :change="getRowAmount(scope.row)"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="amount" align="center" label="金额（元）" width="150px">
          <template slot-scope="scope">
            <el-input size="mini" v-model="scope.row.amount" :disabled="false" clearable></el-input>
          </template>
        </el-table-column>
        <el-table-column align="center" label="操作" width="80px">
          <template slot-scope="scope">
            <el-button size="small" type="danger" @click="handleDelete(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!-- 第一行 -->
      <div class="rowStyle divStyle">
        <el-form-item class="bottomStyle" prop="supplierName">
          <div class="rowStyle">
            <span>供应方</span>
            <el-input
              class="inputStyle"
              style="width:190px"
              size="mini"
              placeholder="请选择供应方"
              v-model="form.supplierName"
              clearable
            ></el-input>
            <el-button
              type="info"
              size="mini"
              style="margin-left:-1.2vw;margin-right:1.4vw"
              @click="handleDialog1"
            >选择</el-button>
          </div>
        </el-form-item>
        <el-form-item class="bottomStyle" prop="purchaserName">
          <div class="rowStyle">
            <span>采购方</span>
            <el-input
              class="inputStyle"
              style="width:190px"
              size="mini"
              placeholder="请选择采购方"
              v-model="form.purchaserName"
              clearable
            ></el-input>
            <el-button
              type="info"
              size="mini"
              style="margin-left:-1.2vw;margin-right:1.4vw"
              @click="handleDialog2"
            >选择</el-button>
          </div>
        </el-form-item>
        <el-form-item class="bottomStyle" prop="signLocation">
          <span>签约地址</span>
          <el-input
            class="inputStyle"
            style="width:220px"
            size="mini"
            placeholder="请输入签约地址"
            v-model="form.signLocation"
            clearable
          ></el-input>
        </el-form-item>
        <el-form-item class="bottomStyle" prop="signDate">
          <span>签约日期</span>
          <el-date-picker
            class="inputStyle"
            style="width:180px"
            size="mini"
            v-model="form.signDate"
            align="right"
            type="date"
            placeholder="选择日期"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions1"
          ></el-date-picker>
        </el-form-item>
      </div>
      <!-- 第二行 -->
      <div class="rowStyle divStyle">
        <el-form-item class="bottomStyle" prop="prepayAmount">
          <div class="rowStyle">
            <span>预付款额</span>
            <el-input
              class="inputStyle"
              style="width:120px"
              size="mini"
              placeholder="请输入预付款额"
              v-model="form.prepayAmount"
              :change="calculateNumber()"
              clearable
            ></el-input>
            <span style="margin-left:-0.6vw;">大写</span>
            <el-input
              class="inputStyle"
              style="width:220px;"
              size="mini"
              placeholder="请输入预付款额"
              v-model="prepayAmount"
              :disabled="false"
              maxlength="220"
            ></el-input>
          </div>
        </el-form-item>
        <el-form-item class="bottomStyle" prop="prepayDate">
          <span style="margin-left:.4vw">预付款日期</span>
          <el-date-picker
            class="inputStyle"
            style="width:180px"
            size="mini"
            v-model="form.prepayDate"
            align="right"
            type="date"
            placeholder="选择日期"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions1"
          ></el-date-picker>
        </el-form-item>
        <el-form-item class="bottomStyle" prop="postpayAmount">
          <div class="rowStyle">
            <span>尾款额</span>
            <el-input
              class="inputStyle"
              style="width:120px"
              size="mini"
              placeholder="总额减预付款"
              v-model="form.postpayAmount"
              clearable
              :disabled="false"
            ></el-input>
            <span style="margin-left:-0.6vw;">大写</span>
            <el-input
              class="inputStyle"
              style="width:220px;"
              size="mini"
              placeholder="总额减预付款"
              v-model="postpayAmount"
              maxlength="220"
              :disabled="false"
            ></el-input>
          </div>
        </el-form-item>
      </div>
      <!-- 第三行 -->
      <div class="rowStyle divStyle">
        <el-form-item class="bottomStyle" prop="postpayDate">
          <span>尾款支付日期</span>
          <el-date-picker
            class="inputStyle"
            style="width:180px"
            size="mini"
            v-model="form.postpayDate"
            align="right"
            type="date"
            placeholder="选择日期"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions1"
          ></el-date-picker>
        </el-form-item>
        <el-form-item class="bottomStyle" prop="validDate">
          <span style="margin-right:.8vw">合同开始时间</span>
          <el-date-picker
            class="inputStyle"
            style="width:180px"
            size="mini"
            v-model="form.validDate"
            align="right"
            type="date"
            placeholder="选择日期"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions1"
          ></el-date-picker>
        </el-form-item>
        <el-form-item class="bottomStyle" prop="invalidDate">
          <span style="margin-right:.9vw">合同终止时间</span>
          <el-date-picker
            class="inputStyle"
            style="width:180px"
            size="mini"
            v-model="form.invalidDate"
            align="right"
            type="date"
            placeholder="选择日期"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions1"
          ></el-date-picker>
        </el-form-item>
        <el-form-item class="bottomStyle">
          <div class="rowStyle">
            <span style="margin-right:.7vw">合同快照</span>
            <el-button
              size="mini"
              type="text"
              style="margin-right:10px"
              @click="handleFilePreview(form.contractShotcut)"
            >在线预览</el-button>
            <el-upload
              class="upload-demo rowStyle1"
              :action="uploadUrl"
              name="shotCut"
              :headers="myHeaders"
              :on-success="uploadFileSuccess"
              :data="uploadData"
              :auto-upload="false"
              ref="upload"
              :on-change="fileChange"
              :on-remove="fileRemove"
              :limit="1"
            >
              <el-button class="btn" style="margin-right:.7vw" size="mini" type="info">更换文件</el-button>
            </el-upload>
          </div>
        </el-form-item>
      </div>

      <!-- 第四行 -->
      <div class="rowStyle divStyle">
        <el-form-item class="bottomStyle">
          <!-- 这里人民币金额要显示大写（totalAmount），存小写金额 -->
          <span>合计人民币金额</span>
          <el-input
            class="inputStyle"
            style="width:245px"
            size="mini"
            v-model="totalAmount"
            ::disabled="true"
            maxlength="245"
          ></el-input>
        </el-form-item>
        <el-form-item class="bottomStyle">
          <span>备注</span>
          <el-input class="inputStyle" style="width:785px" size="mini" v-model="form.remarks"></el-input>
        </el-form-item>
      </div>
    </el-form>
    <!-- 供应方 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogSupplier"
      append-to-body
      width="90%"
      top="10vh"
    >
      <supplier-component v-on:chooseSupplierCallBack="chooseSupplierCall"></supplier-component>
    </el-dialog>
    <!-- 采购方 -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogPurchaser"
      append-to-body
      width="90%"
      top="10vh"
    >
      <purchaser-component v-on:choosePurchaserCallBack="choosePurchaserCall"></purchaser-component>
    </el-dialog>
  </div>
</template>
<style>
.divStyle {
  font-size: 1vw;
  margin-top: 2vh;
}
.rowStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottomStyle {
  margin-bottom: 0px;
}
.rowStyle1 {
  display: flex;
  flex-direction: row;
  line-height: 42px;
}
.inputStyle {
  margin-right: 1.4vw;
  margin-left: 0.6vw;
  width: 225px;
}
</style>
<script>
import {
  getObjSelf,
  getObj,
  putObj
} from "api/erp/purchase/purchaseLists/index";
import supplierComponent from "views/components/supplierComponent";
import purchaserComponent from "views/components/purchaserComponent";
import { mapGetters } from "vuex";
import * as fileService from "api/file/index";
import fetch from "utils/fetch";
export default {
  name: "purchaseDetail",
  components: {
    supplierComponent,
    purchaserComponent
  },
  data() {
    return {
      tableKey: 0,
      uploadUrl: "/erp/purchase/upload/",
      myHeaders: { Authorization: "" },
      uploadData: { id: undefined },
      dialogSupplier: false, //供应方弹出框
      dialogPurchaser: false, //采购方弹出框
      dialogStatus: "", //对话框标题
      textMap: {
        supplierTitle: "供应商管理",
        purchaserTitle: "客户管理"
      },
      totalAmount: 0, //合计金额大写
      prepayAmount: 0, //预付款大写
      postpayAmount: 0, //尾款大写
      form: {
        contractItems: [{ goodsName: "sd" }],
        contractBase: {},
        remarks: undefined, //表格备注
        supplierName: undefined, //供应方
        purchaserName: undefined, //采购方
        supplierId: undefined, //供应方
        purchaserId: undefined, //采购方
        signDate: undefined, //签约日期
        prepayDate: undefined, //预付款日期
        postpayDate: undefined, //尾款支付日期
        postpayAmount: undefined, //尾款额
        validDate: undefined, //合同开始时间
        invalidDate: undefined, //合同终止时间
        signLocation: undefined, //签约地址
        prepayAmount: undefined, //预付款额
        totalAmount: 0, //合计人民币金额初始化为0元
        totalWeight: 0
      },
      uploadData: {},
      fileList: [],
      item: {},
      rules: {
        // goodsName: [
        //   { required: true, message: "请输入产品名称", trigger: "blur" }
        // ],
        // goodsSpec: [
        //   { required: true, message: "请输入产品规格", trigger: "blur" }
        // ],
        // weight: [
        //   {
        //     type: "number",
        //     required: true,
        //     message: "请输入产品重量",
        //     trigger: "blur"
        //   }
        // ],
        // unitPrice: [
        //   { required: true, message: "请输入产品单价", trigger: "blur" }
        // ],

        supplierName: [
          { required: true, message: "请选择供应方", trigger: "blur" }
        ],
        purchaserName: [
          { required: true, message: "请选择采购方", trigger: "blur" }
        ],
        signDate: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        prepayDate: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        postpayDate: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        validDate: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        invalidDate: [
          {
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ],
        signLocation: [
          { required: true, message: "请输入签约地址", trigger: "blur" }
        ],
        prepayAmount: [
          { required: true, message: "请输入预付款额", trigger: "blur" }
        ],
        postpayAmount: [
          { required: true, message: "请输入尾款额", trigger: "blur" }
        ],
        input9: [{ required: true, message: "请输入签收记录", trigger: "blur" }]
      },
      supplier: [], //供应方数据(从后台获得)
      //日期选择表（默认数据）
      pickerOptions1: {
        // disabledDate(time) {
        //   return time.getTime() > Date.now();
        // },
        shortcuts: [
          {
            text: "今天",
            onClick(picker) {
              picker.$emit("pick", new Date());
            }
          },
          {
            text: "昨天",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            }
          },
          {
            text: "一周前",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            }
          }
        ]
      },

      purchaserManager_btn_del: false
    };
  },
  props: ["contractId"],
  watch: {
    contractId(val, oldVal) {
      //普通的watch监听
      this.initData();
    }
  },
  created() {
    this.initData();
  },

  computed: {
    ...mapGetters(["elements", "token"])
  },

  methods: {
    handleFilePreview(id) {
      fileService.getDownloadUrl(id, true).then(res => {
        let downloadUrl = encodeURIComponent(`${fetch.defaults.baseURL}${res}`);
        window.open(
          `http://47.107.189.128:8012/onlinePreview?url=${downloadUrl}`
        );
      });
    },
    initData() {
      this.myHeaders.Authorization = this.token;
      this.uploadUrl = `${fetch.defaults.baseURL}` + this.uploadUrl;
      this.getDetail();
    },
    fileChange: function(file, fileList) {
      this.fileList = fileList;
    },
    fileRemove: function(file, fileList) {
      this.fileList = fileList;
    },
    chooseSupplierCall(msg) {
      this.form.supplierName = msg.name;
      this.form.supplierId = msg.id;
      this.dialogSupplier = false;
    },
    choosePurchaserCall(msg) {
      this.form.purchaserName = msg.name;
      this.form.purchaserId = msg.id;
      this.dialogPurchaser = false;
    },
    getDetail() {
      if (this.elements["purchaseLists:view"])
        getObj(this.contractId).then(response => {
          this.$emit("getPurchase", response.data.contractBase);
          this.form = response.data.contractBase;
          let items = [];

          let tempItems = response.data.contractItems;
          for (let i = 0; i < tempItems.length; i++) {
            let obj = {};
            obj.goodsName = tempItems[i].goodsName;
            obj.goodsSpec = tempItems[i].goodsSpec;
            obj.weight = tempItems[i].weight;
            obj.unitPrice = tempItems[i].unitPrice;
            items.push(obj);
          }
          this.form.contractItems = items;
          this.totalAmount = this.chineseNumber(this.form.totalAmount);
        });
      if (this.elements["purchaseLists:viewSelf"])
        getObjSelf(this.contractId).then(response => {
          this.$emit("getPurchase", response.data.contractBase);
          this.form = response.data.contractBase;
          let items = [];

          let tempItems = response.data.contractItems;
          for (let i = 0; i < tempItems.length; i++) {
            let obj = {};
            obj.goodsName = tempItems[i].goodsName;
            obj.goodsSpec = tempItems[i].goodsSpec;
            obj.weight = tempItems[i].weight;
            obj.unitPrice = tempItems[i].unitPrice;
            items.push(obj);
          }

          this.form.contractItems = items;
          this.totalAmount = this.chineseNumber(this.form.totalAmount);
        });
    },
    //短途货运合同按钮
    handleDialog1() {
      this.dialogSupplier = true;
      this.dialogStatus = "supplierTitle";
    },

    //海运合同按钮
    handleDialog2() {
      this.dialogPurchaser = true;
      this.dialogStatus = "purchaserTitle";
    },
    // 序号
    indexMethod(index) {
      return index + 1;
    },
    getRowAmount(row) {
      console.log(row);
      row.amount = row.unitPrice * row.weight;
    },
    // 合计
    getSummaries(param) {
      const { columns, data } = param;
      const sums = [];
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = "合计";
          return;
        }
        const values = data.map(item => Number(item[column.property]));
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr);
            if (!isNaN(value)) {
              return prev + curr;
            } else {
              return prev;
            }
          }, 0);
        } else {
          sums[index] = "";
        }
      });
      this.form.totalAmount = sums[5];
      this.form.totalWeight = sums[3];
      this.totalAmount = this.chineseNumber(sums[5]);
      sums[3] += " 吨";
      sums[5] += " 元";
      console.log("sums");
      console.log(sums);
      return sums;
    },

    //人民币小写转大写(函数)
    chineseNumber(num) {
      if (isNaN(num) || num > Math.pow(10, 12)) return "";
      var cn = "零壹贰叁肆伍陆柒捌玖";
      var unit = new Array("拾百千", "分角");
      var unit1 = new Array("万亿", "");
      var numArray = num.toString().split(".");
      var start = new Array(numArray[0].length - 1, 2);

      function toChinese(num, index) {
        var num = num.replace(/\d/g, function($1) {
          return (
            cn.charAt($1) + unit[index].charAt(start-- % 4 ? start % 4 : -1)
          );
        });
        return num;
      }
      for (var i = 0; i < numArray.length; i++) {
        var tmp = "";
        for (var j = 0; j * 4 < numArray[i].length; j++) {
          var strIndex = numArray[i].length - (j + 1) * 4;
          var str = numArray[i].substring(strIndex, strIndex + 4);
          var start = i ? 2 : str.length - 1;
          var tmp1 = toChinese(str, i);
          tmp1 = tmp1.replace(/(零.)+/g, "零").replace(/零+$/, "");
          tmp1 = tmp1.replace(/^壹拾/, "拾");
          tmp = tmp1 + unit1[i].charAt(j - 1) + tmp;
        }
        numArray[i] = tmp;
      }
      numArray[1] = numArray[1] ? numArray[1] : "";
      (numArray[0] = numArray[0] ? numArray[0] + "元" : numArray[0]),
        (numArray[1] = numArray[1].replace(/^零+/, ""));
      numArray[1] = numArray[1].match(/分/) ? numArray[1] : numArray[1] + "整";
      return numArray[0] + numArray[1];
    },
    //计算尾款额
    calculateNumber() {
      this.prepayAmount = this.chineseNumber(this.form.prepayAmount); //直接转化预付款
      var money = this.form.totalAmount - this.form.prepayAmount; //计算尾款额
      this.form.postpayAmount = money;
      this.postpayAmount = this.chineseNumber(money); //转化尾款额
      //console.log("监听1:", this.form.postpayAmount);
    },
    //添加一行表格
    handleCreate() {
      console.log(this.form.contractItems);
      this.form.contractItems.push(this.item);
    },

    //删除一行表格
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        this.$notify({
          title: "成功",
          message: "删除成功",
          type: "success",
          duration: 2000
        });
        const index = this.form.contractItems.indexOf(row);
        this.form.contractItems.splice(index, 1);
      });
    },

    //提交合同
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          console.log(this.$refs.upload);
          // this.form.totalAmount = this.totalAmount;

          let data = {};
          data.contractItems = this.form.contractItems;
          if (this.form.contractItems.length == 0) {
            this.$notify({
              title: "失败",
              message: "请先添加采购产品",
              type: "error",
              duration: 2000
            });
          } else {
            for (let i = 0; i < data.contractItems.length; i++) {
              if (
                data.contractItems[i].goodsName == "" ||
                data.contractItems[i].goodsName == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品名称不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
              if (
                data.contractItems[i].goodsSpec == "" ||
                data.contractItems[i].goodsSpec == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品规格不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
              if (
                data.contractItems[i].weight == "" ||
                data.contractItems[i].weight == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品重量不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
              if (
                data.contractItems[i].unitPrice == "" ||
                data.contractItems[i].unitPrice == undefined
              ) {
                this.$notify({
                  title: "失败",
                  message: "产品单价不能为空",
                  type: "error",
                  duration: 2000
                });
                return;
              }
            }

            data.contractBase = this.form;
            putObj(data).then(response => {
              this.fileList = [];
              this.uploadData.id = this.contractId;
              if (this.fileList.length > 0) this.$refs.upload.submit();
              else {
                this.$notify({
                  title: "成功",
                  message: "修改成功",
                  type: "success",
                  duration: 2000
                });
                this.$emit("updateSuccess", "Success");
              }
            });
          }
        }
      });
    },

    uploadFileSuccess() {
      this.$notify({
        title: "成功",
        message: "修改成功",
        type: "success",
        duration: 2000
      });
      this.$emit("updateSuccess", "Success");
    }
  }
};
</script>

