<template>
  <div>
    <purchase-detail :contractId="form.id" v-on:getPurchase="getPurchase"></purchase-detail>

    <el-form :model="form" ref="form">
      <div class="rowStyle divStyle">
        <el-form-item prop="nativeWeghtt">
          <div class="rowStyle">
            <span>签收过磅重</span>
            <el-input
              size="mini"
              v-model="form.nativeWeght"
              placeholder="请输入过磅重"
              clearable
              style="width:150px"
              :change="getTolerance()"
            ></el-input>
          </div>
        </el-form-item>

        <el-form-item label prop="nativeTolerance">
          <div class="rowStyle">
            <span>签收负差值</span>
            <el-input
              size="mini"
              v-model="form.nativeTolerance"
              placeholder="系统自动计算"
              clearable
              readonly
              style="width:150px"
            ></el-input>
          </div>
        </el-form-item>

        <el-form-item prop="nativeToleranceMarks">
          <div class="rowStyle">
            <span>负差处理备注</span>
            <el-input
              size="mini"
              v-model="form.nativeToleranceMarks"
              placeholder="请输入负差备注"
              clearable
              style="width:150px"
            ></el-input>
          </div>
        </el-form-item>
        <el-form-item prop="nativeToleranceMarks">
          <div class="rowStyle">
            <span>签收记录</span>
            <el-input
              size="mini"
              v-model="form.receiveMarks"
              placeholder="请输入签收记录"
              clearable
              style="width:150px"
            ></el-input>
          </div>
        </el-form-item>
      </div>
    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="signWeight('form')" size="mini">确 定</el-button>
      <el-button @click="$router.back(-1)" size="mini">放弃并返回</el-button>
    </div>
  </div>
</template>
<style>
.divStyle {
  font-size: 1vw;
  margin-top: 2vh;
}
.rowStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottomStyle {
  margin-bottom: 0px;
}
.rowStyle1 {
  display: flex;
  flex-direction: row;
  line-height: 42px;
}
.inputStyle {
  margin-right: 1.4vw;
  margin-left: 0.6vw;
  width: 225px;
}
</style>
<script>
import { sign } from "api/erp/purchase/purchaseLists/index";
import purchaseDetail from "./purchaseDetail";
export default {
  name: "sign",
  components: {
    purchaseDetail
  },
  props: ["contractId"],
  watch: {
    contractId(val, oldVal) {
      //普通的watch监听
      this.form.id = this.contractId;
    }
  },
  data() {
    return {
      form: {
        id: undefined,
        nativeWeght: undefined,
        nativeTolerance: undefined,
        totalWeight: undefined,
        nativeToleranceMarks: undefined,
        receiveMarks: undefined
      },

      rules: {
        nativeWeght: [
          { required: true, message: "请输入签收过磅重", trigger: "blur" }
        ]
      }
    };
  },
  created() {
    this.form.id = this.contractId;
  },
  methods: {
    signWeight(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          sign(this.form).then(response => {
            this.$emit("signSuccess", "success");
            this.$notify({
              title: "成功",
              message: "修改成功",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },
    getPurchase(msg) {
      console.log(msg);
      this.form.nativeWeght = msg.nativeWeght;
      this.form.nativeTolerance = msg.nativeTolerance;
      this.form.nativeToleranceMarks = msg.nativeToleranceMarks;
      this.form.totalWeight = msg.totalWeight;
    },
    getTolerance() {
      this.form.nativeTolerance =
        (this.form.nativeWeght - this.form.totalWeight) / this.form.totalWeight;
    }
  }
};
</script>