<template>
  <div>
    <purchase-detail :contractId="form.id" v-on:getPurchase="getPurchase"></purchase-detail>

    <el-form :model="form" ref="form">
      <div class="rowStyle divStyle">
        <el-form-item prop="portWeghtt">
          <div class="rowStyle">
            <span>集港过磅重</span>
            <el-input
              size="mini"
              v-model="form.portWeght"
              placeholder="请输入过磅重"
              clearable
              style="width:150px"
              :change="getTolerance()"
            ></el-input>
          </div>
        </el-form-item>

        <el-form-item label prop="portTolerance">
          <div class="rowStyle">
            <span>集港负差值</span>
            <el-input
              size="mini"
              v-model="form.portTolerance"
              placeholder="系统自动计算"
              clearable
              readonly
              style="width:150px"
            ></el-input>
          </div>
        </el-form-item>

        <el-form-item prop="portToleranceMarks">
          <div class="rowStyle">
            <span>负差备注</span>
            <el-input
              size="mini"
              v-model="form.portToleranceMarks"
              placeholder="请输入负差备注"
              clearable
              style="width:150px"
            ></el-input>
          </div>
        </el-form-item>
      </div>
    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="toPortWeight('form')" size="mini">确 定</el-button>
      <el-button @click="$router.back(-1)" size="mini">放弃并返回</el-button>
    </div>
  </div>
</template>
<style>
.divStyle {
  font-size: 1vw;
  margin-top: 2vh;
}
.rowStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottomStyle {
  margin-bottom: 0px;
}
.rowStyle1 {
  display: flex;
  flex-direction: row;
  line-height: 42px;
}
.inputStyle {
  margin-right: 1.4vw;
  margin-left: 0.6vw;
  width: 225px;
}
</style>
<script>
import { toPort } from "api/erp/purchase/purchaseLists/index";
import purchaseDetail from "./purchaseDetail";
export default {
  name: "toPort",
  components: {
    purchaseDetail
  },
  props: ["contractId"],
  watch: {
    contractId(val, oldVal) {
      //普通的watch监听
      this.form.id = this.contractId;
    }
  },
  data() {
    return {
      form: {
        id: undefined,
        portWeght: undefined,
        portTolerance: undefined,
        totalWeight: undefined,
        portToleranceMarks: undefined
      },

      rules: {
        portWeght: [
          { required: true, message: "请输入集港过磅重", trigger: "blur" }
        ]
      }
    };
  },
  created() {
    this.form.id = this.contractId;
  },
  methods: {
    toPortWeight(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          toPort(this.form).then(response => {
            this.$emit("toPortSuccess", "success");
            this.$notify({
              title: "成功",
              message: "修改成功",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },
    getPurchase(msg) {
      console.log(msg);
      this.form.portWeght = msg.portWeght;
      this.form.portTolerance = msg.portTolerance;
      this.form.portToleranceMarks = msg.portToleranceMarks;
      this.form.totalWeight = msg.totalWeight;
    },
    getTolerance() {
      this.form.portTolerance =
        (this.form.portWeght - this.form.totalWeight) / this.form.totalWeight;
    }
  }
};
</script>