<template>
  <div>
    <el-button
      class="filter-item"
      v-if="customerManager_btn_add"
      @click="handleCreate"
      type="primary"
      icon="edit"
      size="mini"
    >添加</el-button>
    <el-button class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter" size="mini">搜索</el-button>
    <div class="divStyle rowStyle">
      <el-input
        @keyup.enter.native="handleFilter"
        size="mini"
        class="inputStyle"
        placeholder="供应商"
        v-model="listQuery.name"
      ></el-input>
      <el-input
        @keyup.enter.native="handleFilter"
        size="mini"
        class="inputStyle"
        placeholder="地址"
        v-model="listQuery.address"
      ></el-input>
      <el-input
        @keyup.enter.native="handleFilter"
        size="mini"
        class="inputStyle"
        placeholder="联系人"
        v-model="listQuery.contactMan"
      ></el-input>
      <el-input
        @keyup.enter.native="handleFilter"
        size="mini"
        class="inputStyle"
        placeholder="电话一"
        v-model="listQuery.phone1"
      ></el-input>
    </div>
    <div class="divStyle rowStyle" style="margin-bottom:2vh">
      <el-input
        @keyup.enter.native="handleFilter"
        size="mini"
        class="inputStyle"
        placeholder="电话二"
        v-model="listQuery.phone2"
      ></el-input>
      <el-input
        @keyup.enter.native="handleFilter"
        size="mini"
        class="inputStyle"
        placeholder="备注"
        v-model="listQuery.remark"
      ></el-input>
      <el-select class="inputStyle" size="mini" v-model="listQuery.orderBy" placeholder="请选择排序方式">
        <el-option
          v-for="item in  orders"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
    </div>
    <el-table
      :key="tableKey"
      :data="list"
      border
      fit
      :stripe="true"
      :header-cell-style="tableClass"
      :cell-style="tableColumnClass"
      :highlight-current-row="true"
      style="width: 100%"
      height="40vh"
      size="mini"
    >
      <!-- <el-table-column align="center" label="id" width="65">
        <template slot-scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>-->
      <!-- <el-table-column width="200px" align="center" label="客户编码">
        <template slot-scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>-->
      <el-table-column align="center" label="客户" width="200px">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" label="公司简称" width="200px">
        <template slot-scope="scope">
          <span>{{scope.row.compName}}</span>
        </template>
      </el-table-column>-->
      <el-table-column align="center" label="地址" width="200px">
        <template slot-scope="scope">
          <i class="el-icon-location"></i>
          <span>{{scope.row.address}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column width="200px" align="center" label="邮政编码">
        <template slot-scope="scope">
          <span>{{scope.row.postCode}}</span>
        </template>
      </el-table-column>-->
      <el-table-column align="center" label="联系人" width="120px">
        <template slot-scope="scope">
          <span>{{scope.row.contactMan}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="电话一" width="150px">
        <template slot-scope="scope">
          <span>{{scope.row.phone1}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="电话二" width="150px">
        <template slot-scope="scope">
          <span>{{scope.row.phone2}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="电子邮件">
        <template slot-scope="scope">
          <span>{{scope.row.email}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="纳税号">
        <template slot-scope="scope">
          <span>{{scope.row.taxNumber}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="开户银行">
        <template slot-scope="scope">
          <span>{{scope.row.accountBank}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column width="200px" align="center" label="开户银行">
        <template slot-scope="scope">
          <span>{{scope.row.accountBank}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="开户账号">
        <template slot-scope="scope">
          <span>{{scope.row.account}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="纳税号">
        <template slot-scope="scope">
          <span>{{scope.row.taxNumber}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="网址">
        <template slot-scope="scope">
          <span>{{scope.row.netUrl}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="电子邮件">
        <template slot-scope="scope">
          <span>{{scope.row.email}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="备注">
        <template slot-scope="scope">
          <span>{{scope.row.remark}}</span>
        </template>
      </el-table-column>-->
      <!-- <el-table-column width="200px" align="center" label="记录人">
      <template slot-scope="scope">
        <span>{{scope.row.crtUsr}}</span>
      </template>
    </el-table-column>
        <el-table-column width="200px" align="center" label="记录时间">
      <template slot-scope="scope">
        <span>{{scope.row.crtTime}}</span>
      </template>
      </el-table-column>-->
      <el-table-column align="center" fixed="right" label="操作" width="220px">
        <template slot-scope="scope">
          <el-button size="mini" type="info" @click="handleChoose(scope.row)">选择</el-button>
          <el-button size="mini" type="success" @click="handleUpdate(scope.row)">编辑</el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[10,20,30,50]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogFormVisible"
      append-to-body
      width="80%"
    >
      <el-form :model="form" :rules="rules" ref="form" label-width="30%">
        <div style="display: flex;flex-direction: row;">
          <el-col :span="10" style="margin:0px 50px">
            <el-form-item label="客户名称" prop="name">
              <el-input v-model="form.name" placeholder="请输入客户名称" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="客户地址" prop="address">
              <el-input v-model="form.address" placeholder="请输入地址" clearable></el-input>
            </el-form-item>
          </el-col>
        </div>
        <div style="display: flex;flex-direction: row;">
          <el-col :span="10" style="margin:0px 50px">
            <el-form-item label="联系人" prop="contactMan">
              <el-input v-model="form.contactMan" placeholder="请输入联系人" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="电话一" prop="phone1">
              <el-input v-model="form.phone1" placeholder="请输入电话一" clearable></el-input>
            </el-form-item>
          </el-col>
        </div>
        <div style="display: flex;flex-direction: row;">
          <el-col :span="10" style="margin:0px 50px">
            <el-form-item label="电话二" prop="phone2">
              <el-input v-model="form.phone2" placeholder="请输入电话二" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="开户银行" prop="accountBank">
              <el-input v-model="form.accountBank" placeholder="请输入开户银行" clearable></el-input>
            </el-form-item>
          </el-col>
        </div>
        <div style="display: flex;flex-direction: row;">
          <el-col :span="10" style="margin:0px 50px">
            <el-form-item label="开户账号" prop="account">
              <el-input v-model="form.account" placeholder="请输入开户账号" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="纳税号" prop="taxNumber">
              <el-input v-model="form.taxNumber" placeholder="请输入纳税号" clearable></el-input>
            </el-form-item>
          </el-col>
        </div>
        <div style="display: flex;flex-direction: row;">
          <el-col :span="10" style="margin:0px 50px">
            <el-form-item label="网址" prop="netUrl">
              <el-input v-model="form.netUrl" placeholder="请输入网址" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="电子邮件" prop="email">
              <el-input v-model="form.email" placeholder="请输入电子邮件" clearable></el-input>
            </el-form-item>
          </el-col>
        </div>
        <div style="display: flex;flex-direction: row;">
          <el-col :span="10" style="margin:0px 50px">
            <el-form-item label="备注" prop="remark">
              <el-input v-model="form.remark" placeholder="请输入备注" clearable></el-input>
            </el-form-item>
          </el-col>
        </div>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel('form')">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create('form')">确 定</el-button>
        <el-button v-else type="primary" @click="update('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<style>
.divStyle {
  margin-top: 2vh;
  font-size: 1vw;
}
.rowStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inputStyle {
  margin-right: 1.5vw;
  width: 225px;
}
</style>

<script>
import {
  page,
  addObj,
  getObj,
  delObj,
  putObj,
  downExcel,
  uploadExcel
} from "api/erp/base-data/customer/index";
import { mapGetters } from "vuex";
import fetch from "utils/fetch";
export default {
  name: "customerComponent",
  data() {
    return {
      tableClass: {
        "background-color": "#F8F8FF",
        "font-size": "1vw",
        padding: "5px"
      },
      tableColumnClass: {
        "font-size": "1vw",
        padding: "1vh 0"
      },
      form: {
        name: undefined,
        address: undefined,
        contactMan: undefined,
        phone1: undefined,
        phone2: undefined,
        accountBank: undefined,
        account: undefined,
        taxNumber: undefined,
        netUrl: undefined,
        email: undefined,
        remark: undefined
      },
      rules: {
        name: [
          {
            required: true,
            message: "请输入客户名称",
            trigger: "blur"
          },
          {
            min: 1,
            max: 20,
            message: "长度在 1 到 20 个字符",
            trigger: "blur"
          }
        ],
        address: [
          {
            required: true,
            message: "请输入地址",
            trigger: "blur"
          },
          {
            min: 3,
            max: 100,
            message: "长度在 3 到 100 个字符",
            trigger: "blur"
          }
        ],
        contactMan: [
          {
            required: true,
            message: "请输入联系人",
            trigger: "blur"
          },
          {
            min: 1,
            max: 20,
            message: "长度在 1 到 20 个字符",
            trigger: "blur"
          }
        ],
        phone1: [
          {
            required: true,
            message: "请输入电话一",
            trigger: "blur"
          },
          {
            min: 8,
            max: 20,
            message: "长度在 8 到 20 个字符",
            trigger: "blur"
          }
        ],
        phone2: [
          {
            message: "请输入电话二",
            trigger: "blur"
          },
          {
            min: 8,
            max: 20,
            message: "长度在 8 到 20 个字符",
            trigger: "blur"
          }
        ],
        accountBank: [
          {
            required: true,
            message: "请输入开户银行",
            trigger: "blur"
          },
          {
            min: 3,
            max: 50,
            message: "长度在 3 到 50 个字符",
            trigger: "blur"
          }
        ],
        account: [
          {
            required: true,
            message: "请输入开户账号",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        taxNumber: [
          {
            required: true,
            message: "请输入纳税号",
            trigger: "blur"
          },
          {
            min: 3,
            max: 50,
            message: "长度在 3 到 50 个字符",
            trigger: "blur"
          }
        ],
        netUrl: [
          {
            message: "请输入网址",
            trigger: "blur"
          },
          {
            min: 5,
            max: 100,
            message: "长度在 5 到 100 个字符",
            trigger: "blur"
          }
        ],
        email: [
          {
            required: true,
            message: "请输入电子邮件",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        remark: [
          {
            message: "请输入备注",
            trigger: "blur"
          },
          {
            min: 1,
            max: 100,
            message: "长度在1 到 100 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10,
        code: undefined,
        postCode: undefined,
        compName: undefined,
        name: undefined,
        address: undefined,
        contactMan: undefined,
        phone1: undefined,
        phone2: undefined,
        accountBank: undefined,
        account: undefined,
        taxNumber: undefined,
        netUrl: undefined,
        email: undefined,
        remark: undefined,
        orderBy: "created_time desc"
      },
      orders: [
        { label: "创建时间升序", value: "created_time asc" },
        { label: "创建时间降序", value: "created_time desc" },
        { label: "客户升序", value: "name asc" },
        { label: "客户降序", value: "name desc" }
      ],
      dialogFormVisible: false,
      dialogStatus: "",
      customerManager_btn_edit: false,
      customerManager_btn_del: false,
      customerManager_btn_add: false,
      customerManager_btn_export: false,
      customerManager_btn_import: false,
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0
    };
  },
  created() {
    this.getList();
    this.customerManager_btn_edit = this.elements["customerManager:btn_edit"];
    this.customerManager_btn_del = this.elements["customerManager:btn_del"];
    this.customerManager_btn_add = this.elements["customerManager:btn_add"];
    this.customerManager_btn_export = this.elements[
      "customerManager:btn_export"
    ];
    this.customerManager_btn_import = this.elements[
      "customerManager:btn_import"
    ];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    getList() {
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.rows;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    uploadBtn() {
      this.$refs.fileInput.click();
    },
    handleUpload(event) {
      console.log("upload");
      let formData = new FormData();
      formData.append("excel", event.target.files[0]);
      uploadExcel(formData).then(response => {
        console.log(response.data);
        if (response.data.res === "1") {
          this.$notify({
            title: "成功",
            message: "导入成功",
            type: "success",
            duration: 2000
          });
        }
      });
    },
    handleChoose(row) {
      this.$emit("chooseCustomerCallBack", row);
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
    },
    handleUpdate(row) {
      getObj(row.id).then(response => {
        this.form = response.data;
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
      });
    },

    handleExport() {
      downExcel(this.listQuery).then(response => {
        let a = document.createElement("a");
        a.href =
          `${fetch.defaults.baseURL}` +
          "/erp/excel/customer/download?uuid=" +
          response.data;
        a.click();
      });
    },

    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    create(formName) {
      const set = this.$refs;
      this.$refs[formName].validate(valid => {
        if (valid) {
          addObj(this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    cancel(formName) {
      this.dialogFormVisible = false;
      const set = this.$refs;
      set[formName].resetFields();
    },
    update(formName) {
      const set = this.$refs;
      console.log(this.form);
      set[formName].validate(valid => {
        if (valid) {
          this.dialogFormVisible = false;
          this.form.password = undefined;
          putObj(this.form.id, this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "修改成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    }
  }
};
</script>
