<template>
  <div class="app-container calendar-list-container">
    <el-tabs v-model="activeName">
      <el-tab-pane label="操作日志" name="first"></el-tab-pane>
    </el-tabs>
    <div class="filter-container">
      <el-input
        size="small"
        @keyup.enter.native="handleFilter"
        style="width: 200px;"
        class="filter-item"
        placeholder="操作人姓名"
        v-model="listQuery.crtName"
      ></el-input>
      <el-button
        size="small"
        class="filter-item"
        type="primary"
        v-waves
        icon="el-icon-search"
        style="margin-left: 10px;"
        @click="handleFilter"
      >搜索</el-button>
      <el-button
        size="small"
        class="filter-item"
        type="primary"
        plain
        icon="el-icon-d-arrow-left"
        @click="$router.back(-1)"
      >返回</el-button>
    </div>
    <el-table
      :key="tableKey"
      :data="list"
      v-loading.body="listLoading"
      :header-cell-style="tableClass"
      :cell-style="tableColumnClass"
      :stripe="true"
      border
      fit
      highlight-current-row
      style="width: 100%"
      height="54vh"
      size="mini"
    >
      <el-table-column width="200px" align="center" label="菜单">
        <template slot-scope="scope">
          <span>{{scope.row.menu}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="企业">
        <template slot-scope="scope">
          <span>{{scope.row.compName}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="操作">
        <template slot-scope="scope">
          <span>{{scope.row.opt}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="资源路径">
        <template slot-scope="scope">
          <span>{{scope.row.uri}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="操作时间">
        <template slot-scope="scope">
          <span>{{scope.row.createdTime}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column width="200px" align="center" label="操作人ID">
        <template slot-scope="scope">
          <span>{{scope.row.crtUser}}</span>
        </template>
      </el-table-column>-->
      <el-table-column width="200px" align="center" label="操作人">
        <template slot-scope="scope">
          <span>{{scope.row.createdName}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200px" align="center" label="操作主机">
        <template slot-scope="scope">
          <span>{{scope.row.createdHost}}</span>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[12,24,36, 48]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { page } from "api/admin/gateLog/index";
export default {
  name: "gateLog",
  data() {
    return {
      tableClass: {
        'background-color': '#F8F8FF',
        "font-size": "1vw",
        padding: "5px"
      },
      tableColumnClass: {
        "font-size": "1vw",
        "padding": "1vh 0",
      },
      activeName: "first",
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 12,
        createName: undefined,
        orderBy: "created_time desc"
      },
      dialogFormVisible: false,
      dialogStatus: "",
      gateLogManager_btn_edit: "1",
      gateLogManager_btn_del: "1",
      gateLogManager_btn_add: "1",
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.rows;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    }
  }
};
</script>
