<template>
  <div class="app-container">
		<el-tabs value="first">
			<el-tab-pane name="first"
				label="订单审核">
			</el-tab-pane>
		</el-tabs>
		<div class="filter-container">
			<el-row>
				<el-col :span="1">
					<el-button class="filter-item"
						icon="el-icon-d-arrow-left"
						type="primary"
						size="mini"
						plain
						@click="$router.back(-1)">
						返回
					</el-button>
				</el-col>
				<el-col :span="8">
					<el-form label-width="85px"
						size="mini">
						<el-form-item label="排序">
							<el-select size="mini">
								<el-option label="按时间顺序"></el-option>
								<el-option label="按时间倒序"></el-option>
							</el-select>
						</el-form-item>
					</el-form>
				</el-col>
			</el-row>
		</div>
		<el-table border height="60vh">
			<el-table-column type="index"
				align="center"
				width="80rpx"
				label="行次">
			</el-table-column>
			<el-table-column align="center"
				width="250rpx"
				label="客户">
			</el-table-column>
			<el-table-column align="center"
				width="200rpx"
				label="业务员">
			</el-table-column>
			<el-table-column align="center"
				width="100rpx"
				label="计价">
			</el-table-column>
			<el-table-column align="center"
				width="150rpx"
				label="事务总金额">
			</el-table-column>
			<el-table-column align="center"
				width="150rpx"
				label="订单总金额">
			</el-table-column>
			<el-table-column align="center"
				width="120rpx"
				label="结数">
			</el-table-column>
			<el-table-column align="center"
				width="120rpx"
				label="开票">
			</el-table-column>
			<el-table-column align="center"
				width="120rpx"
				label="订单状态">
			</el-table-column>
			<el-table-column align="center"
				width="120rpx"
				label="操作"
				fixed="right">
			</el-table-column>
		</el-table>
		<el-pagination :page-sizes="[10,20,30, 50]"
			layout="total, sizes, prev, pager, next, jumper">
		</el-pagination>
	</div>
</template>
<style scoped>
el-table {
	width: 100%;
}
</style>
<script>
export default {
	name: "orderReview"
}
</script>
